{% style %}
	.smi-content-settings .smi-content-max-width{width:var(--content-max-width);max-width:100%}.smi-content-settings .content-alignment-left{display:flex;flex-wrap:wrap;justify-content:flex-start;text-align:left}.smi-content-settings .content-alignment-right{display:flex;flex-wrap:wrap;justify-content:flex-end;text-align:right}.smi-content-settings .content-alignment-center{display:flex;flex-wrap:wrap;justify-content:center;text-align:center}@media screen and (min-width: 768px){.smi-content-settings .smi-content-position-left{display:flex;flex-wrap:wrap;justify-content:flex-start}.smi-content-settings .smi-content-position-right{display:flex;flex-wrap:wrap;justify-content:flex-end}.smi-content-settings .smi-content-position-center{display:flex;flex-wrap:wrap;justify-content:center}}.smi-component-blocks-heading{width:100%;justify-content:var(--content-alignment)}.smi-component-blocks-heading .heading-only{max-width:750px}.smi-component-blocks-heading .heading-only-left{margin:auto auto auto 0px}.smi-component-blocks-heading .heading-only-right{margin:auto 0px auto auto}.smi-component-blocks-heading .heading-only-center{margin:auto}.smi-component-blocks-heading .smi-text-75{opacity:.75}.smi-component-blocks-heading .sub-heading{color:rgba(var(--color-subtext), 1);letter-spacing:1px}.smi-component-blocks-heading .description{letter-spacing:var(--body-letter-spacing-scale, 0);margin-bottom:0px !important}.smi-component-blocks-heading .description p{margin-bottom:calc(16px*var(--spacing-elements));font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-component-blocks-heading .description p:last-child{margin-bottom:0px !important}.smi-section-video-1{position:relative}.smi-section-video-1 .smi-container-relative{position:relative;z-index:2}.smi-section-video-1 .smi-container-detail{display:flex;gap:0px 80px;align-items:center;flex-direction:var(--media-position)}.smi-section-video-1 .smi-container-detail .smi-content-max-width{width:var(--content-max-width) !important;max-width:100%}.smi-section-video-1 .smi-container-detail .smi-rich-text-detail{display:flex;flex-wrap:wrap;grid-gap:0px 24px}.smi-section-video-1 .smi-container-detail .smi-rich-text-detail div:last-child{margin-bottom:0px !important}.smi-section-video-1 .smi-container-detail .smi-rich-content{width:100%}.smi-section-video-1 .smi-container-detail .smi-rich-content-half-true{width:calc(50% - 12px) !important}.smi-section-video-1 .smi-container-detail .smi-block-type-divider{font-size:1px;color:rgba(0,0,0,0);height:1px;width:100%;background:rgba(var(--color-foreground), 0.2)}.smi-section-video-1 .smi-container-detail .smi-block-type-email_form .email-container{width:100%}.smi-section-video-1 .smi-container-detail .smi-block-type-email_form .email-container form{width:100% !important}.smi-section-video-1 .smi-container-detail .smi-rich-content-media .smi-rich-content-image img,.smi-section-video-1 .smi-container-detail .smi-rich-content-media .smi-rich-content-image svg{max-width:100%;object-fit:cover}.smi-section-video-1 .smi-container-detail .smi-rich-content-media .smi-rich-content-image .round{border-radius:2000px !important}.smi-section-video-1 .smi-container-detail .smi-block-type-text p:last-child{margin-bottom:0px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .unit-countdown{width:50px}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*24*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*20*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*18*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*18/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*16*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-heading-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*12/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px !important;padding-bottom:8px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-px-md{padding-left:8px !important;padding-right:8px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px !important;padding-bottom:4px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:2px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:2px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .solid_2_radius{padding:0px 6px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .solid_2{padding:0px 6px !important}.smi-section-video-1 .min-container .smi-component-settings-countdown-timer .smi-rich-content-half-true{width:100% !important}@media screen and (max-width: 768px){.smi-section-video-1 .smi-container-detail{display:flex;flex-direction:column-reverse}.smi-section-video-1 .smi-container-detail .smi-rich-content-half-true{width:100% !important}}@media screen and (max-width: 576px){.smi-section-video-1 .smi-component-settings-countdown-timer .unit-countdown{width:50px}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*24*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*20*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*18*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*18/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*16*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-heading-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*12/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px !important;padding-bottom:8px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-px-md{padding-left:8px !important;padding-right:8px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px !important;padding-bottom:4px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:2px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:2px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .solid_2_radius{padding:0px 6px !important}.smi-section-video-1 .smi-component-settings-countdown-timer .solid_2{padding:0px 6px !important}}smi-video-background{overflow:hidden;position:absolute;left:0;right:0;top:0;bottom:0}smi-video-background>*{width:100%;height:100%}smi-video-background .smi-placeholder-svg{object-fit:cover}smi-video-background .smi-cover-image{position:absolute;left:0;right:0;top:0;bottom:0;z-index:2}smi-video-background .smi-cover-image .smi-cover-image__img{object-fit:cover;width:100%;height:100%}smi-video-background .smi-upload-video video{width:100%;height:100%;object-fit:cover}smi-video-background .smi-video-url .smi-youtube-thumbnail{width:100%;height:100%;object-fit:cover}smi-video-background .smi-video-url iframe{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);pointer-events:none}
{% endstyle %}
{% comment %}#component#["settings/container-width","settings/media-width","settings/media-position","settings/media-height","settings/content-settings","settings/section-padding","settings/rich-content-heading","settings/collapsible-category","blocks/collapsible-content","settings/buttons","blocks/color","blocks/background","settings/media-settings","settings/product-card","settings/heading","settings/custom-icons","blocks/product-variant","blocks/product-quantity","blocks/product-purchase","blocks/product-color","settings/countdown-timer","settings/color-scheme","settings/media-settings-3","settings/layout-settings","settings/content-alignment","settings/slider-arrows","settings/slider-dots","settings/testimonial-block","settings/text","settings/social-media","settings/image","settings/icon-with-text","settings/page-content","blocks/email-signup","settings/video","settings/play-button","settings/video/only-video","settings/blog-card","settings/design-mode","settings/animation-settings","settings/rating","settings/slider-pagination-1-style","settings/divider","settings/icon-setting","settings/media-settings-5"]#endcomponent#{% endcomment %}
{% assign playButton = section.blocks | where: 'type', 'play_button' %}
<style>
    {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
	#shopify-section-{{ section.id }},
	#shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
	.smi-color-{{ section.id }} {
	--color-foreground-hex: {{ colorblock.settings.text_color }};
	--color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
	--color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
	--color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
	--color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
	--color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
	--color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
	}
{% endif %}
    #shopify-section-{{ section.id }} {
    }
    #smi-{{ section.id }} {
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
;
        --content-max-width: {{ section.settings.content_max_width }}px;;
        --content-alignment: {{ section.settings.content_alignment }};
        --media-position: {{ section.settings.desktop_media_position }};
    }
</style>
<div
        id="smi-{{ section.id }}"
        class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-video-1 smi-color-{{ section.settings.color_scheme }} smi-content-settings  {{- ' smi-hover-bg-image-' | append: settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' -}}"
        data-section="video-1" data-name="✧Video 1">
         
    <script src="{{ 'smi-video-background.js' | asset_url }}" defer data-id="smi-video-background"></script>
<smi-video-background
	{%- liquid
		if section.settings.autoplay == true
			echo ' autoplay'
		else
			echo ' paused'
		endif
	-%}
>
	{% liquid
		assign autoplay = true
		assign autoplay_iframe = 1
		assign preloadVideo = 'auto'
		if section.settings.autoplay == false
			assign autoplay = false
			assign autoplay_iframe = 0
			assign preloadVideo = 'none'
		endif
	%}
	{% if section.settings.cover_image != blank and autoplay == false %}
		<div class="smi-cover-image">
			{{ section.settings.cover_image | image_url: width: 1920 | image_tag: class: 'smi-cover-image__img smi-bg-image', widths: '400,500,700,800,1000,1200,1400,1600,1920', sizes: '(max-width:460px) calc(100vw/2)' }}
		</div>
	{% endif %}
	{% if section.settings.upload_video != blank %}
		<div class="smi-upload-video">
			{{ section.settings.upload_video | video_tag: autoplay: autoplay, loop: true, muted: true, controls: false, image_size: '1440x', preload: preloadVideo }}
		</div>
	{% elsif section.settings.video_url != blank %}
		<div class="smi-video-url">
			{%- if section.settings.video_url.type == 'youtube' -%}
				{% if autoplay == false %}
					<img class="smi-youtube-thumbnail smi-bg-image"
						 src="https://i.ytimg.com/vi/{{ section.settings.video_url.id }}/maxresdefault.jpg" alt="">
				{% else %}
					<iframe
						src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay={{ autoplay_iframe }}&mute=1&loop=1&controls=0&playlist={{ section.settings.video_url.id }}&rel=0"
						class="smi-js-youtube smi-background-video"
						allow="autoplay; encrypted-media" loading="lazy"
						allowfullscreen
						width="100%"
						height="100%"
					></iframe>
				{% endif %}
			{%- else -%}
				<iframe
					src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?title=0&byline=0&portrait=0&autoplay={{ autoplay_iframe }}&loop=1&background=1"
					class="smi-js-vimeo smi-background-video"
					allow="autoplay; encrypted-media" loading="lazy"
					allowfullscreen
					width="100%"
					height="100%"
				></iframe>
			{%- endif -%}
		</div>
	{% elsif section.settings.cover_image == blank %}
		{{ 'hero-apparel-1' | placeholder_svg_tag: 'smi-placeholder-svg smi-bg-image' }}
	{% endif %}
</smi-video-background>
    {% if playButton != blank %}
        {% liquid
	assign colorblock = section.blocks | where: 'type', 'color' | first
	if colorblock
		assign custom_color = 'smi-color-' | append: section.id
	else
		assign custom_color = 'smi-color-' | append: section.settings.color_scheme
	endif
%}
<div class="smi-video-modal smi-section smi-lite-modal smi-modal-xl smi-dropdown-popup-wrapper smi-border smi-shadow {{ custom_color }}" id="modal_{{ section.id }}">
	<button onclick="smiLiteModal.close()" class="smi-modal-close">{% render 'smi-icons', icon: 'close' %}</button>
	{% if section.settings.upload_video != blank %}
		<div class="smi-upload-video">
			{{ section.settings.upload_video | video_tag: autoplay: false, loop: false, muted: true, controls: true, image_size: '1440x', preload: 'none'  }}
		</div>
	{% elsif section.settings.video_url != blank %}
		<div class="smi-video-url">
			{%- if section.settings.video_url.type == 'youtube' -%}
				<iframe
					src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&autoplay=0&mute=1&loop=0&controls=1&playlist={{ section.settings.video_url.id }}&rel=0"
					class="smi-js-youtube"
					allow="autoplay; encrypted-media" loading="lazy"
					allowfullscreen
					width="100%"
					height="100%"
				></iframe>
			{%- else -%}
				<iframe
					src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?autoplay=0&pip=0&muted=1"
					class="smi-js-vimeo"
					allow="autoplay; encrypted-media" loading="lazy"
					allowfullscreen
					width="100%"
					height="100%"
				></iframe>
			{%- endif -%}
		</div>
	{% elsif section.settings.cover_image == blank %}
		{{ 'hero-apparel-1' | placeholder_svg_tag: 'smi-placeholder-svg' }}
	{% endif %}
</div>
    {% endif %}
    <input type="hidden" value="" id="interval_countdown_{{ section.id }}">
    <div class="smi-container-relative smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%}">
        <div class="smi-container-detail
            {%- if section.settings.content_max_width < 576 %} min-container{%- endif -%}
            {{- ' smi-content-position-' | append: section.settings.content_position -}}">
            {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
            <div class="smi-rich-text-detail smi-content-max-width {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}">
                {% for block in section.blocks %}
                    <div class="content-alignment-{{ section.settings.content_alignment -}}
                {{- ' smi-rich-content' -}}
                {%- if block.type == "icon_with_text" %} smi-rich-content-half-{{ block.settings.half_width_on_large_screen }}{% endif -%}
                {%- liquid
                        if block.type != 'color' and block.type != 'background'
                            if block.type == 'button'
                                echo ' smi-mb-md'
                            else
                                echo ' smi-mb-lg'
                            endif
                        endif
                    -%}
                {{- ' smi-block-type-' | append: block.type -}}" {{ block.shopify_attributes }}>
                        {% if block.type == 'play_button' %}
                            <div onclick="smiLiteModal.open('#modal_{{ section.id }}')">
                                <div class="smi-play-button-component smi-button-wrapper
	{{- ' smi-' | append: block.settings.play_button -}}
	{%- unless block.settings.play_button contains 'icon' -%}
		{{- ' smi-play-button-component--border-radius' -}}
		{{- ' smi-shadow' -}}
	{%- endunless -%}">
	<div class="__smi-icon">
		{% render 'smi-icons', icon: 'play-button' %}
	</div>
	{% if block.settings.play_button != 'icon-s' and block.settings.play_button != 'icon-l' and block.settings.play_button != 'icon-m' %}
		<div class="__smi-label">{{ block.settings.play_button_label }}</div>
	{% endif %}
</div>
                            </div>
                        {% endif %}
                        {% if block.type == 'heading' %}
                            <div class="smi-component-blocks-heading content-alignment-{{ content_alignment }}">
  <div class="heading-only heading-only-{{ content_alignment }}">
    <p class="smi-text-sub smi-mb-xxs sub-heading smi-link-wrapper" data-type="subheading" data-key="b.heading.sub_heading">{{ block.settings.sub_heading }}</p>
    <h5 class="{{ block.settings.heading_size }} 
        {% if block.settings.description != blank or block.settings.description != ""%} smi-mb-sm {% endif %} smi-link-wrapper" data-type="heading" data-key="b.heading.heading">{{ block.settings.heading}}</h5>
    <div class="smi-text-md smi-text-75 description smi-link-wrapper" data-field="richtext" data-type="description" data-key="b.heading.description">{{ block.settings.description }}</div>
</div>  
</div>
                        {% endif %}
                        {% if block.type == 'button' %}
                            <div class="smi-component-buttons smi-button-wrapper
    {%- if block.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless block.settings.first_button_style contains 'text' or block.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = block.settings.first_button_label
    assign button_style = block.settings.first_button_style
    assign button_link = block.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = block.settings.second_button_label
    assign button_style = block.settings.second_button_style
    assign button_link = block.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "✧Video 1-2",
	"tag": "section",
	"class": "smi-section smi-video-1",
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "image_picker",
			"id": "cover_image",
			"label": "Cover image",
			"info": "The image above will show if autoplay is disabled."
		},
		{
			"type": "video",
			"id": "upload_video",
			"label": "Upload video"
		},
		{
			"type": "video_url",
			"id": "video_url",
			"label": "Video URL",
			"accept": [
				"youtube",
				"vimeo"
			],
			"info": "Accepts YouTube, Vimeo URL"
		},
		{
			"type": "checkbox",
			"id": "autoplay",
			"label": "Autoplay",
			"default": false,
			"info": "Only applicable for video background."
		},
		{
			"type": "paragraph",
			"content": "To set play button for the video, use \"Play button\" block."
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "play_button",
			"name": "Play button",
			"settings": [
				{
					"type": "select",
					"id": "play_button",
					"label": "Play button",
					"options": [
						{
							"value": "icon-s",
							"label": "Icon - S"
						},
						{
							"value": "icon-m",
							"label": "Icon - M"
						},
						{
							"value": "icon-l",
							"label": "Icon - L"
						},
						{
							"value": "icon-bottom-label-s",
							"label": "Icon + bottom label - S"
						},
						{
							"value": "icon-bottom-label-m",
							"label": "Icon + bottom label - M"
						},
						{
							"value": "icon-bottom-label-l",
							"label": "Icon + bottom label - L"
						},
						{
							"value": "icon-right-label",
							"label": "Icon + right label"
						},
						{
							"value": "outline-button-s",
							"label": "Outline button - S"
						},
						{
							"value": "outline-button-m",
							"label": "Outline button - M"
						},
						{
							"value": "outline-button-l",
							"label": "Outline button - L"
						},
						{
							"value": "solid-button-s",
							"label": "Solid button - S"
						},
						{
							"value": "solid-button-m",
							"label": "Solid button - M"
						},
						{
							"value": "solid-button-l",
							"label": "Solid button - L"
						}
					],
					"default": "icon-s"
				},
				{
					"type": "text",
					"id": "play_button_label",
					"label": "Button label",
					"default": "Play Video"
				}
			]
		},
		{
			"type": "heading",
			"name": "Heading",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Opening Hours"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h3"
				},
				{
					"type": "richtext",
					"id": "description",
					"default": "<p>Enjoy 10% off on your first purchase and be the first to know about new releases, latest stories and offers.</p>",
					"label": "Description"
				}
			]
		},
		{
			"type": "button",
			"name": "Buttons",
			"settings": [
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "checkbox",
					"id": "button_full_width",
					"label": "Button full-width",
					"default": false
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Custom color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Video 1-2",
			"settings": {
				"full_width": false,
				"cover_image": "shopify://shop_images/smi-image_clothing-80.jpg",
				"video_url": "https://youtu.be/_p6lbzK6ilE",
				"autoplay": false,
				"content_position": "center",
				"content_alignment": "center",
				"content_max_width": 570,
				"padding_top": 170,
				"padding_bottom": 170,
				"color_scheme": "scheme_4"
			},
			"blocks": [
				{
					"type": "heading",
					"settings": {
						"sub_heading": "WATCH VIDEO",
						"heading": "Timeless styles for modern wardrobes",
						"heading_size": "smi-h2",
						"description": "<p>Indulge in the perfect blend of sophistication and comfortin designs tailored for those who appreciate timeless.</p>"
					}
				},
				{
					"type": "play_button",
					"settings": {
						"play_button": "icon-bottom-label-m",
						"play_button_label": "Watch the video"
					}
				},
				{
					"type": "color",
					"settings": {
						"text_color": "#ffffff",
						"subtext_color": "#ffffff",
						"solid_background_button_color": "#ffffff",
						"solid_button_label_color": "#63513f",
						"outline_button_color": "#ffffff",
						"shadow_color": "#ffffff"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
window.addEventListener("DOMContentLoaded",(e=>{document.getElementById("smi-{{ section.id }}")})),window.addEventListener("DOMContentLoaded",(e=>{removeSpaceCollapsibleContent()}));var intervals=[];function removeSpaceCollapsibleContent(){var e=document.querySelectorAll(".smi-block-type-collapsible_content");for(let t=0;t<e.length;t++){let o=e[t].nextElementSibling;if(o.classList.contains("smi-block-type-collapsible_content")&&e[t].classList.remove("smi-mb-lg"),o.classList.contains("smi-block-type-color")){o.nextElementSibling.classList.contains("smi-block-type-collapsible_content")&&(e[t].classList.remove("smi-mb-lg"),console.log("contain color"))}}}Shopify.designMode&&removeSpaceCollapsibleContent(),function(){if(Shopify.designMode){let e=0;const t=setInterval((()=>{e++,("function"==typeof SMI_VideoBackground||e>=500)&&(clearInterval(t),customElements.get("smi-video-background")||customElements.define("smi-video-background",SMI_VideoBackground))}),10)}else document.addEventListener("DOMContentLoaded",(()=>{customElements.get("smi-video-background")||customElements.define("smi-video-background",SMI_VideoBackground)}))}(),function(){class e{constructor(){const e="smi-{{ section.id }}";this.sectionId=e.replace("smi-",""),this.sectionEl=document.querySelector("#"+e),this.modalId="modal_"+this.sectionId,this.modalEl=document.querySelector(`#${this.modalId}`),this._handleVideoPlay(),this._addAltToImgInVideoUpload()}_addAltToImgInVideoUpload(){this.sectionEl.querySelectorAll("video").forEach((e=>{const t=e.querySelector("img");t&&t.setAttribute("alt","video")}))}_handleVideoPlay(){const e=this.sectionEl.querySelector("smi-video-background");document.addEventListener("smiLiteModalOpen",(t=>{this.playVideo(),e&&e.hasAttribute("autoplay")&&e.setAttribute("paused","")})),document.addEventListener("smiLiteModalClose",(t=>{this.pauseVideo(),e&&e.hasAttribute("autoplay")&&e.removeAttribute("paused")}))}pauseVideo(){const e=this.modalEl.querySelector(".smi-js-vimeo"),t=this.modalEl.querySelector(".smi-js-youtube"),o=this.modalEl.querySelector(".smi-upload-video video");e&&e.contentWindow.postMessage('{"method":"pause"}',"*"),t&&t.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}',"*"),o&&o.pause()}playVideo(){const e=this.modalEl.querySelector(".smi-js-vimeo"),t=this.modalEl.querySelector(".smi-js-youtube"),o=this.modalEl.querySelector(".smi-upload-video video");if(e&&e.contentWindow.postMessage('{"method":"play"}',"*"),t&&t.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}',"*"),o){let e;clearTimeout(e),e=setTimeout((()=>o.play()),150)}}}Shopify.designMode?new e:document.addEventListener("DOMContentLoaded",(()=>{new e}))}();
</script>