{% style %}
	.smi-content-settings .smi-content-max-width{width:var(--content-max-width);max-width:100%}.smi-content-settings .content-alignment-left{display:flex;flex-wrap:wrap;justify-content:flex-start;text-align:left}.smi-content-settings .content-alignment-right{display:flex;flex-wrap:wrap;justify-content:flex-end;text-align:right}.smi-content-settings .content-alignment-center{display:flex;flex-wrap:wrap;justify-content:center;text-align:center}@media screen and (min-width: 768px){.smi-content-settings .smi-content-position-left{display:flex;flex-wrap:wrap;justify-content:flex-start}.smi-content-settings .smi-content-position-right{display:flex;flex-wrap:wrap;justify-content:flex-end}.smi-content-settings .smi-content-position-center{display:flex;flex-wrap:wrap;justify-content:center}}.subcribe-container{position:relative}.subcribe-container .smi-button-wrapper{border-radius:var(--inputs-radius)}.subcribe-container .smi-inputs-wrapper:focus,.subcribe-container .smi-inputs-wrapper:focus-visible,.subcribe-container .smi-inputs-wrapper:hover,.subcribe-container .smi-inputs-wrapper:focus-within,.subcribe-container .smi-inputs-wrapper:active{outline:1px solid rgba(var(--color-foreground), 1);border:var(--border-width) solid rgba(var(--color-foreground), 1)}.email-container .smi-field-validate{display:flex;align-items:flex-start;font-size:calc(13px*var(--body-size))}.email-container .smi-field-validate span{line-height:calc((1 + .8/(var(--font-body-scale)*14/16))*var(--body-line-height-scale, 1))}.email-container .smi-field-validate svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));margin-right:5px}.email-container .button-sub{border:none}.email-container .smi-email-signup-vertical-2{--border-radius: var(--inputs-radius);--border-width: var(--inputs-border-width);--border-opacity: var(--inputs-border-opacity);--shadow-horizontal-offset: var(--inputs-shadow-horizontal-offset);--shadow-vertical-offset: var(--inputs-shadow-vertical-offset);--shadow-blur-radius: var(--inputs-shadow-blur-radius);--shadow-opacity: var(--inputs-shadow-opacity)}.email-container .smi-email-signup-vertical-2 .button-sub{width:100%;border-radius:var(--border-radius);box-shadow:var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity))}.email-container .smi-email-signup-vertical-2 .button-sub::before,.email-container .smi-email-signup-vertical-2 .button-sub::after{display:none}.email-container.style-1 .smi-group-input,.email-container.style-5 .smi-group-input,.email-container.style-6 .smi-group-input{min-width:100%}@media screen and (max-width: 767.98px){.email-container.style-1 .smi-button-wrapper,.email-container.style-5 .smi-button-wrapper,.email-container.style-6 .smi-button-wrapper{position:initial}}.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon{padding:0px;background-color:rgba(0,0,0,0);border:none;right:calc(var(--spacing-elements)*12px);cursor:pointer}.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon svg,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon svg,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));stroke:rgba(var(--color-foreground))}.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon svg path,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon svg path,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon svg path{fill:rgba(var(--color-foreground))}@media screen and (max-width: 767.98px){.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon{position:absolute}}.email-container.style-1 .subcribe-container{margin-bottom:var(--inputs-shadow-horizontal-offset)}.email-container.style-1 .smi-inputs-wrapper{position:relative;padding:0px}.email-container.style-1 .smi-button-wrapper{margin-left:auto;cursor:pointer;z-index:2}.email-container.style-1 .button-sub{padding-left:30px;padding-right:30px;--border-radius: var(--inputs-radius);--border-width: var(--inputs-border-width);--border-opacity: var(--inputs-border-opacity);--shadow-horizontal-offset: var(--inputs-shadow-horizontal-offset);--shadow-vertical-offset: var(--inputs-shadow-vertical-offset);--shadow-blur-radius: var(--inputs-shadow-blur-radius);--shadow-opacity: var(--inputs-shadow-opacity);height:100%;box-shadow:none}@media screen and (min-width: 768px){.email-container.style-1 .smi-button.smi-hover-vertical-lift:hover{transform:translateY(0)}}.email-container.style-1 .smi-input-outline{position:relative;min-height:47px;width:calc(100% - 148px)}.email-container.style-1 .smi-input-outline input{height:100%;top:unset;left:unset}.email-container.style-1 .smi-input-outline input:focus-visible{outline:none;outline-offset:none;box-shadow:none}@media screen and (max-width: 767.98px){.email-container.style-1{width:100%;max-width:100%}.email-container.style-1 .smi-inputs-wrapper{border:none;border-radius:none;box-shadow:none;outline:none;flex-wrap:wrap;gap:16px}.email-container.style-1 .smi-inputs-wrapper .smi-input-outline{position:relative;min-height:47px;width:100%;border-radius:var(--border-radius);border:var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));box-shadow:var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity))}.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:focus,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:focus-visible,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:hover,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:focus-within,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:active{outline:1px solid rgba(var(--color-foreground), 1);border:var(--border-width) solid rgba(var(--color-foreground), 1)}.email-container.style-1 .email-input{position:relative;top:unset;left:unset}.email-container.style-1 .smi-button-wrapper{width:100%}}.email-container.style-2 .subcribe-container{align-items:flex-start;align-self:stretch;width:100%}.email-container.style-2 .smi-button-wrapper{position:inherit;min-width:148px}@media screen and (max-width: 767.98px){.email-container.style-2 .smi-button-wrapper{width:100%;max-width:100%}}.email-container.style-2 .smi-group-input{max-width:calc(100% - var(--horizontal-space-md) - var(--horizontal-space-md)/2);position:relative;width:calc(100% - 148px)}.email-container.style-2 .smi-group-input .email-input{position:relative;top:unset;left:unset;outline:none}.email-container.style-2 .smi-p-relative{gap:16px;width:100%}.email-container.style-2 .button-sub{padding-left:30px;padding-right:30px}@media screen and (max-width: 1200px){.email-container.style-2 .subcribe-container{display:block !important}.email-container.style-2 .smi-group-input{width:100%;max-width:100%;min-width:100%}.email-container.style-2 .button-sub{margin-top:0px}.email-container.style-2 .smi-p-relative{flex-wrap:wrap}.email-container.style-2 .email-input{width:100% !important;max-width:100% !important;top:unset;left:unset}}.email-container.style-3 .subcribe-container{padding:var(--boder, 0px);flex-direction:column;align-items:center}.email-container.style-3 .email-input{text-align:var(--content-alignment)}.email-container.style-3 .subcribe-container{align-items:flex-start;align-self:stretch;width:100%}.email-container.style-3 .smi-button-wrapper button{min-height:47px;border:var(--border-width) solid rgb(var(--color-button));padding-top:0px;padding-bottom:0px}@media screen and (max-width: 767.98px){.email-container.style-3 .smi-button-wrapper{width:100%;max-width:100%}}.email-container.style-3 .smi-group-input{max-width:calc(100% - var(--horizontal-space-md) - var(--horizontal-space-md)/2);position:relative;margin-bottom:var(--horizontal-space-md);width:100%;max-width:100%}.email-container.style-3 .smi-group-input .email-input{position:relative;top:unset;left:unset;outline:none}.email-container.style-3 .smi-p-relative{width:100%;flex-wrap:wrap;justify-content:var(--content-alignment)}.email-container.style-4 .subcribe-container{padding:var(--boder, 0px);flex-direction:column;align-items:center}.email-container.style-4 .email-input{text-align:center}.email-container.style-4 .subcribe-container{align-items:flex-start;align-self:stretch;width:100%}.email-container.style-4 .smi-button-wrapper{width:100%}.email-container.style-4 .smi-button-wrapper button{min-height:47px;width:100%;max-width:100%;border:var(--border-width) solid rgb(var(--color-button));padding-top:0px;padding-bottom:0px}.email-container.style-4 .smi-group-input{max-width:calc(100% - var(--horizontal-space-md) - var(--horizontal-space-md)/2);position:relative;margin-bottom:var(--horizontal-space-md);width:100%;max-width:100%}.email-container.style-4 .smi-group-input .email-input{position:relative;top:unset;left:unset;outline:none}.email-container.style-4 .smi-p-relative{width:100%;flex-wrap:wrap;justify-content:center}.email-container.style-5 .subcribe-container{margin-bottom:var(--inputs-shadow-horizontal-offset)}.email-container.style-5 .smi-inputs-wrapper{position:relative;padding:0px;min-height:47px}.email-container.style-5 .email-input{min-height:47px;position:relative;top:unset;left:unset}.email-container.style-5 .email-input:focus-visible{outline:none;outline-offset:none;box-shadow:none}.email-container.style-5 .smi-button-wrapper{margin-left:auto;cursor:pointer;z-index:2;position:absolute}.email-container.style-5 .smi-button-wrapper{width:50px;min-height:47px;text-align:right}.email-container.style-6 .subcribe-container{margin-bottom:var(--inputs-shadow-horizontal-offset)}.email-container.style-6 .smi-inputs-wrapper{position:relative;padding:0px;min-height:47px}.email-container.style-6 input{min-height:unset}.email-container.style-6 .smi-button-wrapper{margin-left:auto;cursor:pointer;z-index:2;position:absolute}.email-container.style-6 input{border:none;outline:none;display:inline-block;width:calc(100% - var(--vertical-space-md, 16px));background-color:rgba(0,0,0,0);font-style:normal;font-weight:400;letter-spacing:var(--body-letter-spacing-scale, 0)}.email-container.style-6 .smi-button-wrapper{width:50px;min-height:47px;text-align:right}.email-container.style-6 .smi-email-input{display:flex;width:100%;align-items:center;padding-left:var(--vertical-space-md, 16px)}.email-container.style-6 .smi-email-input svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));stroke:rgba(var(--color-foreground))}.email-container.style-6 .smi-email-input svg path{fill:rgba(var(--color-foreground))}.email-container.style-6 .email-input{min-height:47px;top:unset;display:flex;align-items:center;left:unset;position:relative;padding-left:8px}.email-container.style-6 .email-input:focus-visible{outline-offset:0px;box-shadow:none}.email-container .email-input svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));stroke:rgba(var(--color-foreground))}.email-container .email-input svg path{fill:rgba(var(--color-foreground))}.email-container .smi-field-validate{text-align:var(--content-alignment);margin-bottom:0px;justify-content:var(--content-alignment);position:relative;display:flex}.email-container .smi-field-validate .smi-icon-sucess+span{text-align:left}@media screen and (max-width: 767.98px){.email-container .email-input{width:100%}}.smi-button-wrapper.smi-button-wrapper-over{border-radius:calc(var(--inputs-radius) - var(--inputs-border-width));border-width:0px}.smi-button-wrapper.smi-button-wrapper-over .button-sub{min-width:148px;border-radius:calc(var(--inputs-radius) - var(--inputs-border-width))}.smi-button-wrapper.smi-button-wrapper-over .button-sub:before{display:none}.smi-button-wrapper.smi-button-wrapper-over .button-sub:after{display:none}.email-input{min-height:47px;position:absolute;width:calc(100% - var(--border-width) - 1px);height:calc(100% - var(--border-width) - 1px);left:calc(var(--border-width) - 1px);top:calc(var(--border-width) - 1px);padding:10px 16px;border:none;box-shadow:none;flex:1;background:rgba(0,0,0,0);color:var(--color-foreground);border-radius:calc(var(--border-radius) - 6px);background-color:var(--color-background);font-family:inherit;appearance:none;touch-action:none}@media screen and (max-width: 767.98px){.email-input{padding-top:12px;padding-bottom:12px}}.email-input.smi-content-with-input-m{width:360px}.email-input::placeholder,.email-input input::placeholder{overflow:hidden;color:rgba(var(--color-foreground), 0.55);text-overflow:ellipsis;letter-spacing:var(--body-letter-spacing-scale, 0)}@media screen and (max-width: 767.98px){.email-input.smi-input-email-signup-icon{padding-top:0px;padding-bottom:0px}}.smi-group-input{display:contents;align-self:stretch;padding:0px}.smi-button-wrapper .button-sub{display:flex;justify-content:center;align-items:center;cursor:pointer;border:none;border-radius:var(--inputs-radius);margin:0px;height:100%;padding-top:calc(var(--spacing-elements)*12px);padding-bottom:calc(var(--spacing-elements)*12px);font-weight:var(--button-font-weight, 500);font-family:var(--button-font-family);text-transform:var(--button-text-case, unset);letter-spacing:var(--button-letter-spacing-scale, 0)}.smi-button-wrapper .button-sub .button-sub-content{color:rgba(var(--color-button-text), 1)}.smi-button-wrapper .button-sub span svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1))}@media screen and (max-width: 767.98px){.smi-button-wrapper .button-sub{width:100%;padding-top:12px !important;padding-bottom:12px !important}}.smi-component-blocks-social-media .smi-social-media-icon{max-width:100%;display:flex;grid-gap:12px;flex-wrap:wrap}.smi-component-blocks-social-media .smi-social-media-icon a{display:flex}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link{position:relative;display:inline-block}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link .tooltiptext{visibility:hidden;width:150px;font-size:14px !important;background-color:#555;color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:1;bottom:150%;left:50%;margin-left:-75px;opacity:0;transition:opacity .3s}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0)}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link:hover .tooltiptext{visibility:visible;opacity:1}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon{display:flex;justify-content:center;align-items:center;padding:8px;line-height:initial}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon svg path{fill:rgba(var(--color-foreground), 0.75)}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon:hover svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon:hover svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1 svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1 svg path{fill:rgba(var(--color-foreground), 0.75)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1:hover svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1:hover svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-2{border-radius:5000px;background:rgba(var(--color-foreground), 0.04)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-3{border-radius:5000px;border:1px solid rgba(var(--color-foreground), 0.2)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-3:hover{border:1px solid rgba(var(--color-foreground), 1)}.smi-component-blocks-social-media span svg path{fill:rgb(var(--color-foreground))}.smi-hide-social-icon-on-sm{display:none}@media screen and (min-width: 992px){.smi-show-social-icon-on-desktop{display:block !important}}.smi-section-email-signup .smi-heading-component{text-align:var(--content-alignment);justify-content:var(--content-postion)}.smi-section-email-signup .smi-placeholder{height:100%;width:100%}.smi-section-email-signup .smi-email-signup-image{position:relative}.smi-section-email-signup .smi-email-signup-image img{position:absolute}.smi-section-email-signup .smi-heading-component__description p{margin-bottom:0px}.smi-section-email-signup .smi-heading-inner{text-align:var(--content-alignment);margin-bottom:calc(var(--spacing-elements)*24px)}.smi-section-email-signup .smi-content-postion{justify-content:var(--content-postion)}.smi-section-email-signup .smi-component-blocks-heading{display:flex;justify-content:var(--content-postion);flex-direction:column;text-align:var(--content-alignment);position:relative}.smi-section-email-signup .smi-component-blocks-heading h6,.smi-section-email-signup .smi-component-blocks-heading h5,.smi-section-email-signup .smi-component-blocks-heading p{width:100%}@media screen and (max-width: 767.98px){.smi-section-email-signup .smi-component-blocks-heading{display:inline-block}}.smi-section-email-signup #smi-subscribe-Form{width:100%}.smi-section-email-signup .smi-container-content{width:var(--content-max-width);position:relative;max-width:100%}.smi-section-email-signup .smi-container-content>div:last-child{margin-bottom:0px}.smi-section-email-signup .smi-component-blocks-social-media{display:flex;align-items:center;justify-content:var(--content-alignment);position:relative}.smi-section-email-signup-4{background:linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04)),var(--gradient-background)}.smi-section-email-signup-4 .smi-background-block{background:linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04)),var(--gradient-background)}.smi-section-email-signup-4 .smi-media__image-item{height:100%;width:100%;object-fit:cover}.smi-section-email-signup-4 .smi-content-item{background-color:var(--gradient-background)}.smi-section-email-signup-4 .smi-container-content{width:var(--content-max-width);max-width:100%}.smi-section-email-signup-4 .smi-content-wrapper{overflow:hidden;position:relative}@media screen and (max-width: 767.98px){.smi-section-email-signup-4 .smi-content-wrapper.smi-flex-row{flex-direction:row-reverse !important;flex-wrap:wrap}.smi-section-email-signup-4 .smi-content-wrapper.smi-flex-row .smi-email-signup-content{order:2}.smi-section-email-signup-4 .smi-content-wrapper.smi-flex-row .smi-email-signup-image{order:1;width:100%}}@media screen and (max-width: 767.98px){.smi-section-email-signup-4 .smi-content-wrapper{flex-wrap:wrap}.smi-section-email-signup-4 .smi-content-wrapper .smi-email-signup-image{order:1;width:100%}.smi-section-email-signup-4 .smi-content-wrapper .smi-email-signup-content{order:2}}@media screen and (max-width: 767.98px){.smi-section-email-signup-4 .smi-content-wrapper-no-padding{flex-wrap:wrap}.smi-section-email-signup-4 .smi-content-wrapper-no-padding .smi-email-signup-image{order:1}.smi-section-email-signup-4 .smi-content-wrapper-no-padding .smi-email-signup-content{order:2}}.smi-section-email-signup-4 .smi-content-postion{height:100%;background:var(--color-background);align-items:center;padding:var(--vertical-between-elements-xxl, 48px) var(--horizontal-between-elements-xxl, 48px)}@media screen and (max-width: 767.98px){.smi-section-email-signup-4 .smi-content-postion{padding:calc(var(--container-full-gutter)*2) var(--container-full-gutter)}}@media screen and (min-width: 768px)and (max-width: 991.98px){.smi-section-email-signup-4 .smi-detail-container-fluid-no-padding{width:100%;margin-inline-start:0px;margin-inline-end:0px}.smi-section-email-signup-4 .smi-email-signup-image{width:50%}.smi-section-email-signup-4 .smi-email-signup-content{width:50%}}@media screen and (max-width: 767.98px){.smi-section-email-signup-4 .smi-detail-container-fluid-no-padding{width:100%;margin-inline-start:0px;margin-inline-end:0px}}
{% endstyle %}
{% comment %}#component#["settings/container-width","settings/media-width","settings/media-position","settings/media-height","settings/content-settings","settings/color-scheme","settings/section-padding","blocks/background","settings/heading","blocks/email-signup","settings/social-media","settings/design-mode","settings/animation-settings"]#endcomponent#{% endcomment %}
<style>
    {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
    #shopify-section-{{ section.id }}{
      --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
 --heading-alignment: {{ section.settings.heading_alignment }};
      --content-alignment: {{ section.settings.content_alignment }};
  		--content-postion: {{ section.settings.content_position }};
      --media-position: {{ section.settings.desktop_media_position }};
    }
    {% if colorblock %}
      #smi-{{ section.id }}{
        --content-max-width: {{ section.settings.content_max_width }}px;
        {% if section.settings.contaWner_full_width %}
          --container-full-gutter : 0px;
        {% endif %}
      }
      #shopify-section-{{ section.id }} {
        .smi-background-block{
          {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
          {% else %}
              --gradient-background: {{ colorblock.settings.background_gradient_color }};
              background: var(--gradient-background);
          {% endif %}
        }
        .smi-content-item{
          {% if colorblock.settings.background_gradient_color != blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
          {% endif %}
        }
      }
    {% endif %}
  #smi-{{ section.id }}{
    --content-max-width: {{ section.settings.content_max_width }}px;
    {%- for block in section.blocks -%}
      {% if block.type == 'email_form' %}
        --content-space-form: {{ block.settings.space_form }}px;
      {% endif %}
    {% endfor %}
  }
   /* Check backgroundblock */
   {% assign backgroundblock = section.blocks | where: 'type', 'background' | first %}
{% if backgroundblock %}
    #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }} .smi-background-block{
      {% assign backgroundblock = section.blocks | where: 'type', 'background' | first %}
      {% if backgroundblock.settings.background_simple != blank %}
        {% if colorblock.settings.background_gradient_color == blank %}
          --gradient-background: {{ backgroundblock.settings.background_simple }};
        {% else %}
          --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
      {% endif %}
    }
{% endif %}
</style>
{%- liquid
  assign image_banner = section.settings.image_banner
-%}
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner smi-section-email-signup smi-section-email-signup-4 smi-color-{{ section.settings.color_scheme }}"
  data-section="email-signup-4" data-name="✧Email signup 4">
   
  {% render 'smi-background' %}
  <div class="smi-{{ section.settings.full_width }}">
    <div class="{% if section.settings.full_width != 'container-fluid-no-padding' %} smi-content-wrapper smi-shadow smi-border {% endif %} smi-content-wrapper-no-padding smi-d-flex smi-align-self-stretch smi-flex-{{ section.settings.desktop_media_position }}">
      <div class="smi-email-signup-content smi-content-item  smi-w-100 smi-w-md-50 smi-w-lg-{{ 100 | minus: section.settings.desktop_media_width }}">
        <div class="smi-content-postion smi-block-custom-color smi-d-flex">
          <div class="smi-container-content">
            {%- for block in section.blocks -%}
              {% if block.type == 'heading' %}
                {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{block.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = block.settings.heading | strip
    assign sub_heading = block.settings.sub_heading | strip
    assign description = block.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = block.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{%- assign heading = block.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ block.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
              {% endif %}
              {% if block.type == 'email_form' %}
                <div class="smi-mb-lg">{% liquid
  for block in section.blocks
    if block.type == 'email_form'
      assign style_email_signup = block.settings.style_email_signup | times: 1
    endif
  endfor
  capture icon_success
    render 'smi-icons', icon: 'success'
  endcapture
  capture icon_error
    render 'smi-icons', icon: 'error'
  endcapture
  assign form_success = 'smind.form.form_email_success' | t
  assign form_error = 'smind.form.form_error' | t
  assign field_invalid = 'smind.form.field_invalid' | t : field : "Email"
  assign field_required = 'smind.form.field_required' | t : field : "Email"
%}
<div class="email-container style-{{style_email_signup}} smi-d-block smi-d-sm-flex smi-align-items-center smi-column-gap-xs" {{- block.shopify_attributes -}}>
  {%- form 'customer', id: 'smi-subscribe-Form', class: 'smi-form' -%}
    <div class="subcribe-container {% if style_email_signup == 2  %}smi-column-gap-md{% endif %} {% if style_email_signup == 3 or style_email_signup == 4 %}smi-row-gap-md{% endif %} smi-d-block smi-d-md-flex smi-justify-content-center smi-align-item-center">
      {% if style_email_signup == 1  %}
        <div class="smi-p-relative smi-flex-1">
          <div class="smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">
            <div class="smi-input-outline">
              {% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="off"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
            </div>
            <style>
  #smi-{{ section.id }}{
    --content-max-width: {{ section.settings.content_max_width }}px;
    {%- for block in section.blocks -%}
      {% if block.type == 'email_form' %}
        --content-space-form: {{ block.settings.space_form }}px;
      {% endif %}
    {% endfor %}
  }
</style>
<div class="smi-button-wrapper{% if style_email_signup == 2 %}
 smi-align-self-stretch smi-email-signup-vertical-2
{% endif %}{% if style_email_signup == 1 %}
smi-button-wrapper-over
{% endif %}">
  <button type="submit" class="button-sub smi-button smi-text-button smi-button--solid smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
    <span class="button-sub-content">{{'smind.form.text_button_subscribe' | t}}</span>
  </button>
</div>
          </div>
        </div>
      {% elsif style_email_signup == 2 %}
        <div class="smi-p-relative smi-d-flex ">
          <div class="smi-group-input smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">{% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="off"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
</div>
          <style>
  #smi-{{ section.id }}{
    --content-max-width: {{ section.settings.content_max_width }}px;
    {%- for block in section.blocks -%}
      {% if block.type == 'email_form' %}
        --content-space-form: {{ block.settings.space_form }}px;
      {% endif %}
    {% endfor %}
  }
</style>
<div class="smi-button-wrapper{% if style_email_signup == 2 %}
 smi-align-self-stretch smi-email-signup-vertical-2
{% endif %}{% if style_email_signup == 1 %}
smi-button-wrapper-over
{% endif %}">
  <button type="submit" class="button-sub smi-button smi-text-button smi-button--solid smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
    <span class="button-sub-content">{{'smind.form.text_button_subscribe' | t}}</span>
  </button>
</div>
        </div>
      {% elsif style_email_signup == 3 or style_email_signup == 4 %}
        <div class="smi-p-relative smi-d-flex ">
          <div class="smi-group-input smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">{% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="off"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
</div>
          <div class="smi-button-wrapper smi-email-signup-vertical-2">
  <button type="submit" class="button-sub smi-button smi-text-button smi-button--solid smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
    <span class="button-sub-content smi-d-flex smi-align-items-center">
      {{'smind.form.text_button_subscribe' | t}}
      {% render 'smi-icons', icon: 'arrow-right-2' %}
    </span>
  </button>
</div>
        </div>
      {% elsif style_email_signup == 5 %}
        <div class="smi-p-relative smi-flex-1">
          <div class="smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">
            {% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="off"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
            <button type="submit" class="smi-button-wrapper smi-button-email-signup-icon smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
  {% render 'smi-icons', icon: 'arrow-right-2' %}
</button>
          </div>
        </div>
      {% elsif style_email_signup == 6 %}
        <div class="smi-p-relative smi-flex-1">
          <div class="smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">
            {% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<div class="smi-email-input  smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}">
  {% render 'smi-icons', icon: 'mail' %}
  <input
    id="subscribe-From"
    type="email"
    name="contact[email]"
    {% comment %}
      class="field__input email-input"
    {% endcomment %}
    class="email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
    value="{{ form.email }}"
    aria-required="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="off"
    placeholder="{{placeholder_email}}"
    {% if form.errors %}
      autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
    {% elsif form.posted_successfully? %}
      aria-describedby="ContactFooter-success"
    {% endif -%}
    pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
    required
  >
</div>
            <button type="submit" class="smi-button-wrapper smi-button-email-signup-icon smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
  {% render 'smi-icons', icon: 'arrow-right-2' %}
</button>
          </div>
        </div>
      {% endif %}
    </div>
    {%- if form.posted_successfully? -%}
      <div class="sp-form-message sp-form-success">
        <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75">
          <span class="smi-icon-sucess">{{icon_success}}</span>
          <span>{{form_success}}</span>
        </p>
      </div>
    {%- elsif form.errors -%}
      <div class="sp-form-message sp-form-error">
        <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75">
        </p>
      </div>
    {%- else -%}
      {% for block in section.blocks %}
        {% if block.type == 'email_form' %}
          {% assign email_notice_text = block.settings.email_notice_text | strip %}
          {% if email_notice_text != blank %}
            <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75">
              {{ block.settings.email_notice_text }}
            </p>
          {%- else -%}
            <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75"></p>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {%- endform -%}
</div>
<span class="smi-icon-sucess smi-icon-clone smi-d-none">{{icon_success}}</span>
<span class="smi-icon-error smi-icon-clone smi-d-none">{{icon_error}}</span>
<script type="application/json" id="smi-{{ section.id }}-smi-email_form-data-json">
{
  "field_invalid" : "{{field_invalid}}",
  "field_required" : "{{field_required}}"
}
</script>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    var pattern_email = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    function validateEmail (email) {
      return email.match(pattern_email);    
    }
    var currentEl = document.getElementById('smi-{{ section.id }}');
    var buttonForm = currentEl.querySelector('.smi-button-wrapper');
    var subscribeForm = currentEl.querySelector('.smi-subscribe-Form');
    let data_notice_json = JSON.parse(document.getElementById('smi-{{ section.id }}-smi-email_form-data-json').textContent);
    var icon_error = currentEl.querySelector(".smi-icon-error.smi-icon-clone");
    if(buttonForm){
      buttonForm.addEventListener('click', function(event) {
      var notificationForm = currentEl.querySelector('.smi-field-validate');
      var emailInputEl = currentEl.querySelector('.smi-email-input').value;
      var message = "";
      if(emailInputEl.trim().length <= 0){
        if(emailInputEl.trim().length <= 0){
          event.preventDefault();
          notificationForm.innerHTML = '';
          //Lay html
          message = icon_error?.innerHTML + data_notice_json['field_required'];
          var divError = document.createElement('div');
          divError.classList.add('smi-form-error', 'smi-d-flex', 'smi-align-items-center');
          divError.innerHTML = message;
          notificationForm.appendChild(divError);
        }
      } else {
        if(!validateEmail(emailInputEl)){
          event.preventDefault();
          notificationForm.innerHTML = '';
          message = icon_error?.innerHTML + data_notice_json['field_invalid'];
          var divError = document.createElement('div');
          divError.classList.add('smi-form-error', 'smi-d-flex', 'smi-align-items-center');
          divError.innerHTML = message;
          notificationForm.appendChild(divError);
        }
      }
    });
    }
});
</script></div>
              {% endif %}
              {% if block.type == 'social_media' %}
                <div class="smi-social-media smi-mb-lg">{% liquid
  assign show_icon_on_desktop = block.settings.show_icon_on_desktop
%}
{% liquid
  assign hasFB = settings.smi_social_facebook_link | default: shop.metafields.smind.settings.value.socialMedia.facebook | default: "" | strip
  assign hasIS = settings.smi_social_instagram_link | default: shop.metafields.smind.settings.value.socialMedia.instagram | default: "" | strip
  assign hasYTube = settings.smi_social_youtube_link | default: shop.metafields.smind.settings.value.socialMedia.youtube | default: "" | strip
  assign hasTikTok = settings.smi_social_tiktok_link | default: shop.metafields.smind.settings.value.socialMedia.tiktok | default: "" | strip
  assign hasTW = settings.smi_social_twitter_link | default: shop.metafields.smind.settings.value.socialMedia.twitter | default: "" | strip
  assign hasSChat = settings.smi_social_snapchat_link | default: shop.metafields.smind.settings.value.socialMedia.snapchat | default: "" | strip
  assign hasPT = settings.smi_social_pinterest_link | default: shop.metafields.smind.settings.value.socialMedia.pinterest | default: "" | strip
  assign hasTumblr = settings.smi_social_tumblr_link | default: shop.metafields.smind.settings.value.socialMedia.tumblr | default: "" | strip
  assign hasVM = settings.smi_social_vimeo_link | default: shop.metafields.smind.settings.value.socialMedia.vimeo | default: "" | strip
%}
{% if 
  hasFB != blank
  or hasFB != ''
  or hasIS != blank
  or hasIS != ''
  or hasYTube != blank
  or hasYTube != ''
  or hasTikTok != blank
  or hasTikTok != ''
  or hasTW != blank
  or hasTW != ''
  or hasSChat != blank
  or hasSChat != ''
  or hasPT != blank
  or hasPT != ''
  or hasTumblr != blank
  or hasTumblr != ''
  or hasVM != blank
  or hasVM != ''
%}
  <div
    class="smi-component-blocks-social-media {% if show_icon_on_desktop == false or show_icon_on_desktop == true %}smi-hide-social-icon-on-sm {%if show_icon_on_desktop == true %} smi-show-social-icon-on-desktop{% endif %}{% endif %}"
    {{- block.shopify_attributes -}}
  >
    <div class="smi-social-media-icon social-icon-size-{{ section.id }}-{{ block.id }}">
      <style>
        .smi-social-media-icon.social-icon-size-{{ section.id }}-{{ block.id }} .{% if block.settings.icon_style != "1" %} a-href-icon {% endif %}{
          width: calc({{ block.settings.icon_size }}px + 16px);
          height: calc({{ block.settings.icon_size }}px + 16px);
        }
        .smi-social-media-icon.social-icon-size-{{ section.id }}-{{ block.id }} svg{
            width: {{ block.settings.icon_size }}px;
            height: {{ block.settings.icon_size }}px;
        }
      </style>
      {% comment %} {% capture permalinkURL %}{{ shop.url }}{% endcapture %} {% endcomment %}
      {% comment %} <span>{{ block.settings.heading }}</span> {% endcomment %}
      {% if hasFB != blank and hasFB != '' %}
        <a
          target="_blank"
          href="{{ hasFB }}"
          aria-label="Facebook"
          class=" share-facebook {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'facebook' %}
        </a>
      {% endif %}
      {% if hasIS != blank and hasIS != '' %}
        <a
          target="_blank"
          aria-label="Instagram"
          href="{{ hasIS }}"
          class=" share-instagram {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'instagram' %}
        </a>
      {% endif %}
      {% if hasYTube != blank and hasYTube != '' %}
        <a
          target="_blank"
          aria-label="Youtube"
          href="{{ hasYTube }}"
          class=" share-youtube {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'youtube' %}
        </a>
      {% endif %}
      {% if hasTikTok != blank and hasTikTok != '' %}
        <a
          target="_blank"
          aria-label="Tiktok"
          href="{{ hasTikTok }}"
          class=" share-tiktok {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'tiktok' %}
        </a>
      {% endif %}
      {% if hasTW != blank and hasTW != '' %}
        <a
          target="_blank"
          aria-label="Twitter"
          href="{{ hasTW }}"
          class=" share-twitter {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'twitter' %}
        </a>
      {% endif %}
      {% if hasSChat != blank and hasSChat != '' %}
        <a
          target="_blank"
          aria-label="Snapchat"
          href="{{ hasSChat }}"
          class=" share-snapchat {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'snapchat' %}
        </a>
      {% endif %}
      {% if hasPT != blank and hasPT != '' %}
        <a
          target="_blank"
          aria-label="Pinterest"
          href="{{ hasPT }}"
          class=" share-pinterest {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'pinterest' %}
        </a>
      {% endif %}
      {% if hasTumblr != blank and hasTumblr != '' %}
        <a
          target="_blank"
          aria-label="Tumblr"
          href="{{ hasTumblr }}"
          class=" share-tumblr {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'tumblr' %}
        </a>
      {% endif %}
      {% if hasVM != blank and hasVM != '' %}
        <a
          target="_blank"
          aria-label="vimeo"
          href="{{ hasVM }}"
          class=" share-vimeo {% if block.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ block.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'vimeo' %}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="smi-email-signup-image smi-item__media smi-w-100 smi-w-md-50 smi-w-lg-{{ section.settings.desktop_media_width }} smi-lh-0 smi-media-height-{{ section.settings.media_height }} {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}">
        {%- if image_banner != blank -%}
          {% liquid
            assign imgWidths = '400,500,600,700,800'
            assign imgSizes = '(max-width: 460px) calc(100vw / 4)'
          %}
          {{ image_banner | image_url: width: 800 | image_tag: widths: imgWidths, sizes: imgSizes, class: 'smi-media__image-item' }}
        {% else %}
          {{ 'hero-apparel-3' | placeholder_svg_tag: 'smi-placeholder' }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
	"name": "✧Email signup 4-7",
	"tag": "section",
	"class": "smi-section smi-email-signup-4",
	"settings": [
		{
			"type": "select",
			"id": "full_width",
			"label": "Layout",
			"options": [
				{
					"value": "container",
					"label": "Boxed"
				},
				{
					"value": "container-fluid",
					"label": "Full width"
				},
				{
					"value": "container-fluid-no-padding",
					"label": "Full width(no padding)"
				}
			],
			"default": "container"
		},
		{
			"type": "image_picker",
			"id": "image_banner",
			"label": "Image"
		},
		{
			"type": "select",
			"id": "desktop_media_width",
			"label": "Desktop media width",
			"options": [
				{
					"value": "40",
					"label": "S"
				},
				{
					"value": "50",
					"label": "M"
				},
				{
					"value": "60",
					"label": "L"
				}
			],
			"default": "50"
		},
		{
			"type": "select",
			"id": "desktop_media_position",
			"label": "Desktop media position",
			"options": [
				{
					"value": "row-reverse",
					"label": "Left"
				},
				{
					"value": "row",
					"label": "Right"
				}
			],
			"default": "row"
		},
		{
			"type": "select",
			"id": "media_height",
			"label": "Media height",
			"options": [
				{
					"value": "xxs-small",
					"label": "XXS"
				},
				{
					"value": "x-small",
					"label": "XS"
				},
				{
					"value": "small",
					"label": "S"
				},
				{
					"value": "medium",
					"label": "M"
				},
				{
					"value": "large",
					"label": "L"
				}
			],
			"default": "medium"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Custom color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		},
		{
			"type": "heading",
			"name": "Heading",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Happy Customers Say"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h2"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
				}
			]
		},
		{
			"type": "email_form",
			"name": "Email form",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "style_email_signup",
					"label": "Form style",
					"options": [
						{
							"value": "1",
							"label": "Vertical 1"
						},
						{
							"value": "2",
							"label": "Vertical 2"
						},
						{
							"value": "3",
							"label": "Horizontal"
						},
						{
							"value": "4",
							"label": "Horizontal (full-width)"
						},
						{
							"value": "5",
							"label": "Classic"
						},
						{
							"value": "6",
							"label": "Classic(Icon)"
						}
					],
					"default": "1"
				},
				{
					"type": "text",
					"id": "email_notice_text",
					"label": "Subtext",
					"default": "No spam, unsubscribe anytime!"
				}
			]
		},
		{
			"type": "social_media",
			"name": "Social media",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To display your social media accounts, link them in your [theme settings](/editor?context=theme&category=✧%20social%20media)."
				},
				{
					"type": "select",
					"id": "icon_style",
					"label": "Icon style",
					"options": [
						{
							"value": "1",
							"label": "1"
						},
						{
							"value": "2",
							"label": "2"
						},
						{
							"value": "3",
							"label": "3"
						}
					],
					"default": "1"
				},
				{
					"type": "range",
					"id": "icon_size",
					"min": 16,
					"max": 150,
					"step": 2,
					"label": "Icon size",
					"default": 24
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Email signup 4-7",
			"settings": {
				"full_width": "container-fluid-no-padding",
				"image_banner": "shopify://shop_images/smi-smi-clothing-classic-17.jpg",
				"desktop_media_width": "50",
				"desktop_media_position": "row-reverse",
				"media_height": "small",
				"content_position": "left",
				"content_alignment": "left",
				"content_max_width": 530,
				"padding_top": 0,
				"padding_bottom": 0,
				"color_scheme": "scheme_2"
			},
			"blocks": [
				{
					"type": "heading",
					"settings": {
						"sub_heading": "",
						"heading": "Subscribe to the newsletter",
						"heading_size": "smi-h2",
						"description": "<p>Signup for our newsletter to stay up to date on sales and events.</p>"
					}
				},
				{
					"type": "email_form",
					"settings": {
						"style_email_signup": "1",
						"email_notice_text": "No spam, unsubscribe anytime!"
					}
				},
				{
					"type": "background",
					"settings": {
						"background_simple": "",
						"animation": "none",
						"video_url": null,
						"background_overlay": ""
					}
				},
				{
					"type": "social_media",
					"settings": {
						"icon_style": "3",
						"icon_size": 16
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#fcf8f5",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#fcf8f5",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
function copyLinkProduct(e){let t=document.createElement("textarea");t.value=e,t.style.top="0",t.style.left="0",t.style.opacity="0",t.style.position="fixed",document.body.appendChild(t),t.focus(),t.select(),document.execCommand("copy"),document.body.removeChild(t),document.getElementById("myTooltip_product_link").innerHTML="Copied product link "}window.addEventListener("DOMContentLoaded",(e=>{document.getElementById("smi-{{ section.id }}")}));
</script>