{% style %}
	.smi-section-image-hero-1{position:relative}.smi-section-image-hero-1 .smi-container,.smi-section-image-hero-1 .smi-container-fluid{min-height:var(--slide-height-mobile);position:relative}@media screen and (min-width: 768px){.smi-section-image-hero-1 .smi-container,.smi-section-image-hero-1 .smi-container-fluid{min-height:var(--slide-height)}}.smi-section-image-hero-1 .smi-slide-background{height:100%;line-height:0}.smi-section-image-hero-1 .smi-slide-background:before{content:"";position:absolute;left:0;right:0;top:0;bottom:0;z-index:1;background:var(--image-overlay)}.smi-section-image-hero-1 .smi-slide-background picture>*,.smi-section-image-hero-1 .smi-slide-background>svg{object-fit:cover;width:100%;height:100%}.smi-section-image-hero-1 .smi-slide-background video,.smi-section-image-hero-1 .smi-slide-background video>*{object-fit:cover;width:100%;height:100%}.smi-section-image-hero-1 .smi-slide-background iframe.smi-background-video{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);pointer-events:none}.smi-section-image-hero-1 .smi-slide-content{width:var(--content-max-width, 480px);margin-bottom:80px;margin-top:80px;max-width:100%;word-wrap:break-word;z-index:2}.smi-section-image-hero-1 .smi-slide-content>span{display:block}.smi-section-image-hero-1 .smi-slide-content--background{width:calc(var(--content-max-width, 480px) + 80px);background-color:rgba(var(--color-background), var(--content-background-opacity))}.smi-section-image-hero-1 .smi-slide-content .smi-text-sub{color:rgba(var(--color-subtext, --color-foreground), 1)}.smi-section-image-hero-1 .smi-slide-content .smi-slide-button .smi-component-buttons{justify-content:inherit}
{% endstyle %}
{% comment %}#component#["settings/heading","settings/media-settings-3","settings/slider-arrows","settings/slider-dots","settings/slides","settings/section-padding","settings/button-without-url","blocks/color","blocks/background","settings/product-card","settings/content-alignment","settings/color-scheme","settings/rich-content-heading","settings/countdown-timer","settings/content-settings","settings/buttons","settings/layout-settings","settings/container-width","settings/media-width","settings/media-position","settings/media-height","settings/custom-icons","blocks/product-variant","blocks/product-quantity","blocks/product-purchase","blocks/product-color","settings/mega-menu","blocks/mega-menu/color","blocks/mega-menu/classic","blocks/mega-menu/collection","blocks/mega-menu/banner","blocks/mega-menu/product","blocks/mega-menu/product-tab","blocks/header-search","settings/product-card-bundle","settings/gap-between-content","settings/design-mode","settings/heading-blog-post","settings/animation-settings","settings/blog-item","settings/slider-pagination-1-style","settings/media-settings-5","settings/media-settings-4","settings/media-settings","settings/button-single","settings/collapsible-category","blocks/collapsible-content","settings/text","settings/divider","settings/social-media","settings/image","settings/icon-with-text","settings/page-content","blocks/email-signup","settings/icon-setting"]#endcomponent#{% endcomment %}
{% comment %}Slide Height{% endcomment %}
{% liquid
    case section.settings.hero_height
        when 'adapt_to_image'
            assign aspect_ratio_md = section.settings.image.aspect_ratio
            assign aspect_ratio_xs = section.settings.mobile_image_optional.aspect_ratio | default: aspect_ratio_md
            assign slide_height = 'calc(100vw / ' | append: aspect_ratio_md | append: ')'
            assign slide_height_mobile = 'calc(100vw / ' | append: aspect_ratio_xs | append: ')'
        when 'x_small'
            assign slide_height = '400px'
            assign slide_height_mobile = '244px'  
        when 'small'
            assign slide_height = '512px'
            assign slide_height_mobile = '320px'
        when 'medium'
            assign slide_height = '576px'
            assign slide_height_mobile = '400px'
        when 'large'
            assign slide_height = '672px'
            assign slide_height_mobile = '480px'
        when 'fit_screen'
            assign slide_height = '100vh'
            assign slide_height_mobile = '100vh'
    endcase
%}
<style>
    {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
    {{ '#smi-' | append: section.id }}{
        --content-max-width: {{ section.settings.content_max_width }}px;
        --content-background-opacity: {{ section.settings.content_background_opacity | divided_by: 100.0 }};
        --image-overlay: {{ section.settings.image_overlay }};
        --slide-height: {{ slide_height }};
        --slide-height-mobile: {{ slide_height_mobile }};
    }
</style>
<div id="smi-{{ section.id }}" class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-image-hero-1 smi-color-{{ section.settings.color_scheme }}" data-section="image-hero-1" data-name="✧Image hero 1">
     
    <div class="swiper">
        <div class="swiper-wrapper">
            {% comment %}Get classes for position of content{% endcomment %}
{% liquid
    assign position_y = section.settings.desktop_content_position | split: '_' | first
    assign position_x = section.settings.desktop_content_position | split: '_' | last
    capture position_content
        if section.settings.desktop_content_position
            echo 'smi-justify-content-' | append: position_x | append: ' smi-align-items-' | append: position_y
        endif
    endcapture
%}
<div class="swiper-slide {{ ' smi-hover-bg-image-' | append: settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' }}" {{ block.shopify_attributes }}>
    <div class="smi-slide-background smi-absolute-full">
        <picture>
            {% if section.settings.mobile_image_optional != blank %}
                <source media="(max-width:460px)"
                        srcset="{{ section.settings.mobile_image_optional | image_url: width: 460 }}">
                <source media="(max-width:767px)"
                        srcset="{{ section.settings.mobile_image_optional | image_url: width: 767 }}">
            {% endif %}
            {% if section.settings.image != blank %}
                {{ section.settings.image | image_url: width: 1920 | image_tag: class: 'smi-bg-image', widths: '400,500,800,1200,1600,1920', sizes: '(max-width:460px) calc(100vw/2)' }}
            {% else %}
                {% if section.settings.mobile_image_optional == blank %}
                    {{ 'hero-apparel-3' | placeholder_svg_tag: 'smi-bg-image' }}
                {% else %}
                    {{ 'hero-apparel-3' | placeholder_svg_tag: 'smi-d-none smi-d-md-block smi-bg-image' }}
                    <img class="smi-d-block smi-d-md-none smi-bg-image"
                         src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="placeholder">
                {% endif %}
            {% endif %}
        </picture>
    </div>
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div class="smi-container{%- if section.settings.container_full_width == true %}-fluid{%- endif %} smi-d-flex {{ position_content }}">
        <div class="smi-slide-content {% if section.settings.content_background_opacity > 0 %}smi-slide-content--background smi-content-wrapper smi-border smi-shadow smi-px-xl smi-py-xxl smi-py-md-xl smi-px-md-lg{% endif -%}
            {{- section.settings.desktop_content_alignment | prepend: ' smi-text-md-' -}}
            {{- section.settings.mobile_content_alignment | prepend: ' smi-text-' -}}
            {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}"
        >
        <span class="smi-text-sub smi-link-wrapper">
            {{ section.settings.subheading }}
        </span>
            <span class="{{ section.settings.heading_size }} {% if section.settings.description != blank %}smi-mb-sm{% endif %} smi-link-wrapper">
            {{ section.settings.heading }}
        </span>
            <span class="smi-text-lg smi-link-wrapper smi-color-text-75">
            {{ section.settings.description }}
        </span>
            {% if section.settings.first_button_label != blank or section.settings.second_button_label != blank %}
                <div class="smi-slide-button smi-mt-xl smi-d-flex
                    {{- section.settings.mobile_content_alignment | prepend: ' smi-justify-content-' -}}
                    {{- section.settings.desktop_content_alignment | prepend: ' smi-justify-content-md-' -}}"
                >
                    <div class="smi-component-buttons smi-button-wrapper
    {%- if section.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless section.settings.first_button_style contains 'text' or section.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = section.settings.first_button_label
    assign button_style = section.settings.first_button_style
    assign button_link = section.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = section.settings.second_button_label
    assign button_style = section.settings.second_button_style
    assign button_link = section.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "✧Image hero 1-4",
	"tag": "section",
	"class": "smi-section smi-image-hero-1",
	"settings": [
		{
			"type": "checkbox",
			"id": "container_full_width",
			"label": "Container full width",
			"default": false
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "mobile_image_optional",
			"label": "Mobile image (optional)"
		},
		{
			"type": "select",
			"id": "hero_height",
			"label": "Hero height",
			"options": [
				{
					"value": "adapt_to_image",
					"label": "Adapt to image"
				},
				{
					"value": "x_small",
					"label": "XS"
				},
				{
					"value": "small",
					"label": "S"
				},
				{
					"value": "medium",
					"label": "M"
				},
				{
					"value": "large",
					"label": "L"
				},
				{
					"value": "fit_screen",
					"label": "Fit screen"
				}
			],
			"default": "adapt_to_image"
		},
		{
			"type": "inline_richtext",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"default": "MW75 Active Noise Cancelling Headphones",
			"label": "Heading"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h1"
		},
		{
			"type": "inline_richtext",
			"id": "description",
			"default": "These headphones feature a clever design that folds in two directions. ",
			"label": "Description"
		},
		{
			"type": "header",
			"content": "Buttons"
		},
		{
			"type": "text",
			"id": "first_button_label",
			"label": "First button label",
			"default": "VIEW ALL",
			"info": "Leave the label blank to hide the button."
		},
		{
			"type": "url",
			"id": "first_button_link",
			"label": "First button link"
		},
		{
			"type": "select",
			"id": "first_button_style",
			"label": "First button style",
			"options": [
				{
					"value": "solid",
					"label": "Solid"
				},
				{
					"value": "solid_arrow",
					"label": "Solid & arrow"
				},
				{
					"value": "outline",
					"label": "Outline"
				},
				{
					"value": "outline_arrow",
					"label": "Outline & arrow"
				},
				{
					"value": "text",
					"label": "Text"
				},
				{
					"value": "text_arrow",
					"label": "Text & arrow"
				}
			],
			"default": "solid"
		},
		{
			"type": "text",
			"id": "second_button_label",
			"label": "Second button label",
			"info": "Leave the label blank to hide the button."
		},
		{
			"type": "url",
			"id": "second_button_link",
			"label": "Second button link"
		},
		{
			"type": "select",
			"id": "second_button_style",
			"label": "Second button style",
			"options": [
				{
					"value": "solid",
					"label": "Solid"
				},
				{
					"value": "solid_arrow",
					"label": "Solid & arrow"
				},
				{
					"value": "outline",
					"label": "Outline"
				},
				{
					"value": "outline_arrow",
					"label": "Outline & arrow"
				},
				{
					"value": "text",
					"label": "Text"
				},
				{
					"value": "text_arrow",
					"label": "Text & arrow"
				}
			],
			"default": "solid"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "desktop_content_position",
			"label": "Desktop content position",
			"options": [
				{
					"value": "start_start",
					"label": "Top left"
				},
				{
					"value": "start_center",
					"label": "Top center"
				},
				{
					"value": "start_end",
					"label": "Top right"
				},
				{
					"value": "center_start",
					"label": "Middle left"
				},
				{
					"value": "center_center",
					"label": "Middle center"
				},
				{
					"value": "center_end",
					"label": "Middle right"
				},
				{
					"value": "end_start",
					"label": "Bottom left"
				},
				{
					"value": "end_center",
					"label": "Bottom center"
				},
				{
					"value": "end_end",
					"label": "Bottom right"
				}
			],
			"default": "center_start",
			"info": "Position is automatically optimized for mobile."
		},
		{
			"type": "text_alignment",
			"id": "desktop_content_alignment",
			"label": "Desktop content alignment",
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "mobile_content_alignment",
			"label": "Mobile content alignment",
			"default": "center"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 400,
			"max": 1200,
			"step": 20,
			"unit": "px",
			"label": "Content max-width",
			"default": 480
		},
		{
			"type": "range",
			"id": "content_background_opacity",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "%",
			"label": "Content background opacity",
			"default": 0
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color scheme",
			"info": "How to use “Color block” and “Color scheme” [learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "color_background",
			"id": "image_overlay",
			"label": "Image overlay",
			"default": "linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0))"
		}
	],
	"blocks": [
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Image hero 1-4",
			"settings": {
				"container_full_width": true,
				"image": "shopify://shop_images/smi-haley-lawrence-6ugQ978v-zg-unsplash.jpg",
				"hero_height": "medium",
				"subheading": "ELEVATE YOUR LOOK",
				"heading": "Discover latest trends",
				"heading_size": "smi-h1",
				"description": "Explore our trendy collection of clothing and accessories to make a fashion statement.",
				"first_button_label": "Shop product",
				"first_button_link": null,
				"first_button_style": "solid_arrow",
				"second_button_label": "",
				"second_button_link": null,
				"second_button_style": "outline_arrow",
				"desktop_content_position": "center_end",
				"desktop_content_alignment": "left",
				"mobile_content_alignment": "center",
				"content_max_width": 520,
				"content_background_opacity": 100,
				"image_overlay": "linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 100%)",
				"color_scheme": "scheme_1"
			},
			"blocks": [
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
