{% style %}
	.smi-section-logo-list-2{overflow:hidden}.smi-section-logo-list-2 a{cursor:default}.smi-section-logo-list-2 a[href]{cursor:pointer}.smi-section-logo-list-2 .smi-heading-component .smi-heading-inner.smi-mb-xl{margin-bottom:calc(var(--spacing-elements)*48px)}.smi-section-logo-list-2__main>.smi-container-fluid,.smi-section-logo-list-2__main>.smi-container{position:relative}.smi-section-logo-list-2__main>.smi-container-fluid .smi-swiper-navigation{visibility:hidden;opacity:0}.smi-section-logo-list-2__main>.smi-container-fluid:hover .smi-swiper-navigation{visibility:visible;opacity:1}.smi-section-logo-list-2__main .smi-swiper{overflow-x:clip;overflow-y:visible}.smi-section-logo-list-2__main .smi-swiper .swiper-wrapper:has(>.swiper-slide:only-child){justify-content:center}.smi-section-logo-list-2__main .smi-swiper .swiper-slide:last-child{margin-right:0 !important}.smi-section-logo-list-2__main .swiper-slide{height:auto;width:calc(var(--item-width-xs) + var(--border-width));margin-right:var(--space-between-mobile)}@media screen and (min-width: 768px){.smi-section-logo-list-2__main .swiper-slide{width:var(--item-width-md);margin-right:var(--space-between-desktop)}}@media screen and (min-width: 992px){.smi-section-logo-list-2__main .swiper-slide{width:var(--item-width-lg)}}@media screen and (min-width: 1200px){.smi-section-logo-list-2__main .swiper-slide{width:var(--item-width-xl)}}.smi-section-logo-list-2__main:not(.smi-slide-overflow) .smi-swiper{--shadow-padding-sides: calc((var(--shadow-horizontal-offset) + var(--shadow-blur-radius)) * var(--shadow-visible));--shadow-padding-sides-negative: calc((var(--shadow-horizontal-offset) * -1 + var(--shadow-blur-radius)) * var(--shadow-visible));overflow-y:visible}@media screen and (max-width: 767.8px){.smi-section-logo-list-2__main:not(.smi-slide-overflow) .smi-swiper{overflow:visible}}@media screen and (min-width: 768px){.smi-section-logo-list-2__main:not(.smi-slide-overflow) .smi-swiper{margin-left:min(0px,var(--shadow-padding-sides-negative)*-1);margin-right:min(0px,var(--shadow-padding-sides)*-1);padding-left:max(0px,var(--shadow-padding-sides-negative));padding-right:max(0px,var(--shadow-padding-sides))}}.smi-section-logo-list-2__main:not(.smi-slide-overflow) .smi-swiper .swiper-slide{transition:opacity .3s;opacity:0}.smi-section-logo-list-2__main:not(.smi-slide-overflow) .smi-swiper .swiper-slide.swiper-slide-visible{opacity:1}.smi-section-logo-list-2__main.smi-slide-overflow .smi-swiper{overflow:visible}@media screen and (max-width: 767.8px){.smi-section-logo-list-2__main.smi-slide-overflow .swiper-slide{transition:opacity .3s;opacity:0}.smi-section-logo-list-2__main.smi-slide-overflow .swiper-slide.swiper-slide-visible{opacity:1}}.smi-section-logo-list-2 .smi-component-arrow-slider{display:flex;width:min(100% + 128px,100vw - 60px);min-width:calc(100% + 46px);position:absolute;top:50%;left:50%;z-index:100;transform:translateX(-50%)}.smi-section-logo-list-2 .smi-component-arrow-slider .arrow-icon{cursor:pointer;position:absolute;top:50%;transform:translateY(-50%);z-index:9999;left:0}.smi-section-logo-list-2 .smi-component-arrow-slider .arrow-icon.arrow-slider-right{left:auto;right:0}.smi-section-logo-list-2 .smi-swiper-controls{width:100%;display:flex;justify-content:center}.smi-section-logo-list-2 .smi-swiper-navigation{position:absolute;z-index:2;top:50%;transform:translateY(calc(var(--spacing-elements) * 19px));width:100%;transition:visibility .3s ease,opacity .3s ease}@media screen and (max-width: 767.8px){.smi-section-logo-list-2 .smi-swiper-navigation{display:none}}.smi-section-logo-list-2 .smi-swiper-navigation .arrow-icon{visibility:visible;transition:visibility .3s ease,opacity .3s ease}.smi-section-logo-list-2 .smi-swiper-navigation .swiper-button-disabled{visibility:hidden}.smi-section-logo-list-2 .smi-swiper-pagination{--swiper-pagination-bottom: 0}.smi-section-logo-list-2__main .smi-card-image-wrap{height:100%}.smi-section-logo-list-2__main .smi-card-image{background:var(--card-image-background);background-attachment:fixed;overflow:hidden;height:100%;display:flex;justify-content:center;align-items:center}.smi-section-logo-list-2__main .smi-card-image__media{display:flex;justify-content:center;align-items:center;overflow:hidden;line-height:0;width:100%;height:100%}.smi-section-logo-list-2__main .smi-card-image__media img.__smi-image{width:var(--logo-width, 100%);max-width:100%;height:auto}.smi-section-logo-list-2__main .smi-card-image__media svg{width:var(--logo-width, 100%);max-width:100%;height:auto}@media screen and (max-width: 767.8px){.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap{padding-left:var(--border-width)}}@media screen and (min-width: 768px){.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap{padding-left:var(--border-width)}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper{padding-left:var(--border-width);margin-left:calc(var(--border-width)*-1)}}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide-prev:not(.swiper-slide-visible)~.swiper-slide-active:before,.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide:first-child:before{content:"";position:absolute;top:0;bottom:0;left:calc(-1*var(--border-width));z-index:3;border-left:var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity))}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide{position:relative}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-slide .smi-card-image{border-left:0}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-wrapper:has(>.swiper-slide:only-child){padding-right:0}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .swiper-wrapper:has(>.swiper-slide:only-child):before{content:none}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap.smi-only-child{padding-left:0}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap.smi-only-child .swiper-slide{width:fit-content}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap.smi-only-child .swiper-slide:before{content:none}.smi-section-logo-list-2__main.smi-content-gap-0.smi-content-border-radius-0 .smi-swiper-wrap.smi-only-child .swiper-slide .smi-card-image{width:fit-content;border-left:var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity))}
{% endstyle %}
{% comment %}#component#["settings/design-mode","settings/animation-settings","settings/buttons","blocks/color","settings/heading","settings/layout-settings","settings/section-padding","blocks/background","settings/slider-arrows","settings/slider-dots","settings/slides","settings/media-width","settings/custom-icons","blocks/product-variant","blocks/product-quantity","blocks/product-purchase","blocks/product-color","settings/slider-pagination-1-style","settings/buttons-product"]#endcomponent#{% endcomment %}
{% comment %} swiper.js {% endcomment %}
{{ 'smi-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'smi-swiper-bundle.min.js' | asset_url }}" defer data-id="swiper"></script>
{% liquid
    if section.settings.enable_spacing_between_items == false
        assign space_between_mobile = '0px'
        assign space_between_desktop = '0px'
    else
        assign space_between_mobile = 'var(--grid-mobile-horizontal-spacing)'
        assign space_between_desktop = 'var(--grid-desktop-horizontal-spacing)'
    endif
    assign custom_blocks = section.blocks | where: 'type', 'logo'
    assign block_length = custom_blocks | size
    assign slides_per_view_desktop = section.settings.number_of_columns_on_desktop | at_most: block_length
    assign slides_per_view_laptop = 3 | at_most: slides_per_view_desktop
    assign slides_per_view_tablet = 2 | at_most: slides_per_view_desktop
    assign slides_per_view_mobile = section.settings.number_of_columns_on_mobile | at_most: block_length
    if block_length == slides_per_view_mobile
        assign offset_swiper_mobile = 0
    else
        if section.settings.enable_spacing_between_items == false
            assign offset_swiper_mobile = '(30px + var(--media-border-width))'
        else
            assign offset_swiper_mobile = '30px'
        endif
    endif
    if section.settings.auto_rotate_slides == true
        assign delay = section.settings.change_slides_every | times: 1000
        assign autoplay = '{ "delay": ' | append: delay | append: '}'
    else
        assign autoplay = false
    endif
    if section.settings.content_alignment == 'left'
        assign classes_position_button = 'smi-justify-content-start'
    elsif section.settings.content_alignment == 'right'
        assign classes_position_button = 'smi-justify-content-end'
    else
        assign classes_position_button = 'smi-justify-content-center'
    endif
    assign block_color_length = section.blocks | where: 'type', 'color' | size
    assign imgSizes = '(max-width: 460px) calc(100vw/3), calc(100vw/' | append: section.settings.number_of_columns_on_desktop | append: ')'
%}
<style>
    {% assign block_color = section.blocks | where: 'type', 'color' | first %}
{% if block_color %}
    #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }}{
        --color-background: {{ block_color.settings.background_color.red }}, {{ block_color.settings.background_color.green }},{{ block_color.settings.background_color.blue }};
        {% if block_color.settings.background_gradient_color == blank %}
            --gradient-background: {{ block_color.settings.background_color }};
        {% else %}
            --gradient-background: {{ block_color.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ block_color.settings.text_color }};
        --color-foreground: {{ block_color.settings.text_color.red }}, {{ block_color.settings.text_color.green }},{{ block_color.settings.text_color.blue }};
        --color-subtext: {{ block_color.settings.subtext_color.red }},{{ block_color.settings.subtext_color.green }},{{ block_color.settings.subtext_color.blue }};
        --color-button: {{ block_color.settings.solid_background_button_color.red }}, {{ block_color.settings.solid_background_button_color.green }},{{ block_color.settings.solid_background_button_color.blue }};
        --color-button-text: {{ block_color.settings.solid_button_label_color.red }}, {{ block_color.settings.solid_button_label_color.green }},{{ block_color.settings.solid_button_label_color.blue }};
        --color-shadow: {{ block_color.settings.shadow_color.red }}, {{ block_color.settings.shadow_color.green }},{{ block_color.settings.shadow_color.blue }};
    }
{% endif %}
    #shopify-section-{{ section.id }} {
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
        --heading-alignment: {{ section.settings.heading_alignment }};
        --card-image-background: {{ section.settings.logo_background }};
        --space-between-mobile: {{ space_between_mobile }};
        --space-between-desktop: {{ space_between_desktop }};
        --item-width-xs: {{ slides_per_view_mobile | minus: 1 | prepend: 'calc((100% - ((' | append: ' * var(--space-between-mobile)) + ' | append: offset_swiper_mobile | append: '))/' | append: slides_per_view_mobile | append: ')' }};
        --item-width-md: {{ slides_per_view_tablet | minus: 1 | prepend: 'calc((100% - (' | append: ' * var(--space-between-desktop)))/' | append: slides_per_view_tablet | append: ')' }};
        --item-width-lg: {{ slides_per_view_laptop | minus: 1 | prepend: 'calc((100% - (' | append: ' * var(--space-between-desktop)))/' | append: slides_per_view_laptop | append: ')' }};
        --item-width-xl: {{ slides_per_view_desktop | minus: 1 | prepend: 'calc((100% - (' | append: ' * var(--space-between-desktop)))/' | append: slides_per_view_desktop | append: ')' }};
    }
</style>
<div id="smi-{{ section.id }}"
     class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-logo-list-2 smi-color-{{ section.settings.color_scheme }}" data-section="logo-list-2" data-name="✧Logo list 2">
      
    {% render 'smi-background' %}
    <div class="smi-container">
        {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{section.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = section.settings.heading | strip
    assign sub_heading = section.settings.sub_heading | strip
    assign description = section.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = section.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{%- assign heading = section.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ section.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
    </div>
    {% comment %}Swiper Slide{% endcomment %}
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div class="smi-section-logo-list-2__main smi-media-wrapper
            {%- if section.settings.enable_spacing_between_items == false %} smi-content-gap-0{% endif -%}
            {% comment %}smi-content-border-radius-0 -> js{% endcomment %}
            {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}">
        <div class="{% if section.settings.container_full_width %}smi-container-fluid{% else %}smi-container{% endif -%}">
            <div class="smi-swiper-wrap {%- if custom_blocks.size == 1 %} smi-only-child{% endif -%}">
                <div class="swiper smi-swiper"
                     data-swiper-options='{
                         "autoplay":{{- autoplay -}},
                         "pageDotStyle":"{{- section.settings.sticky_page_dot_style -}}",
                         "slidesPerGroup":{{- slides_per_view_mobile -}},
                         "breakpoints":{
                            "768":{
                                "slidesPerGroup":{{ slides_per_view_tablet }}
                            },
                            "992":{
                                "slidesPerGroup":{{ slides_per_view_laptop }}
                            },
                            "1200":{
                                "slidesPerGroup":{{ slides_per_view_desktop }}
                            }
                         }
                     }'>
                    <div class="swiper-wrapper">
                        {% for block in custom_blocks %}
                            <div class="swiper-slide"
                                 data-swiper-slide-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
                                <div class="smi-card-image-wrap">
                                    {% liquid
    assign placeholder_image_index = forloop.index0 | modulo: 6 | plus: 1
    assign placeholder_image = 'collection-' | append: placeholder_image_index
    if block.settings.link != blank
        assign link = block.settings.link
    else
        assign link = ''
    endif
%}
<div class="smi-card-image smi-border
    {%- if section.settings.enable_spacing_between_items == true %} smi-shadow{% endif -%}
        {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' | prepend: ' smi-hover-image-' }}"
     style="--logo-width:{{ block.settings.logo_width }}px;">
    <a href="{{ link | default: '#' }}"
       {%- unless link != blank %} onclick="return;" {% endunless -%}
       class="{{ media_wrapper_classes }} smi-card-image__media smi-py-lg smi-px-lg"
       aria-label="{{ block.id }}"
    >
        {% assign img_classes = media_classes | append: ' __smi-image' %}
        {% assign svg_classes = media_classes | append: ' smi-placeholder-svg' %}
        {% if block.settings.image != blank %}
            {{ block.settings.image | image_url: width: 1000 | image_tag: class: img_classes, widths: '200,300,400,500,600,800,1000', sizes: imgSizes }}
        {% else %}
            <svg class="smi-bg-image" id="logo-7" width="124" height="32" viewBox="0 0 124 32" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M36.87 10.07H39.87V22.2H36.87V10.07ZM41.06 17.62C41.06 14.62 42.9 12.83 45.74 12.83C48.58 12.83 50.42 14.62 50.42 17.62C50.42 20.62 48.62 22.42 45.74 22.42C42.86 22.42 41.06 20.67 41.06 17.62ZM47.41 17.62C47.41 15.97 46.76 15 45.74 15C44.72 15 44.08 16 44.08 17.62C44.08 19.24 44.71 20.22 45.74 20.22C46.77 20.22 47.41 19.3 47.41 17.63V17.62ZM51.55 22.79H54.43C54.5671 23.0945 54.7988 23.3466 55.0907 23.5088C55.3826 23.6709 55.7191 23.7345 56.05 23.69C57.19 23.69 57.79 23.07 57.79 22.17V20.49H57.73C57.491 21.0049 57.1031 21.4363 56.6165 21.7287C56.1299 22.021 55.5668 22.1608 55 22.13C52.81 22.13 51.36 20.46 51.36 17.59C51.36 14.72 52.74 12.91 55.04 12.91C55.6246 12.8871 56.2022 13.0434 56.6955 13.3579C57.1888 13.6725 57.5742 14.1303 57.8 14.67V14.67V13H60.8V22.1C60.8 24.29 58.87 25.65 56.02 25.65C53.37 25.65 51.72 24.46 51.55 22.8V22.79ZM57.8 17.61C57.8 16.15 57.13 15.23 56.07 15.23C55.01 15.23 54.36 16.14 54.36 17.61C54.36 19.08 55 19.91 56.07 19.91C57.14 19.91 57.8 19.1 57.8 17.62V17.61ZM61.93 17.61C61.93 14.61 63.77 12.82 66.61 12.82C69.45 12.82 71.3 14.61 71.3 17.61C71.3 20.61 69.5 22.41 66.61 22.41C63.72 22.41 61.93 20.67 61.93 17.62V17.61ZM68.28 17.61C68.28 15.96 67.63 14.99 66.61 14.99C65.59 14.99 65 16 65 17.63C65 19.26 65.63 20.23 66.65 20.23C67.67 20.23 68.28 19.3 68.28 17.63V17.61ZM72.44 10.82C72.4321 10.5171 72.5144 10.2187 72.6763 9.96261C72.8383 9.70651 73.0726 9.50427 73.3496 9.38151C73.6266 9.25875 73.9338 9.221 74.2323 9.27305C74.5308 9.32511 74.8071 9.46462 75.0262 9.67389C75.2454 9.88317 75.3974 10.1528 75.4631 10.4486C75.5288 10.7444 75.5052 11.053 75.3952 11.3354C75.2853 11.6177 75.094 11.8611 74.8456 12.0346C74.5973 12.2081 74.3029 12.304 74 12.31C73.7992 12.3238 73.5977 12.2959 73.4082 12.2281C73.2186 12.1603 73.0452 12.0541 72.8987 11.916C72.7522 11.778 72.6358 11.6111 72.5569 11.4259C72.4779 11.2408 72.4381 11.0413 72.44 10.84V10.82ZM72.44 13.02H75.44V22.2H72.44V13.02ZM86.33 17.61C86.33 20.61 85 22.32 82.72 22.32C82.1354 22.3575 81.5533 22.2146 81.0525 21.9106C80.5517 21.6065 80.1564 21.156 79.92 20.62H79.86V25.14H76.86V13H79.86V14.64H79.92C80.1454 14.0951 80.5332 13.6329 81.0306 13.3162C81.528 12.9995 82.1109 12.8437 82.7 12.87C85 12.91 86.37 14.63 86.37 17.63L86.33 17.61ZM83.33 17.61C83.33 16.15 82.66 15.22 81.61 15.22C80.56 15.22 79.89 16.16 79.88 17.61C79.87 19.06 80.56 19.99 81.61 19.99C82.66 19.99 83.33 19.08 83.33 17.63V17.61ZM91.48 12.81C93.97 12.81 95.48 13.99 95.55 15.88H92.82C92.82 15.23 92.28 14.82 91.45 14.82C90.62 14.82 90.25 15.14 90.25 15.61C90.25 16.08 90.58 16.23 91.25 16.37L93.17 16.76C95 17.15 95.78 17.89 95.78 19.28C95.78 21.18 94.05 22.4 91.5 22.4C88.95 22.4 87.28 21.18 87.15 19.31H90.04C90.13 19.99 90.67 20.39 91.55 20.39C92.43 20.39 92.83 20.1 92.83 19.62C92.83 19.14 92.55 19.04 91.83 18.89L90.1 18.52C88.31 18.15 87.37 17.2 87.37 15.8C87.39 14 89 12.83 91.48 12.83V12.81ZM105.79 22.18H102.9V20.47H102.84C102.681 21.0441 102.331 21.5466 101.847 21.8941C101.363 22.2415 100.775 22.413 100.18 22.38C99.7242 22.4059 99.2682 22.3337 98.8427 22.1682C98.4172 22.0027 98.0322 21.7479 97.7137 21.4208C97.3952 21.0938 97.1505 20.7021 96.9964 20.2724C96.8422 19.8427 96.7821 19.3849 96.82 18.93V13H99.82V18.24C99.82 19.33 100.38 19.91 101.31 19.91C101.528 19.9104 101.744 19.8643 101.943 19.7746C102.141 19.6849 102.319 19.5537 102.463 19.3899C102.606 19.226 102.714 19.0333 102.777 18.8247C102.84 18.616 102.859 18.3962 102.83 18.18V13H105.83L105.79 22.18ZM107.24 13H110.14V14.77H110.2C110.359 14.2035 110.702 13.7057 111.174 13.3547C111.646 13.0037 112.222 12.8191 112.81 12.83C113.409 12.7821 114.003 12.9612 114.476 13.3318C114.948 13.7024 115.264 14.2372 115.36 14.83H115.42C115.601 14.2309 115.977 13.7093 116.488 13.3472C116.998 12.9851 117.615 12.8031 118.24 12.83C118.648 12.8163 119.054 12.8886 119.432 13.0422C119.811 13.1957 120.152 13.4272 120.435 13.7214C120.718 14.0157 120.936 14.3662 121.075 14.7501C121.213 15.134 121.27 15.5429 121.24 15.95V22.2H118.24V16.75C118.24 15.75 117.79 15.29 116.95 15.29C116.763 15.2884 116.577 15.327 116.406 15.4032C116.235 15.4794 116.082 15.5914 115.958 15.7317C115.834 15.872 115.741 16.0372 115.686 16.2163C115.631 16.3955 115.616 16.5843 115.64 16.77V22.2H112.79V16.71C112.79 15.79 112.34 15.29 111.52 15.29C111.331 15.2901 111.143 15.3303 110.971 15.408C110.798 15.4858 110.643 15.5993 110.518 15.741C110.392 15.8827 110.298 16.0495 110.241 16.2304C110.185 16.4112 110.167 16.6019 110.19 16.79V22.2H107.19L107.24 13Z" class="ccustom" fill="#394149"></path> <path d="M28.48 10.62C27.9711 9.45636 27.2976 8.37193 26.48 7.4C25.2715 5.92034 23.7633 4.71339 22.0547 3.8586C20.3461 3.00382 18.4758 2.52057 16.567 2.44066C14.6582 2.36075 12.7541 2.68599 10.98 3.39499C9.20597 4.10398 7.60217 5.18065 6.2742 6.55413C4.94622 7.9276 3.92417 9.56675 3.27532 11.3637C2.62647 13.1606 2.36552 15.0746 2.50966 16.9796C2.65381 18.8847 3.19976 20.7376 4.1116 22.4164C5.02344 24.0953 6.28049 25.562 7.80001 26.72C8.77501 27.4779 9.85236 28.094 11 28.55C12.609 29.2094 14.3311 29.549 16.07 29.55C19.6594 29.5421 23.0992 28.1113 25.6355 25.5713C28.1717 23.0313 29.5974 19.5894 29.6 16C29.6026 14.1485 29.2213 12.3166 28.48 10.62V10.62ZM16.06 5.18999C17.6216 5.18983 19.1643 5.53113 20.58 6.18999V6.18999C20.2348 6.33916 19.8718 6.44335 19.5 6.5C18.2766 6.67709 17.1433 7.24507 16.2692 8.11917C15.3951 8.99326 14.8271 10.1266 14.65 11.35C14.5723 12.0361 14.2602 12.6744 13.7665 13.1572C13.2728 13.64 12.6277 13.9376 11.94 14C10.7166 14.1771 9.58327 14.7451 8.70918 15.6192C7.83509 16.4933 7.2671 17.6266 7.09001 18.85C7.03005 19.5024 6.7517 20.1155 6.30001 20.59V20.59C5.52066 18.9433 5.17056 17.1261 5.28228 15.3077C5.394 13.4893 5.96391 11.7287 6.93898 10.1897C7.91404 8.65079 9.26258 7.38351 10.8591 6.50584C12.4556 5.62817 14.2482 5.16864 16.07 5.16999L16.06 5.18999ZM7.79001 23C7.91001 22.89 8.03001 22.79 8.15001 22.67C9.03966 21.8075 9.61072 20.6689 9.77001 19.44C9.83459 18.7492 10.143 18.104 10.64 17.62C11.1183 17.1222 11.762 16.8163 12.45 16.76C13.6734 16.5829 14.8067 16.0149 15.6808 15.1408C16.5549 14.2667 17.1229 13.1334 17.3 11.91C17.3433 11.1875 17.6533 10.5068 18.17 10C18.6601 9.51185 19.3099 9.2171 20 9.16999C21.1239 9.01536 22.1721 8.51571 23 7.74C23.9427 8.52207 24.7413 9.46289 25.36 10.52C25.322 10.5713 25.2784 10.6183 25.23 10.66C24.7527 11.1622 24.1098 11.4748 23.42 11.54C22.1953 11.714 21.0603 12.281 20.1856 13.1556C19.311 14.0303 18.744 15.1653 18.57 16.39C18.4995 17.0784 18.1932 17.7213 17.703 18.2097C17.2127 18.6982 16.5687 19.0021 15.88 19.07C14.653 19.2457 13.5155 19.8126 12.6363 20.6863C11.7572 21.5601 11.1833 22.6941 11 23.92C10.9462 24.4087 10.7783 24.878 10.51 25.29C9.484 24.6808 8.5651 23.9072 7.79001 23V23ZM16.06 26.86C15.0453 26.8611 14.0354 26.7197 13.06 26.44C13.3937 25.818 13.6106 25.1401 13.7 24.44C13.7701 23.7531 14.075 23.1114 14.5632 22.6232C15.0514 22.135 15.6931 21.8301 16.38 21.76C17.6052 21.5849 18.7408 21.0178 19.6169 20.1435C20.4929 19.2693 21.0624 18.1348 21.24 16.91C21.3101 16.2231 21.615 15.5814 22.1032 15.0932C22.5914 14.605 23.2331 14.3001 23.92 14.23C24.842 14.1101 25.7208 13.7668 26.48 13.23C26.9016 14.8279 26.9515 16.5011 26.626 18.1213C26.3005 19.7415 25.6081 21.2657 24.6021 22.5768C23.5961 23.8878 22.3032 24.9511 20.8224 25.6849C19.3417 26.4187 17.7126 26.8036 16.06 26.81V26.86Z" class="ccustom" fill="#394149"></path> </svg>
        {% endif %}
    </a>
</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="smi-swiper-controls">
                <div class="smi-swiper-navigation">
                    {% if section.settings.arrow_style != 'none' %}
  <div class="smi-component-arrow-slider">
    <div class="arrow-slider-content">
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-left smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-left-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-left' %}
        {% endif %}
      </div>
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-right smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-right-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-right' %}
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}
                </div>
                {% unless section.settings.sticky_page_dot_style == "none" %}
                    <div class="smi-swiper-pagination smi-pt-xl smi-mw-100">
                        {% if section.settings.sticky_page_dot_style != 'none' %}
  <div class="smi-slider-dot-container">
    {% if section.settings.sticky_page_dot_style == 'text-style-1'
      or section.settings.sticky_page_dot_style == 'text-style-2'
      or section.settings.sticky_page_dot_style == 'text-style-3'
    %}
      <div class="smi-component-sticky-page-dot">
        <div class="smi-slider-action">
          <div class="smi-arrows {{ section.settings.sticky_page_dot_style }}">
            <div data-control="textPrevSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-left' %}</div>
            {% comment %} <div class="smi-slider-pagination smi-text-sm">1/3</div> {% endcomment %}
            <div class="text-pagination smi-pagination smi-slider-pagination smi-text-sm smi-arrow"></div>
            <div data-control="textNextSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-right' %}</div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="dot-container {{ section.settings.sticky_page_dot_style }}">
        <div
          class="swiper-pagination smi-pagination"
          {% if section.settings.sticky_page_dot_style == 'dot-style-4' %}
            style="display: flex;"
          {% endif %}
        ></div>
      </div>
    {% endif %}
  </div>
{% endif %}
                    </div>
                {% endunless %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "✧Logo list 2-5",
	"tag": "section",
	"class": "smi-section smi-logo-list-2",
	"settings": [
		{
			"type": "checkbox",
			"id": "container_full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "enable_spacing_between_items",
			"label": "Enable spacing between items",
			"default": true
		},
		{
			"type": "inline_richtext",
			"id": "sub_heading",
			"label": "Subheading",
			"default": "URNA CRAS MAURIS"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Happy Customers Say"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h2"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
		},
		{
			"type": "text_alignment",
			"id": "heading_alignment",
			"label": "Heading alignment",
			"default": "center"
		},
		{
			"type": "header",
			"content": "Navigation"
		},
		{
			"type": "select",
			"id": "arrow_style",
			"label": "Arrow",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "arr-style-1",
					"label": "Style 1"
				},
				{
					"value": "arr-style-2",
					"label": "Style 2"
				},
				{
					"value": "arr-square-style-1",
					"label": "Square style 1"
				},
				{
					"value": "arr-square-style-2",
					"label": "Square style 2"
				},
				{
					"value": "arr-square-style-3",
					"label": "Square style 3"
				},
				{
					"value": "arr-square-style-4",
					"label": "Square style 4 (bg)"
				},
				{
					"value": "arr-square-style-5",
					"label": "Square style 5 (bg)"
				},
				{
					"value": "arr-square-style-6",
					"label": "Square style 6"
				},
				{
					"value": "arr-circle-style-1",
					"label": "Circle style 1 (bg)"
				},
				{
					"value": "arr-circle-style-2",
					"label": "Circle style 2"
				},
				{
					"value": "arr-circle-style-3",
					"label": "Circle style 3"
				},
				{
					"value": "arr-circle-style-4",
					"label": "Circle style 4"
				},
				{
					"value": "arr-circle-style-5",
					"label": "Circle style 5 (bg)"
				}
			],
			"default": "arr-style-1"
		},
		{
			"type": "select",
			"id": "sticky_page_dot_style",
			"label": "Pagination",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "dot-style-1",
					"label": "Dot style 1"
				},
				{
					"value": "dot-style-2",
					"label": "Dot style 2"
				},
				{
					"value": "dot-style-3",
					"label": "Dot style 3"
				},
				{
					"value": "dot-style-4",
					"label": "Dot style 4"
				},
				{
					"value": "line-dot",
					"label": "Line dot"
				},
				{
					"value": "line-style-1",
					"label": "Line style 1"
				},
				{
					"value": "line-style-2",
					"label": "Line style 2"
				},
				{
					"value": "line-style-3",
					"label": "Line style 3"
				},
				{
					"value": "line-style-4",
					"label": "Line style 4"
				},
				{
					"value": "text-style-1",
					"label": "Text style 1"
				},
				{
					"value": "text-style-2",
					"label": "Text style 2"
				},
				{
					"value": "text-style-3",
					"label": "Text style 3"
				}
			],
			"default": "dot-style-1"
		},
		{
			"type": "header",
			"content": "Slides"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slides",
			"label": "Auto rotate slides",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slides_every",
			"min": 1,
			"max": 20,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "select",
			"id": "number_of_columns_on_desktop",
			"label": "Number of columns on desktop",
			"options": [
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "6",
					"label": "6"
				}
			],
			"default": "3"
		},
		{
			"type": "select",
			"id": "number_of_columns_on_mobile",
			"label": "Number of columns on mobile",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				}
			],
			"default": "1"
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color scheme",
			"info": "How to use “Color block” and “Color scheme” [learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "color",
			"id": "logo_background",
			"default": "#F6F6F6",
			"label": "Logo background"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "logo",
			"name": "Logo",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "logo_width",
					"min": 70,
					"max": 1000,
					"step": 10,
					"unit": "px",
					"label": "Logo width",
					"default": 160
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				}
			]
		},
		{
			"type": "color",
			"name": "Color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Logo list 2-5",
			"settings": {
				"container_full_width": true,
				"enable_spacing_between_items": true,
				"sub_heading": "",
				"heading": "Shop by brand",
				"heading_size": "smi-h2",
				"description": "<p>Explore the latest trends and timeless classics from your favorite fashion houses, all in one place.</p>",
				"heading_alignment": "center",
				"arrow_style": "none",
				"sticky_page_dot_style": "text-style-1",
				"auto_rotate_slides": true,
				"change_slides_every": 5,
				"number_of_columns_on_desktop": "6",
				"number_of_columns_on_mobile": "2",
				"logo_background": "#f3f3f3",
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_1"
			},
			"blocks": [
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_classic_01.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_modern_02.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_modern_01.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_classic_03.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_classic_02.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_classic_04.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "logo",
					"settings": {
						"image": "shopify://shop_images/smi-smi_logo_classic_01.jpg",
						"logo_width": 160,
						"link": null
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
!function(){class e{swiper=null;sectionId=null;sectionEl=null;constructor(e){this.sectionId=e.replace("smi-",""),this.sectionEl=document.querySelector(`#${e}`),this.addClassBorderRadius0(),this._swiper()}_swiper(){if("undefined"==typeof Swiper)return null;const e=this,i=this.sectionEl.querySelector(".smi-swiper"),t=this.sectionEl.querySelector(".arrow-slider-right"),s=this.sectionEl.querySelector(".arrow-slider-left"),n=this.sectionEl.querySelector(".smi-pagination");this.sectionEl.querySelector(".smi-swiper-wrap");let o={init:!0,slidesPerView:"auto",loop:!1,rewind:!0,slidesPerGroup:1,loopAddBlankSlides:!0,watchSlidesProgress:!0,pagination:{el:n,clickable:!0},navigation:{nextEl:t,prevEl:s},on:{afterInit(){e._verticalAlignNavigation(),e._handlePagination()}}};try{const e=JSON.parse(i.getAttribute("data-swiper-options"));o={...o,...e},o.pageDotStyle.includes("text-style")&&(o.pagination.type="fraction",delete o.pageDotStyle)}catch(e){console.log("Attribute data-swiper-options invalid JSON!")}this.swiper=new Swiper(i,o)}_verticalAlignNavigation(){const e=this.sectionEl.querySelector(".smi-swiper-navigation"),i=this.sectionEl.querySelector(".smi-swiper-controls");e.style.transform=`translateY(calc(50% - ${i.offsetHeight/2}px)`}_handlePagination(){this.sectionEl.querySelector(".swiper-pagination-lock")&&this.sectionEl.querySelector(".smi-swiper-pagination")?.classList.add("smi-d-none")}addClassBorderRadius0(){const e=this.sectionEl.querySelector(".smi-content-gap-0");if(e){"0px"===getComputedStyle(e).getPropertyValue("--border-radius")?e.classList.add("smi-content-border-radius-0"):e.classList.remove("smi-content-border-radius-0")}}}document.addEventListener("DOMContentLoaded",(()=>{new e("smi-{{ section.id }}")})),Shopify.designMode&&(new e("smi-{{ section.id }}"),document.addEventListener("smiReloadSection",(i=>{new e("smi-{{ section.id }}")})))}();
</script>