{% style %}
	.smi-component-blocks-social-media .smi-social-media-icon{max-width:100%;display:flex;grid-gap:12px;flex-wrap:wrap}.smi-component-blocks-social-media .smi-social-media-icon a{display:flex}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link{position:relative;display:inline-block}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link .tooltiptext{visibility:hidden;width:150px;font-size:14px !important;background-color:#555;color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:1;bottom:150%;left:50%;margin-left:-75px;opacity:0;transition:opacity .3s}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0)}.smi-component-blocks-social-media .smi-social-media-icon .copy-product-link:hover .tooltiptext{visibility:visible;opacity:1}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon{display:flex;justify-content:center;align-items:center;padding:8px;line-height:initial}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon svg path{fill:rgba(var(--color-foreground), 0.75)}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon:hover svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .a-href-icon:hover svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1 svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1 svg path{fill:rgba(var(--color-foreground), 0.75)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1:hover svg{stroke:none}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-1:hover svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-2{border-radius:5000px;background:rgba(var(--color-foreground), 0.04)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-3{border-radius:5000px;border:1px solid rgba(var(--color-foreground), 0.2)}.smi-component-blocks-social-media .smi-social-media-icon .product-share-icon-3:hover{border:1px solid rgba(var(--color-foreground), 1)}.smi-component-blocks-social-media span svg path{fill:rgb(var(--color-foreground))}.smi-hide-social-icon-on-sm{display:none}@media screen and (min-width: 992px){.smi-show-social-icon-on-desktop{display:block !important}}.smi-section-top-bar-1{background-color:var(--gradient-background);color:rgba(var(--color-foreground))}.smi-section-top-bar-1.border-bottom{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper{display:flex;align-items:stretch !important;transition-delay:0ms !important}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide{width:100vw;height:auto;display:flex;align-items:center;justify-content:center;align-self:stretch;opacity:0 !important}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide .smi-component-blocks-announcement{transform:translateY(40px) !important;transition:all .3s ease-in-out}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide.swiper-slide-active{opacity:1 !important}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide .smi-component-blocks-announcement{height:100%;position:relative;transition:all .3s ease-in-out}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide .smi-component-blocks-announcement__content{height:100%}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide.swiper-slide-prev .smi-component-blocks-announcement{transform:translateY(40px) !important;transition:all .3s ease-in-out}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide.swiper-slide-next .smi-component-blocks-announcement{transform:translateY(-40px) !important;transition:all .3s ease-in-out}.smi-section-top-bar-1 .smi-swiper .swiper-wrapper .swiper-slide.swiper-slide-active .smi-component-blocks-announcement{margin-top:0px;transform:translateY(0px) !important}.smi-section-top-bar-1 .smi-component-blocks-announcement{height:100%}.smi-section-top-bar-1 .smi-component-blocks-announcement__content{height:100%;gap:var(--horizontal-space-xs)}.smi-section-top-bar-1 .smi-component-blocks-announcement__content p{margin-bottom:0px;text-align:center}.smi-section-top-bar-1 .smi-component-blocks-announcement__content .smi-component-settings-icon-setting-{width:auto}.smi-section-top-bar-1 .smi-content-topbar-1{order:1}.smi-section-top-bar-1 .smi-section-top-bar-1-social-media{position:relative;max-width:calc((100% - 600px)/2);width:100%}.smi-section-top-bar-1 .smi-section-top-bar-1-social-media .smi-social-media-icon{grid-gap:var(--horizontal-space-xs, 8px)}.smi-section-top-bar-1 .smi-content-announcement-wrapper{order:2}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action{order:3;max-width:calc((100% - 600px)/2);width:100%;justify-content:end}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action form{margin:0;padding:0}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list{list-style:none}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__button{background:rgba(0,0,0,0);border:none;padding:0;cursor:pointer;font-family:inherit}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__button svg{width:calc(12px*var(--font-body-scale));height:calc(12px*var(--font-body-scale))}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__button img{width:calc(16px*var(--font-body-scale));height:calc(12px*var(--font-body-scale))}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list{top:150%;left:0;opacity:0;visibility:hidden;margin-top:var(--section-padding-top, 0)}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list.smi-dropdown--country{width:max-content;right:0px;left:unset}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list.smi-dropdown--divider-true{margin-top:calc(var(--section-padding-top, 0) + 1px)}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list .smi-item a{color:rgba(var(--color-foreground), 0.75)}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list .smi-item a img{width:16px;height:12px}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list .smi-item--active a,.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown__list .smi-item:hover a{color:rgba(var(--color-foreground))}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__button svg{transform:rotate(180deg)}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__list{z-index:1;max-height:300px;overflow:auto;top:100%;opacity:1;visibility:visible;scrollbar-width:thin;scrollbar-color:#c1c1c1 #f1f1f1}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar{width:7px}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar-track{background:#f1f1f1}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar-thumb{background-color:#c1c1c1;border-radius:0}@media screen and (max-width: 767px){.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__list{left:0;right:auto;bottom:100%;top:auto}}@media screen and (max-width: 1360px){.smi-section-top-bar-1 .smi-section-top-bar-1-social-action .smi-dropdown.smi-active .smi-dropdown__list{left:auto;right:0}}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action.smi-dropdown-right .smi-dropdown .smi-dropdown__list{left:unset;right:0px}.smi-section-top-bar-1 .smi-section-top-bar-1-social-action.smi-dropdown-right .smi-dropdown.smi-active .smi-dropdown__list{left:unset;right:0px}.smi-section-top-bar-1 .smi-announcement-wrapper{overflow:hidden}.smi-section-top-bar-1 .smi-content-announcement-wrapper{width:100%;max-width:600px;margin:0 auto;position:relative}@media screen and (max-width: 767.98px){.smi-section-top-bar-1 .smi-content-announcement-wrapper .swiper-slide{padding-left:30px;padding-right:30px}}.smi-section-top-bar-1 .smi-content-announcement-wrapper .swiper-slide div[class^=smi-component-settings-icon-setting] span{display:flex}.smi-section-top-bar-1 .smi-content-announcement-wrapper a{color:rgba(var(--color-foreground), 1)}.smi-section-top-bar-1 .smi-content-announcement-wrapper .arrow-icon{position:absolute;transform:translateY(-50%);top:50%;cursor:pointer;z-index:2}.smi-section-top-bar-1 .smi-content-announcement-wrapper .arrow-icon.arrow-slider-left{left:-30px}@media screen and (max-width: 767.98px){.smi-section-top-bar-1 .smi-content-announcement-wrapper .arrow-icon.arrow-slider-left{left:0px}}.smi-section-top-bar-1 .smi-content-announcement-wrapper .arrow-icon.arrow-slider-right{right:-30px}@media screen and (max-width: 767.98px){.smi-section-top-bar-1 .smi-content-announcement-wrapper .arrow-icon.arrow-slider-right{right:0px}}.smi-section-top-bar-1 .smi-content-announcement-wrapper .arrow-icon.swiper-button-disabled{color:rgba(var(--color-foreground), 0.75)}.smi-section-top-bar-1 .smi-component-arrow-slider .arrow-slider-content .arrow-icon svg:hover path,.smi-section-top-bar-1 .smi-component-arrow-slider .arrow-slider-content .arrow-icon svg:active path{fill:rgb(var(--color-foreground), 0.7)}.smi-section-top-bar-1 .smi-component-arrow-slider .arrow-slider-content .swiper-button-disabled svg path{fill:rgb(var(--color-foreground), 0.7)}
{% endstyle %}
{% comment %}#component#["settings/social-media","settings/color-scheme","settings/section-padding","blocks/color-announcement","blocks/background","settings/design-mode","blocks/announcement","settings/slider-arrows","settings/icon-setting","settings/custom-icons"]#endcomponent#{% endcomment %}
{{ 'smi-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'smi-swiper-bundle.min.js' | asset_url }}" defer data-id="swiper"></script>
<style>
    {% assign color_announcement_block = section.blocks | where: 'type', 'color' | first %}
{% if color_announcement_block %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      #shopify-section-{{ section.id }} .smi-block-custom-color , #shopify-section-{{ section.id }} .color-announcement {
        --color-background: {{ color_announcement_block.settings.background_color.red }}, {{ color_announcement_block.settings.background_color.green }},{{ color_announcement_block.settings.background_color.blue }};        
        {% if color_announcement_block.settings.background_gradient_color == blank %}
            --gradient-background: {{ color_announcement_block.settings.background_color }};
        {% else %}
            --gradient-background: {{ color_announcement_block.settings.background_gradient_color }};
        {% endif %}
        --color-foreground: {{ color_announcement_block.settings.text_color.red }}, {{ color_announcement_block.settings.text_color.green }},{{ color_announcement_block.settings.text_color.blue }};
    }
{% endif %}
    #shopify-section-{{ section.id }}{
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
    }
    #shopify-section-{{ section.id }} .smi-dropdown--style{
        {% assign background_block = section.blocks | where: 'type', 'background' | first %}
        {% if background_block != blank %}
            {% if background_block.settings.background_gradient_color == blank %}
                --gradient-background: {{ background_block.settings.background_simple }};
            {% endif %}
        {% endif %}
    }
</style>
{% liquid
if section.settings.auto_rotate_slides == true
    assign delay = section.settings.change_slides_every | times: 1000
    assign autoplay = '{ "delay": ' | append: delay | append: '}'
else
    assign autoplay = false
endif
%}
<div id="smi-{{ section.id }}" class="smi-{{ section.id }} {%- if section.settings.show_bottom_divider %} border-bottom {%- endif %} smi-section__inner smi-gradient smi-section-top-bar-slider smi-section-top-bar-1 smi-color-{{ section.settings.color_scheme }}" data-section="top-bar-1" data-name="✧Topbar 1">
     
    {% render 'smi-background' %}
    <div class="{% if section.settings.container_full_width %}smi-container-fluid{% else %}smi-container{% endif -%}">
        <div class="smi-content-topbar-1 smi-d-flex smi-align-items-center smi-justify-content-between smi-column-gap-xxl">
            <div class="smi-section-top-bar-1-social-media smi-d-none smi-d-lg-block">
                {% if section.settings.show_icon_on_desktop != blank %}
                    {% liquid
  assign show_icon_on_desktop = section.settings.show_icon_on_desktop
%}
{% liquid
  assign hasFB = settings.smi_social_facebook_link | default: shop.metafields.smind.settings.value.socialMedia.facebook | default: "" | strip
  assign hasIS = settings.smi_social_instagram_link | default: shop.metafields.smind.settings.value.socialMedia.instagram | default: "" | strip
  assign hasYTube = settings.smi_social_youtube_link | default: shop.metafields.smind.settings.value.socialMedia.youtube | default: "" | strip
  assign hasTikTok = settings.smi_social_tiktok_link | default: shop.metafields.smind.settings.value.socialMedia.tiktok | default: "" | strip
  assign hasTW = settings.smi_social_twitter_link | default: shop.metafields.smind.settings.value.socialMedia.twitter | default: "" | strip
  assign hasSChat = settings.smi_social_snapchat_link | default: shop.metafields.smind.settings.value.socialMedia.snapchat | default: "" | strip
  assign hasPT = settings.smi_social_pinterest_link | default: shop.metafields.smind.settings.value.socialMedia.pinterest | default: "" | strip
  assign hasTumblr = settings.smi_social_tumblr_link | default: shop.metafields.smind.settings.value.socialMedia.tumblr | default: "" | strip
  assign hasVM = settings.smi_social_vimeo_link | default: shop.metafields.smind.settings.value.socialMedia.vimeo | default: "" | strip
%}
{% if 
  hasFB != blank
  or hasFB != ''
  or hasIS != blank
  or hasIS != ''
  or hasYTube != blank
  or hasYTube != ''
  or hasTikTok != blank
  or hasTikTok != ''
  or hasTW != blank
  or hasTW != ''
  or hasSChat != blank
  or hasSChat != ''
  or hasPT != blank
  or hasPT != ''
  or hasTumblr != blank
  or hasTumblr != ''
  or hasVM != blank
  or hasVM != ''
%}
  <div
    class="smi-component-blocks-social-media {% if show_icon_on_desktop == false or show_icon_on_desktop == true %}smi-hide-social-icon-on-sm {%if show_icon_on_desktop == true %} smi-show-social-icon-on-desktop{% endif %}{% endif %}"
    {{- block.shopify_attributes -}}
  >
    <div class="smi-social-media-icon social-icon-size-{{ section.id }}-{{ block.id }}">
      <style>
        .smi-social-media-icon.social-icon-size-{{ section.id }}-{{ block.id }} .{% if section.settings.icon_style != "1" %} a-href-icon {% endif %}{
          width: calc({{ section.settings.icon_size }}px + 16px);
          height: calc({{ section.settings.icon_size }}px + 16px);
        }
        .smi-social-media-icon.social-icon-size-{{ section.id }}-{{ block.id }} svg{
            width: {{ section.settings.icon_size }}px;
            height: {{ section.settings.icon_size }}px;
        }
      </style>
      {% comment %} {% capture permalinkURL %}{{ shop.url }}{% endcapture %} {% endcomment %}
      {% comment %} <span>{{ section.settings.heading }}</span> {% endcomment %}
      {% if hasFB != blank and hasFB != '' %}
        <a
          target="_blank"
          href="{{ hasFB }}"
          class=" share-facebook {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'facebook' %}
        </a>
      {% endif %}
      {% if hasIS != blank and hasIS != '' %}
        <a
          target="_blank"
          href="{{ hasIS }}"
          class=" share-instagram {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'instagram' %}
        </a>
      {% endif %}
      {% if hasYTube != blank and hasYTube != '' %}
        <a
          target="_blank"
          href="{{ hasYTube }}"
          class=" share-youtube {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'youtube' %}
        </a>
      {% endif %}
      {% if hasTikTok != blank and hasTikTok != '' %}
        <a
          target="_blank"
          href="{{ hasTikTok }}"
          class=" share-tiktok {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'tiktok' %}
        </a>
      {% endif %}
      {% if hasTW != blank and hasTW != '' %}
        <a
          target="_blank"
          href="{{ hasTW }}"
          class=" share-twitter {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'twitter' %}
        </a>
      {% endif %}
      {% if hasSChat != blank and hasSChat != '' %}
        <a
          target="_blank"
          href="{{ hasSChat }}"
          class=" share-snapchat {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'snapchat' %}
        </a>
      {% endif %}
      {% if hasPT != blank and hasPT != '' %}
        <a
          target="_blank"
          href="{{ hasPT }}"
          class=" share-pinterest {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'pinterest' %}
        </a>
      {% endif %}
      {% if hasTumblr != blank and hasTumblr != '' %}
        <a
          target="_blank"
          href="{{ hasTumblr }}"
          class=" share-tumblr {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'tumblr' %}
        </a>
      {% endif %}
      {% if hasVM != blank and hasVM != '' %}
        <a
          target="_blank"
          href="{{ hasVM }}"
          class=" share-twitter {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
        >
          {% render 'smi-icons', icon: 'vimeo' %}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
                {% endif %}
            </div>
            {% assign announcement_blocks = section.blocks | where: 'type', 'announcement'
            %}
            {% liquid
                if announcement_blocks.size > 1
                    assign loop = false
                else
                    assign loop = false
                endif  
            %}
            <div class="smi-content-announcement-wrapper">
                <div class="swiper smi-swiper smi-announcement-wrapper" data-swiper-options='{"autoplay":{{ autoplay }}, "loop" : {{ loop }}}'>
                    <div class="swiper-wrapper">
                        {% for block in section.blocks %}
                            {% if block.type == 'announcement' %}
                                <div class="swiper-slide"  {{ block.shopify_attributes }}>
<div class="smi-component-blocks-announcement" {{- block.shopify_attributes -}}>
    <div class="smi-component-blocks-announcement__content smi-link-wrapper smi-d-flex smi-justify-content-center smi-align-items-center smi-link-wrapper">
        {% if block.settings.icon != 'none' %}
            <div class="smi-component-settings-icon-setting- smi-component-settings-icon-setting-{{ block.id }} ">
<style>
    .smi-component-settings-icon-setting-{{ block.id }} span,
    .smi-component-settings-icon-setting-{{ block.id }} img {
        width: {{ block.settings.icon_size }}px;
        height: {{ block.settings.icon_size }}px;
        object-fit: cover;
    }
    .smi-component-settings-icon-setting-{{ block.id }} svg {
        width: {{ block.settings.icon_size }}px;
        height: {{ block.settings.icon_size }}px;
        object-fit: cover;
    }
</style>
<span class="smi-d-block">
    {%- if block.settings.upload_icon != blank -%}
        {{ block.settings.upload_icon | image_url: width: 1000, height: 1000 | image_tag: loading: 'lazy' }}
    {%- else -%}
        {% if block.settings.icon != 'none' and block.settings.icon != "" %}
            {% comment %} <span class="icon-sample smi-collapse-icon-sample smi-mr-xs">{%- render 'smi-custom-icons', icon: block.settings.icon -%}</span> {% endcomment %}
            {%- render 'smi-custom-icons', icon: block.settings.icon -%}
        {% endif %}
    {%- endif -%}
</span>
</div>
        {% endif %}
        {{block.settings.content}}
    </div>
</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if announcement_blocks.size > 1 %}
                    <div class="smi-swiper-controls">
                        <div class="smi-swiper-navigation">
                                {% if section.settings.arrow_style != 'none' %}
  <div class="smi-component-arrow-slider">
    <div class="arrow-slider-content">
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-left smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-left-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-left' %}
        {% endif %}
      </div>
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-right smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-right-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-right' %}
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="smi-section-top-bar-1-social-action smi-d-none smi-d-lg-flex smi-align-items-center smi-column-gap-sm{% if section.settings.container_full_width %} smi-dropdown-right{% endif %}">
                {% if section.settings.enable_language %} {%- if section.settings.enable_language and localization.available_languages.size > 1 -%}
    {% liquid
        assign language_size = localization.available_languages.size
    %}
    <smi-localization-form class="smi-lh-0 smi-h-100">
        {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form smi-h-100 smi-h-100 smi-m-0 smi-p-0' -%}
        <div class="smi-dropdown smi-p-relative smi-h-100 smi-dropdown-popup-wrapper">
            <button type="button" class="smi-h-100 smi-dropdown__button smi-d-flex smi-align-items-center smi-column-gap-xxs smi-border-none smi-p-0 bg-transparent smi-cursor-pointer">
                <span class="smi-text-md smi-color-text smi-lh-normal">{{ localization.language.endonym_name | capitalize }}</span>
                {%- render 'smi-icons', icon: 'arrow-down' -%}
            </button>
            <ul class="smi-color-{{ color_schema }} smi-dropdown__list smi-dropdown--style smi-dropdown--language smi-px-md smi-d-flex smi-flex-column smi-row-gap-xs smi-dropdown--divider-{{section.settings.show_divider}} smi-border smi-shadow">
                {%- for language in localization.available_languages -%}
                    <li class="smi-item smi-list-style-none {% if language.iso_code == localization.language.iso_code %} smi-item--active{% endif %}">
                        <a href="#" data-value="{{ language.iso_code }}" class="smi-text-md smi-color-text">
                            {{ language.endonym_name | capitalize }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
            <input class="smi-selector" type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
        </div>
        {%- endform -%}
    </smi-localization-form>
{% endif %} {% endif %}
                {% if section.settings.enable_country %}{%- if section.settings.enable_country  -%}
    {% liquid
        assign country_size = localization.available_countries.size
    %}
    <smi-localization-form class="smi-lh-0 smi-h-100">
        {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form smi-h-100 smi-m-0 smi-p-0' -%}
        <div class="smi-dropdown smi-p-relative smi-h-100 smi-dropdown-popup-wrapper">
            <button type="button" class="smi-h-100 smi-dropdown__button smi-d-flex smi-align-items-center smi-column-gap-xxs smi-border-none smi-p-0 bg-transparent smi-cursor-pointer">
                <p class="smi-d-flex smi-align-items-baseline smi-column-gap-xxs smi-mb-0">
                    <img src="//cdn.shopify.com/static/images/flags/{{ localization.country.iso_code | downcase }}.svg?width=32" alt="Canada" srcset="//cdn.shopify.com/static/images/flags/{{ localization.country.iso_code | downcase }}.svg?width=32 32w" width="32" height="24">
                    <span class="smi-text-md smi-color-text smi-lh-normal">{{- localization.country.currency.iso_code }}</span>
                </p>
                {%- render 'smi-icons', icon: 'arrow-down' -%}
            </button>
            <ul class="smi-color-{{ color_schema }} smi-dropdown__list smi-dropdown--style smi-dropdown--country smi-px-md smi-d-flex smi-flex-column smi-row-gap-xs smi-dropdown--divider-{{section.settings.show_divider}} smi-border smi-shadow">
                {%- for country in localization.available_countries -%}
                    <li class="smi-item smi-list-style-none {% if country.iso_code == localization.country.iso_code %} smi-item--active{% endif %}">
                        <a href="#" data-value="{{ country.iso_code }}" class="smi-text-md smi-color-text">
                            <img src="//cdn.shopify.com/static/images/flags/{{ country.iso_code | downcase }}.svg?width=32" alt="Canada" srcset="//cdn.shopify.com/static/images/flags/{{ country.iso_code | downcase }}.svg?width=32 32w" width="32" height="24">
                            {{ country.name }}
                            -
                            {{ country.currency.iso_code }}
                            {{ country.currency.symbol }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
            <input class="smi-selector" type="hidden" name="country_code" value="{{ localization.language.iso_code }}">
        </div>
        {%- endform -%}
    </smi-localization-form>
{% endif %} {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "✧Topbar 1-1",
	"tag": "section",
	"class": "smi-section smi-top-bar-1",
	"settings": [
		{
			"type": "checkbox",
			"id": "container_full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_bottom_divider",
			"label": "Show bottom divider",
			"default": true
		},
		{
			"type": "header",
			"content": "Social media icons"
		},
		{
			"type": "checkbox",
			"label": "Show social media on desktop",
			"id": "show_icon_on_desktop",
			"info": "To display your social media accounts, link them in your [theme settings](/editor?context=theme&category=✧%20social%20media).",
			"default": false
		},
		{
			"type": "select",
			"id": "icon_style",
			"label": "Icon style",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				}
			],
			"default": "1"
		},
		{
			"type": "range",
			"id": "icon_size",
			"min": 16,
			"max": 150,
			"step": 2,
			"label": "Icon size",
			"default": 24
		},
		{
			"type": "checkbox",
			"id": "enable_language",
			"label": "Enable language selector",
			"default": true,
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)"
		},
		{
			"type": "checkbox",
			"id": "enable_country",
			"label": "Enable country/region selector",
			"default": true,
			"info": "To add a country/region, go to your [market settings.](/admin/settings/markets)"
		},
		{
			"type": "header",
			"content": "Announcements"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slides",
			"label": "Auto-rotate announcements",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slides_every",
			"min": 1,
			"max": 20,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Custom color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		},
		{
			"type": "announcement",
			"name": "Announcement",
			"settings": [
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Welcome to our store</p>"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Topbar 1-1",
			"settings": {
				"container_full_width": false,
				"show_bottom_divider": false,
				"show_icon_on_desktop": true,
				"icon_style": "1",
				"icon_size": 18,
				"enable_language": true,
				"enable_country": true,
				"auto_rotate_slides": true,
				"change_slides_every": 5,
				"padding_top": 10,
				"padding_bottom": 10,
				"color_scheme": "scheme_3"
			},
			"blocks": [
				{
					"type": "announcement",
					"settings": {
						"content": "<p>Free shipping for all order over $100</p>"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#282828",
						"background_gradient_color": "",
						"text_color": "#ffffff"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
window.addEventListener("DOMContentLoaded", (event) => {
  const currentEl = document.getElementById('smi-{{ section.id }}'); 
})

function copyLinkProduct(url) {
  let inputCopy = document.createElement("textarea");
  inputCopy.value = url;
  inputCopy.style.top = "0";
  inputCopy.style.left = "0";
  inputCopy.style.opacity = "0";
  inputCopy.style.position = "fixed";
  document.body.appendChild(inputCopy);
  inputCopy.focus();
  inputCopy.select();
  document.execCommand('copy')
  document.body.removeChild(inputCopy);

  var tooltip = document.getElementById("myTooltip_product_link");
  tooltip.innerHTML = "Copied product link ";
};

(function (){
    class SMI_TopBar_1{
        swiper = null;
        sectionId = null;
        sectionEl = null;
        constructor(sectionId) {
            this.sectionId = sectionId.replace('smi-','');
            this.ShopifySectionId = "shopify-section-"+ this.sectionId;
            this.sectionEl = document.querySelector(`#${sectionId}`);
            this.shopifySectionEl = document.querySelector(`#${this.ShopifySectionId}`);
            
            this._swiper();
        }
        _handleDesignMode(){
            if (Shopify.designMode) {
                const swiper = this.sectionEl.querySelector('.swiper')?.swiper;
                let slideActiveIndex = 0;
                const _goToSlide = () => {
                    document.addEventListener("shopify:block:select", (e) => {
                        setTimeout(() => {
                            const swiper = document.querySelector('#smi-{{ section.id }} .swiper')?.swiper
                            const slideIndex = e.target.dataset.swiperSlideIndex;
                            if (swiper && slideIndex !== undefined) {
                                swiper.slideTo(slideIndex, 0, false)
                                slideActiveIndex = slideIndex;
                            }
                            if (swiper?.autoplay?.running){
                                swiper.autoplay.pause()
                            }
                        }, 150)
                    })
                }
                _goToSlide()

                document.addEventListener("shopify:block:deselect", (e) => {
                    const swiper = document.querySelector('#smi-{{ section.id }} .swiper')?.swiper
                    if (swiper?.autoplay?.paused){
                        swiper.autoplay.resume()
                    }
                })

                document.addEventListener("shopify:section:load", (e) => {
                    const slideIndex = slideActiveIndex;
                    setTimeout(() => {
                        const swiper = document.querySelector('#smi-{{ section.id }} .swiper')?.swiper
                        if(swiper) {
                            if(slideIndex !== undefined ) {
                                swiper.slideTo(slideIndex, 0, false);
                            }
                        }
                    }, 150)
                });
            }
        }
        _swiper(){
            if (typeof Swiper === "undefined") return null;
            const self = this;
            const swiperEl = this.sectionEl.querySelector('.smi-swiper');
            const nextEl = this.sectionEl.querySelector('.arrow-slider-right');
            const prevEl = this.sectionEl.querySelector('.arrow-slider-left');
            let swiperParams = {
                slidesPerView: 1,
                slidesPerGroup: 1,
                loop: false,
                spaceBetween: 0,
                effect: 'fade',
                rewind: true,
                watchSlidesProgress : true,
                navigation: {
                    nextEl: nextEl,
                    prevEl: prevEl,
                },
                on:{
                    slideChange: function() {
                        swiperEl.querySelectorAll('.swiper-slide').forEach(element => {
                            if(element.classList.contant= 'swiper-slide-active'){
                                element.querySelector('.smi-component-blocks-announcement').style.transform = 'translateY(0)';
                            } else {
                                element.querySelector('.smi-component-blocks-announcement').style.transform = 'translateY(-29px)';
                            }
                        });
                        
                        
                    },
                }
            }

           
 
            try {
                const swiperOptions = JSON.parse(swiperEl.getAttribute("data-swiper-options"));
                
                swiperParams = {...swiperParams, ...swiperOptions}
                console.log(swiperParams);
                this.swiper = new Swiper(swiperEl, swiperParams);
            }catch (e) {
                console.log("Attribute data-swiper-options invalid JSON!");
            }
           
        }
    }

    
    
    if (Shopify.designMode){
        let timerCounter = 0
        const timer = setInterval(() => {
            timerCounter++
            if(typeof Swiper === 'function' || timerCounter >= 500) {
                clearInterval(timer)
                new SMI_TopBar_1('smi-{{ section.id }}');
            }
        }, 10)        
    } else {
        document.addEventListener('DOMContentLoaded',() => {
            new SMI_TopBar_1('smi-{{ section.id }}');
        })    
    }
})();

</script>