{% style %}
	.smi-media-wrapper{aspect-ratio:var(--media-ratio)}.smi-media-wrapper:hover img,.smi-media-wrapper:hover svg,.smi-media-wrapper:hover video,.smi-media-wrapper:hover iframe,.smi-media-wrapper:hover div{clip-path:polygon(var(--shape-hover));transition:all .4s}.smi-blob-wrapper.smi-has-blob{border:none !important;box-shadow:none !important}smi-video-background{overflow:hidden;position:absolute;left:0;right:0;top:0;bottom:0}smi-video-background>*{width:100%;height:100%}smi-video-background .smi-placeholder-svg{object-fit:cover}smi-video-background .smi-cover-image{position:absolute;left:0;right:0;top:0;bottom:0;z-index:3}smi-video-background .smi-cover-image .smi-cover-image__img{object-fit:cover;width:100%;height:100%}smi-video-background .smi-upload-video video{width:100%;height:100%;object-fit:cover}smi-video-background .smi-cover-image+.smi-video-url{opacity:0}smi-video-background .smi-video-url .smi-youtube-thumbnail{width:100%;height:100%;object-fit:cover}smi-video-background .smi-video-url iframe{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);pointer-events:none}smi-video-background .smi-video-url iframe{pointer-events:all}.smi-item-milestone-video .iconplay .smi-play-button-component{box-shadow:none}.smi-item-milestone-video .iconplay .__smi-icon svg path{fill:#fff;stroke:#fff}.smi-section-timeline-2 .smi-media-wrapper img{position:relative}@media screen and (min-width: 768px)and (max-width: 991.98px){.smi-section-timeline-2 .miletone-style .smi-item-milestone{column-gap:var(--horizontal-space-xxl, 48px)}}.smi-section-timeline-2 .miletone-style .smi-item-milestone .smi-media-wrapper{width:50%}.smi-section-timeline-2 .miletone-style .smi-item-milestone .smi-content-wrapper{width:50%}@media screen and (max-width: 767.98px){.smi-section-timeline-2 .miletone-style .smi-item-milestone{flex-direction:column;flex-wrap:wrap}.smi-section-timeline-2 .miletone-style .smi-item-milestone .smi-media-wrapper{width:100%;margin-bottom:var(--horizontal-space-lg, 24px)}.smi-section-timeline-2 .miletone-style .smi-item-milestone .smi-content-wrapper{width:100%}}.smi-section-timeline-2 .miletone-style .smi-item-milestone .smi-button-wrapper{text-align:var(--content-alignment)}.smi-section-timeline-2 .smi-miletones{position:relative}.smi-section-timeline-2 .smi-miletones .smi-heading-component{justify-content:var(--heading-alignment)}.smi-section-timeline-2 .smi-miletones .smi-heading-component .smi-heading-inner{margin-bottom:0px}.smi-section-timeline-2 .smi-miletones .smi-heading-component+.smi-button-wrapper{margin-top:var(--vertical-space-lg, 24px)}.smi-section-timeline-2 .smi-miletones .miletone-style{position:relative;padding-top:var(--horizontal-space-xxl, 36px);padding-bottom:var(--horizontal-space-xxl, 36px)}.smi-section-timeline-2 .smi-miletones .miletone-style:last-child{padding-bottom:0px}.smi-section-timeline-2 .smi-miletones .miletone-style:before{content:"";display:block;position:absolute;left:9px;top:0;width:0;height:100%;border-left:1px solid rgba(var(--color-foreground), 0.2)}.smi-section-timeline-2 .smi-miletones .miletone-style:after{content:"";display:block;position:absolute;left:9px;top:0;width:0;height:var(--heightLine, 0px);border-left:1px solid rgb(var(--color-foreground))}.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2{position:relative;padding-left:calc(var(--horizontal-space-xxxl, 60px) + 17px)}.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2:not(.first){margin-top:calc(var(--horizontal-space-xxxl, 60px))}@media screen and (min-width: 768px)and (max-width: 991.98px){.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2{padding-left:calc(var(--horizontal-space-xxl, 48px) + 17px)}}@media screen and (max-width: 767.98px){.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2{padding-left:calc(var(--horizontal-space-md, 16px) + 17px)}}.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2>svg{content:"";display:block;position:absolute;top:20px;left:1px;width:17px;height:17px;border-radius:13px;z-index:4;-webkit-transition:all 200ms cubic-bezier(0.345, 0.6, 0.87, 1);-webkit-transition:all 200ms cubic-bezier(0.345, 0.6, 0.87, 1.65);-moz-transition:all 200ms cubic-bezier(0.345, 0.6, 0.87, 1.65);-o-transition:all 200ms cubic-bezier(0.345, 0.6, 0.87, 1.65);transition:all 200ms cubic-bezier(0.345, 0.6, 0.87, 1.65);-webkit-transition-timing-function:cubic-bezier(0.345, 0.6, 0.87, 1);-webkit-transition-timing-function:cubic-bezier(0.345, 0.6, 0.87, 1.65);-moz-transition-timing-function:cubic-bezier(0.345, 0.6, 0.87, 1.65);-o-transition-timing-function:cubic-bezier(0.345, 0.6, 0.87, 1.65);transition-timing-function:cubic-bezier(0.345, 0.6, 0.87, 1.65)}.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2>svg circle{fill:rgb(var(--color-background));stroke:rgb(var(--color-foreground))}.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2.active>svg circle{fill:rgb(var(--color-foreground))}.smi-section-timeline-2 .smi-miletones .smi-component-blocks-miletone-2 .iconplay{border-radius:100px;border:2px solid #fff;background:rgba(var(--color-foreground), 0.1);backdrop-filter:blur(1.5px);position:absolute;transform:translate(-50%, -50%);top:50%;left:50%;width:56px;height:56px;display:flex;align-items:center;justify-content:center;cursor:pointer}@media screen and (min-width: 768px){.smi-section-timeline-2 .smi-miletones.smi-timeline-style-3 .miletone-style:before,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-3 .miletone-style:after,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-4 .miletone-style:before,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-4 .miletone-style:after,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-5 .miletone-style:before,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-5 .miletone-style:after{transform:translateX(-50%);left:50%}.smi-section-timeline-2 .smi-miletones.smi-timeline-style-3 .miletone-style .smi-item-milestone,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-4 .miletone-style .smi-item-milestone,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-5 .miletone-style .smi-item-milestone{column-gap:calc(var(--horizontal-space-xxxl, 60px)*2)}.smi-section-timeline-2 .smi-miletones.smi-timeline-style-3 .smi-component-blocks-miletone-2,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-4 .smi-component-blocks-miletone-2,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-5 .smi-component-blocks-miletone-2{padding-left:0px}.smi-section-timeline-2 .smi-miletones.smi-timeline-style-3 .smi-component-blocks-miletone-2>svg,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-4 .smi-component-blocks-miletone-2>svg,.smi-section-timeline-2 .smi-miletones.smi-timeline-style-5 .smi-component-blocks-miletone-2>svg{transform:translateX(-50%);left:50%}}
{% endstyle %}
{% comment %}#component#["settings/heading","settings/content-alignment","settings/media-settings-3","settings/color-scheme","settings/section-padding","blocks/milestone-image","blocks/milestone-video","blocks/color","blocks/background","settings/heading/block","settings/video/milestone-video","settings/design-mode","settings/animation-settings","settings/button-single","settings/play-button"]#endcomponent#{% endcomment %}
<style>
    {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
    #shopify-section-{{ section.id }}{
        --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
    }
    #shopify-section-{{ section.id }} .smi-heading-component{
        --heading-alignment: {{ section.settings.heading_alignment }};
    }
    #shopify-section-{{ section.id }} .smi-content-wrapper .smi-heading-component{
        --heading-alignment: {{section.settings.content_alignment}};
    }
    #shopify-section-{{ section.id }} .smi-content-wrapper .smi-button-wrapper{
        --content-alignment: {{section.settings.content_alignment}};
    }
</style>
<div id="smi-{{ section.id }}" class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-timeline-2 smi-color-{{ section.settings.color_scheme }}" data-section="timeline-2" data-name="✧Timeline 2">
     
    {% render 'smi-background' %}
    <div class="smi-container">
        {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{section.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = section.settings.heading | strip
    assign sub_heading = section.settings.sub_heading | strip
    assign description = section.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = section.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{%- assign heading = section.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ section.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
        <div class="smi-miletones smi-timeline-style-{{section.settings.timeline_style}}">
    <div class="miletone-style miletone-style-1">
        {% assign count = 0 %}
        {% assign count_milestone = 0 %}
        {% assign shape_index = 1 %}
        {% for block in section.blocks %}
            {% if block.type == 'milestone-image' or block.type == 'milestone-video' %}
                {% assign count_milestone = count_milestone | plus: 1 %}
                {% if block.type == 'milestone-image' %}
                    {% assign count = count | plus: 1 %}
                    {% assign total_item = 0 %}
{% for block in section.blocks %}
    {% if block.type == 'milestone-image' %}
        {% assign total_item = total_item | plus: 1 %}
    {%- endif -%}
{% endfor %}
{% if count == 1 %}
    {% assign customClass = ' first' %}
{% elsif count == total_item %}
    {% assign customClass = ' last' %}
{% else %}
    {% assign customClass = '' %}
{% endif %}
{%-liquid
    assign media_ratio = section.settings.media_ratio
    assign media_shape = section.settings.media_shape
    assign media_classes = 'smi-w-100 smi-object-fit-cover '
    if media_shape != 'default' and media_shape != 'round'
        if shape_index > 6
            assign shape_index = 1
        endif
        if shape_index < 6 
            assign forloop_next = shape_index | plus: 1
        else
            assign forloop_next = 1
        endif
        assign media_classes = media_classes | append: ' smi-shape-blob-' | append: shape_index
        assign shape_index = shape_index | plus: 1
        assign shape_hover = '--shape-blob-' | append: forloop_next
    endif
    if media_ratio == 'auto' 
        assign media_classes = media_classes | append: ' smi-h-auto'
    else
        assign media_classes = media_classes | append: ' smi-h-100 smi-p-absolute'
    endif
    assign media_wrapper_classes = 'smi-media-wrapper smi-border smi-shadow smi-lh-0 smi-overflow-hidden smi-p-relative smi-' | append: media_shape
    if media_shape contains 'blob'
        assign media_wrapper_classes = media_wrapper_classes | append: ' smi-blob-wrapper smi-has-blob'
    endif
-%}
<div class="smi-component-blocks-miletone-2{{customClass}}">
    <div class="smi-item-milestone smi-d-flex smi-align-items-center smi-column-gap-xxxl {% if section.settings.timeline_style == '2' or section.settings.timeline_style == '4' %}
        smi-flex-row-reverse
        {% endif %}
        {% if section.settings.timeline_style == '5' %}
            {% assign check_reverse =  count_milestone | modulo: 2  %}
            {% if check_reverse == 0 %}
                smi-flex-row-reverse
            {% endif %}
        {% endif %}
        ">
        <div class="{{ media_wrapper_classes }}  {% if section.settings.media_shape != 'shape-blob' %} {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' |  prepend: ' smi-hover-image-'  }}{% endif %}" style="--media-ratio: {{ media_ratio }}; --shape-hover: var({{ shape_hover }})">
            {%- if block.settings.milestone_image != blank -%}
                {% if forloop.index0 == 0  %}
                    {% assign imageLoading = 'eager' %}
                {% else %}
                    {% assign imageLoading = 'lazy' %}
                {% endif %}
                {% liquid
                    assign imgWidths = '480,500'
                %}
                {{ block.settings.milestone_image | image_url: width: 500 | image_tag: widths: imgWidths, loading: imageLoading, class: media_classes }}
            {% else %}
                {% assign svg_classes = media_classes | append: ' smi-placeholder-svg' %}
                {{ 'hero-apparel-1' | placeholder_svg_tag: svg_classes}}
            {%- endif -%}
        </div>
        <div class="smi-content-wrapper">
            {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{block.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = block.settings.heading | strip
    assign sub_heading = block.settings.sub_heading | strip
    assign description = block.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = block.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{%- assign heading = block.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ block.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
            {% liquid
    assign button_label = block.settings.button_label
    assign button_style = block.settings.button_style
    assign button_link = block.settings.button_link
%}
{% if button_label != blank %}
    <div class="smi-component-button-single smi-button-wrapper
        {%- if block.settings.button_full_width == true %} {%unless button_style contains 'text'%}smi-component-buttons-full-width{% endunless %}{%- endif -%}
    "  {{- block.shopify_attributes -}}>
        {% if button_label != blank %}
            {% assign button_hover_animation = settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none'  %}
            <a href="{% if button_link != blank %}{{ button_link }}{% else %}#{% endif %}" class="smi-button smi-text-button smi-button--{{ button_style | split: '_' | first -}}
            {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
            {{- ' smi-hover-' | append: button_hover_animation -}}
            {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
                    {% if button_style contains 'arrow' %}
                        <div class="smi-d-flex smi-align-content-center">
                            {% render 'smi-icons', icon: 'arrow-right-2' %}
                        </div>
                    {% endif %}
            </a>
        {% endif %}
    </div>
{% endif %}
        </div>
    </div>
    <svg class="dot-milestone" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <circle cx="8.5" cy="8.5" r="8" fill="white" stroke="#1F1F21"/>
    </svg>
</div>
                {% endif %}
                {% if block.type == 'milestone-video' %}
                    {% assign count = count | plus: 1 %}
{% assign total_item = 0 %}
{% for block in section.blocks %}
    {% if block.type == 'milestone-image' %}
        {% assign total_item = total_item | plus: 1 %}
    {%- endif -%}
{% endfor %}
{% if count == 1 %}
    {% assign customClass = ' first' %}
{% elsif count == total_item %}
    {% assign customClass = ' last' %}
{% else %}
    {% assign customClass = '' %}
{% endif %}
{%-liquid
    assign media_ratio = section.settings.media_ratio
    assign media_shape = section.settings.media_shape
    assign media_classes = 'smi-w-100 smi-object-fit-cover '
    if media_shape != 'default' and media_shape != 'round'
        if shape_index > 6
            assign shape_index = 1
        endif
        if shape_index < 6 
            assign forloop_next = shape_index | plus: 1
        else
            assign forloop_next = 1
        endif
        assign media_classes = media_classes | append: ' smi-shape-blob-' | append: shape_index
        assign shape_index = shape_index | plus: 1
        assign shape_hover = '--shape-blob-' | append: forloop_next
    endif
    if media_ratio == 'auto' 
        assign media_classes = media_classes | append: ' smi-h-auto'
    else
        assign media_classes = media_classes | append: ' smi-h-100 smi-p-absolute'
    endif
    assign media_wrapper_classes = 'smi-media-wrapper smi-border smi-shadow smi-lh-0 smi-overflow-hidden smi-p-relative smi-' | append: media_shape
    if media_shape contains 'blob'
        assign media_wrapper_classes = media_wrapper_classes | append: ' smi-blob-wrapper smi-has-blob'
    endif
-%}
<div class="smi-component-blocks-miletone-2{{customClass}}">
    <div class="smi-item-milestone smi-item-milestone-video smi-d-flex smi-align-items-center smi-column-gap-xxxl {% if section.settings.timeline_style == '2' or section.settings.timeline_style == '4' %}
        smi-flex-row-reverse
    {% endif %}
    {% if section.settings.timeline_style == '5' %}
            {% assign check_reverse =  count_milestone | modulo: 2  %}
            {% if check_reverse == 0 %}
                smi-flex-row-reverse
            {% endif %}
        {% endif %}
    ">
        <div class="{{ media_wrapper_classes }} " style="--media-ratio: {{ media_ratio }}; --shape-hover: var({{ shape_hover }})">
            <smi-video-background 
            {%- liquid
                if block.settings.autoplay == true
                    echo ' autoplay'
                else
                    echo ' paused'
                endif
            -%}
            >
                {% liquid
                    assign autoplay = true
                    assign autoplay_iframe = 1
                    if block.settings.autoplay == false
                        assign autoplay = false
                        assign autoplay_iframe = 0
                    endif
                    assign media_classes = media_classes | append: " smi-cover-image__img"
                %}
                {% if block.settings.cover_image != blank and autoplay == false %}
                    <div class="smi-video-modal smi-section smi-lite-modal smi-modal-xl smi-dropdown-popup-wrapper" id="modal_{{ block.id }}">
	<button onclick="smiLiteModal.close()" class="smi-modal-close">{% render 'smi-icons', icon: 'close' %}</button>
	{% if block.settings.upload_video != blank %}
		<div class="smi-upload-video">
			{{ block.settings.upload_video | video_tag: autoplay: false, loop: false, muted: true, controls: true, image_size: '1100x' }}
		</div>
	{% elsif block.settings.video_url != blank %}
		<div class="smi-video-url">
			{%- if block.settings.video_url.type == 'youtube' -%}
				<iframe
					src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay=0&mute=1&loop=0&controls=1&playlist={{ block.settings.video_url.id }}&rel=0"
					class="smi-js-youtube"
					allow="autoplay; encrypted-media"
					allowfullscreen
					width="100%"
					loading="lazy"
					height="100%"
				></iframe>
			{%- else -%}
				<iframe
					src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=0&pip=0&muted=1"
					class="smi-js-vimeo"
					allow="autoplay; encrypted-media"
					allowfullscreen
					width="100%"
					loading="lazy"
					height="100%"
				></iframe>
			{%- endif -%}
		</div>
	{% elsif block.settings.cover_image == blank %}
		{{ 'hero-apparel-1' | placeholder_svg_tag: 'smi-placeholder-svg' }}
	{% endif %}
</div>
                    {% if forloop.index0 == 0  %}
                        {% assign imageLoading = 'eager' %}
                    {% else %}
                        {% assign imageLoading = 'lazy' %}
                    {% endif %}
                    {% liquid
                        assign imgWidths = '480,500'
                    %}
                    <div class="smi-cover-image {{ ' smi-hover-bg-image-' | append: settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' }}">
                        {% assign custom_classes = media_classes | append: ' smi-bg-image' %}
                        {{ block.settings.cover_image | image_url: width: 500 | image_tag: widths: imgWidths, loading: imageLoading, class: custom_classes }}
                        <div class="iconplay" onclick="smiLiteModal.open('#modal_{{ block.id }}')">
                            <div class="smi-play-button-component smi-button-wrapper
	{{- ' smi-' | append: block.settings.play_button -}}
	{%- unless block.settings.play_button contains 'icon' -%}
		{{- ' smi-play-button-component--border-radius' -}}
		{{- ' smi-shadow' -}}
	{%- endunless -%}">
	<div class="__smi-icon">
		{% render 'smi-icons', icon: 'play-button' %}
	</div>
	{% if block.settings.play_button != 'icon-s' and block.settings.play_button != 'icon-l' and block.settings.play_button != 'icon-m' %}
		<div class="__smi-label">{{ block.settings.play_button_label }}</div>
	{% endif %}
</div>
                        </div>
                    </div>
                {% endif %}
                {% if block.settings.upload_video != blank %}
                    {% comment %} Image cover {% endcomment %}
                    {% if block.settings.cover_image == blank and autoplay == false and block.settings.upload_video != blank %}
                        <div class="smi-video-modal smi-section smi-lite-modal smi-modal-xl smi-dropdown-popup-wrapper" id="modal_{{ block.id }}">
	<button onclick="smiLiteModal.close()" class="smi-modal-close">{% render 'smi-icons', icon: 'close' %}</button>
	{% if block.settings.upload_video != blank %}
		<div class="smi-upload-video">
			{{ block.settings.upload_video | video_tag: autoplay: false, loop: false, muted: true, controls: true, image_size: '1100x' }}
		</div>
	{% elsif block.settings.video_url != blank %}
		<div class="smi-video-url">
			{%- if block.settings.video_url.type == 'youtube' -%}
				<iframe
					src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay=0&mute=1&loop=0&controls=1&playlist={{ block.settings.video_url.id }}&rel=0"
					class="smi-js-youtube"
					allow="autoplay; encrypted-media"
					allowfullscreen
					width="100%"
					loading="lazy"
					height="100%"
				></iframe>
			{%- else -%}
				<iframe
					src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=0&pip=0&muted=1"
					class="smi-js-vimeo"
					allow="autoplay; encrypted-media"
					allowfullscreen
					width="100%"
					loading="lazy"
					height="100%"
				></iframe>
			{%- endif -%}
		</div>
	{% elsif block.settings.cover_image == blank %}
		{{ 'hero-apparel-1' | placeholder_svg_tag: 'smi-placeholder-svg' }}
	{% endif %}
</div>
                        <div class="smi-cover-image">
                            <div class="smi-upload-video">
                                <div class="smi-background-block">
                                    {{ block.settings.upload_video | video_tag: autoplay: autoplay, class: media_classes , loop: true, muted: true, controls: false, image_size: '2048x' }}
                                </div>
                            </div>
                            <div class="iconplay" onclick="smiLiteModal.open('#modal_{{ block.id }}')">
                                <div class="smi-play-button-component smi-button-wrapper
	{{- ' smi-' | append: block.settings.play_button -}}
	{%- unless block.settings.play_button contains 'icon' -%}
		{{- ' smi-play-button-component--border-radius' -}}
		{{- ' smi-shadow' -}}
	{%- endunless -%}">
	<div class="__smi-icon">
		{% render 'smi-icons', icon: 'play-button' %}
	</div>
	{% if block.settings.play_button != 'icon-s' and block.settings.play_button != 'icon-l' and block.settings.play_button != 'icon-m' %}
		<div class="__smi-label">{{ block.settings.play_button_label }}</div>
	{% endif %}
</div>
                            </div>
                        </div>
                    {% endif %}
                    {% if autoplay != false %}
                        <div class="smi-upload-video">
                            {{ block.settings.upload_video | video_tag: autoplay: autoplay, class: media_classes, loop: true, muted: true, controls: false, image_size: '2048x' }}
                        </div>
                    {% endif %}
                {% elsif block.settings.video_url != blank %}
                    {% comment %} Image covervideo url {% endcomment %}
                    {% if block.settings.cover_image == blank and autoplay == false and block.settings.video_url != blank %}
                        <div class="smi-video-modal smi-section smi-lite-modal smi-modal-xl smi-dropdown-popup-wrapper" id="modal_{{ block.id }}">
	<button onclick="smiLiteModal.close()" class="smi-modal-close">{% render 'smi-icons', icon: 'close' %}</button>
	{% if block.settings.upload_video != blank %}
		<div class="smi-upload-video">
			{{ block.settings.upload_video | video_tag: autoplay: false, loop: false, muted: true, controls: true, image_size: '1100x' }}
		</div>
	{% elsif block.settings.video_url != blank %}
		<div class="smi-video-url">
			{%- if block.settings.video_url.type == 'youtube' -%}
				<iframe
					src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay=0&mute=1&loop=0&controls=1&playlist={{ block.settings.video_url.id }}&rel=0"
					class="smi-js-youtube"
					allow="autoplay; encrypted-media"
					allowfullscreen
					width="100%"
					loading="lazy"
					height="100%"
				></iframe>
			{%- else -%}
				<iframe
					src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=0&pip=0&muted=1"
					class="smi-js-vimeo"
					allow="autoplay; encrypted-media"
					allowfullscreen
					width="100%"
					loading="lazy"
					height="100%"
				></iframe>
			{%- endif -%}
		</div>
	{% elsif block.settings.cover_image == blank %}
		{{ 'hero-apparel-1' | placeholder_svg_tag: 'smi-placeholder-svg' }}
	{% endif %}
</div>
                        <div class="smi-cover-image {{ ' smi-hover-bg-image-' | append: settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' }}">
                            {%- if block.settings.video_url.type == 'youtube' -%}
                                <img class="smi-youtube-thumbnail smi-background-block {{media_classes}} smi-bg-image"
                                src="https://i.ytimg.com/vi/{{ block.settings.video_url.id }}/maxresdefault.jpg" alt="">
                            {%- else -%}
                                <div class="smi-video-url smi-background-block {{media_classes |  remove: ' smi-h-auto' }}">
                                    {% if forloop.index0 >= 3  %}
                                        {% assign videoLoading = 'lazy' %}
                                    {% else %}
                                        {% assign videoLoading = 'eager' %}
                                    {% endif %}
                                    <iframe
                                        src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?title=0&byline=0&portrait=0&autoplay={{ autoplay_iframe }}&loop=1&background=1"
                                        class="smi-js-vimeo smi-background-video"
                                        allow="autoplay; encrypted-media"
                                        allowfullscreen
                                        loading="{{videoLoading}}"
                                        width="100%"
                                        height="100%"
                                    ></iframe>
                                </div>
                             {% endif %}
                            <div class="iconplay" onclick="smiLiteModal.open('#modal_{{ block.id }}')">
                                <div class="smi-play-button-component smi-button-wrapper
	{{- ' smi-' | append: block.settings.play_button -}}
	{%- unless block.settings.play_button contains 'icon' -%}
		{{- ' smi-play-button-component--border-radius' -}}
		{{- ' smi-shadow' -}}
	{%- endunless -%}">
	<div class="__smi-icon">
		{% render 'smi-icons', icon: 'play-button' %}
	</div>
	{% if block.settings.play_button != 'icon-s' and block.settings.play_button != 'icon-l' and block.settings.play_button != 'icon-m' %}
		<div class="__smi-label">{{ block.settings.play_button_label }}</div>
	{% endif %}
</div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="smi-video-url smi-background-block {{media_classes |  remove: ' smi-h-auto' }}">
                        {%- if block.settings.video_url.type == 'youtube' -%}
                            {% if autoplay != false %}
                                <iframe
                                    src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&autoplay={{ autoplay_iframe }}&mute=1&loop=1&controls=0&playlist={{ block.settings.video_url.id }}&rel=0"
                                    class="smi-js-youtube smi-background-video"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen
                                    width="100%"
                                    height="100%"
                                ></iframe>
                            {% endif %}
                        {%- else -%}
                            <iframe
                                src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?title=0&byline=0&portrait=0&autoplay={{ autoplay_iframe }}&loop=1&background=1"
                                class="smi-js-vimeo smi-background-video"
                                allow="autoplay; encrypted-media"
                                allowfullscreen
                                width="100%"
                                height="100%"
                            ></iframe>
                        {%- endif -%}
                    </div>
                {% elsif block.settings.cover_image == blank %}
                    {% assign classImageDefault = media_classes |  append: ' smi-background-block smi-placeholder-svg' |  remove: ' smi-h-auto' %}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: classImageDefault }}
                {% endif %}
            </smi-video-background>
        </div>
        <div class="smi-content-wrapper">
            {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{block.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = block.settings.heading | strip
    assign sub_heading = block.settings.sub_heading | strip
    assign description = block.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = block.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{%- assign heading = block.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ block.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
            {% liquid
    assign button_label = block.settings.button_label
    assign button_style = block.settings.button_style
    assign button_link = block.settings.button_link
%}
{% if button_label != blank %}
    <div class="smi-component-button-single smi-button-wrapper
        {%- if block.settings.button_full_width == true %} {%unless button_style contains 'text'%}smi-component-buttons-full-width{% endunless %}{%- endif -%}
    "  {{- block.shopify_attributes -}}>
        {% if button_label != blank %}
            {% assign button_hover_animation = settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none'  %}
            <a href="{% if button_link != blank %}{{ button_link }}{% else %}#{% endif %}" class="smi-button smi-text-button smi-button--{{ button_style | split: '_' | first -}}
            {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
            {{- ' smi-hover-' | append: button_hover_animation -}}
            {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
                    {% if button_style contains 'arrow' %}
                        <div class="smi-d-flex smi-align-content-center">
                            {% render 'smi-icons', icon: 'arrow-right-2' %}
                        </div>
                    {% endif %}
            </a>
        {% endif %}
    </div>
{% endif %}
        </div>
    </div>
    <svg class="dot-milestone" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <circle cx="8.5" cy="8.5" r="8" fill="white" stroke="#1F1F21"/>
    </svg>
</div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
    </div>
</div>
{% schema %}
{
	"name": "✧Timeline 2-4",
	"tag": "section",
	"class": "smi-section smi-timeline-2",
	"settings": [
		{
			"type": "inline_richtext",
			"id": "sub_heading",
			"label": "Subheading",
			"default": "URNA CRAS MAURIS"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Happy Customers Say"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h2"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
		},
		{
			"type": "text_alignment",
			"id": "heading_alignment",
			"label": "Heading alignment",
			"default": "center"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "center"
		},
		{
			"type": "header",
			"content": "Media settings"
		},
		{
			"type": "select",
			"id": "media_ratio",
			"label": "Media ratio",
			"options": [
				{
					"value": "auto",
					"label": "Adapt"
				},
				{
					"value": "3/2",
					"label": "Landscape"
				},
				{
					"value": "1/1",
					"label": "Square"
				},
				{
					"value": "3/4",
					"label": "Portrait"
				}
			],
			"default": "3/4"
		},
		{
			"type": "select",
			"id": "media_shape",
			"label": "Media shape",
			"options": [
				{
					"value": "default",
					"label": "Default"
				},
				{
					"value": "round",
					"label": "Round"
				},
				{
					"value": "shape-blob",
					"label": "Blob"
				}
			],
			"default": "default",
			"info": "Media theme settings don't apply to the \"Blob\" shape."
		},
		{
			"type": "select",
			"id": "timeline_style",
			"label": "Layout style",
			"options": [
				{
					"value": "1",
					"label": "1"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "5",
					"label": "5"
				}
			],
			"default": "1"
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Milestone Image",
			"type": "milestone-image",
			"settings": [
				{
					"type": "image_picker",
					"id": "milestone_image",
					"label": "Image"
				},
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Happy Customers Say"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h5",
							"label": "XS"
						},
						{
							"value": "smi-h4",
							"label": "S"
						},
						{
							"value": "smi-h3",
							"label": "M"
						},
						{
							"value": "smi-h2",
							"label": "L"
						}
					],
					"default": "smi-h2"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label",
					"default": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				}
			]
		},
		{
			"name": "Milestone Video",
			"type": "milestone-video",
			"settings": [
				{
					"type": "image_picker",
					"id": "cover_image",
					"label": "Cover image",
					"info": "The image above will show if autoplay is disabled."
				},
				{
					"type": "video",
					"id": "upload_video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					],
					"info": "Accepts YouTube, Vimeo URL"
				},
				{
					"type": "checkbox",
					"id": "autoplay",
					"label": "Autoplay",
					"default": false
				},
				{
					"type": "header",
					"content": "Heading"
				},
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Happy Customers Say"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h5",
							"label": "XS"
						},
						{
							"value": "smi-h4",
							"label": "S"
						},
						{
							"value": "smi-h3",
							"label": "M"
						},
						{
							"value": "smi-h2",
							"label": "L"
						}
					],
					"default": "smi-h2"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label",
					"default": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Timeline 2-4",
			"settings": {
				"sub_heading": "",
				"heading": "Fashion that feels effortless",
				"heading_size": "smi-h2",
				"description": "<p>A flowing floral maxi dress embodies the spirit of boho chic.</p>",
				"heading_alignment": "center",
				"content_alignment": "left",
				"media_ratio": "3/2",
				"media_shape": "default",
				"timeline_style": "5",
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_1"
			},
			"blocks": [
				{
					"type": "milestone-image",
					"settings": {
						"milestone_image": "shopify://shop_images/smi-review_clothing-30.jpg",
						"sub_heading": "JULY, 1969",
						"heading": "Mastering the art",
						"heading_size": "smi-h3",
						"description": "<p>Whether worn at a music festival, a beachside picnic, or a casual gathering, the bohemian dress encapsulates a sense of individuality and a celebration of the unconventional in the world of fashion.</p>",
						"button_label": "",
						"button_link": null,
						"button_style": "solid"
					}
				},
				{
					"type": "milestone-image",
					"settings": {
						"milestone_image": "shopify://shop_images/smi-smi-clothing-classic-24.jpg",
						"sub_heading": "JAN, 1990",
						"heading": "Trailblazing beginings",
						"heading_size": "smi-h3",
						"description": "<p>Stepping into the realm of bohemian fashion is akin to entering a world of whimsy and carefree charm. A flowing floral maxi dress embodies the spirit of boho chic, with its free-spirited silhouette and vibrant patterns. </p>",
						"button_label": "",
						"button_link": null,
						"button_style": "solid"
					}
				},
				{
					"type": "milestone-image",
					"settings": {
						"milestone_image": "shopify://shop_images/smi-review_clothing-52.jpg",
						"sub_heading": "FEB, 2007",
						"heading": "A mid-century revolution",
						"heading_size": "smi-h3",
						"description": "<p>Sharp lines, structured shoulders, and precise stitching come together to create a silhouette that exudes confidence and professionalism. Each element of the suit is carefully designed to empower the wearer.</p>",
						"button_label": "",
						"button_link": null,
						"button_style": "solid"
					}
				},
				{
					"type": "milestone-image",
					"settings": {
						"milestone_image": "shopify://shop_images/smi-image_clothing-01_15.jpg",
						"sub_heading": "MAR, 2019",
						"heading": "Unlocking your style potential",
						"heading_size": "smi-h3",
						"description": "<p>The loose fit allows for easy movement, perfect for lounging at home or enjoying a leisurely stroll in the cool autumn breeze. It's a reminder that fashion can be a source of comfort and self-care.</p>",
						"button_label": "",
						"button_link": null,
						"button_style": "solid"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
!function(){class e{constructor(){const e="smi-{{ section.id }}";this.sectionId=e.replace("smi-",""),this.sectionEl=document.querySelector("#"+e),this.modalId="modal_"+this.sectionId,this.modalEl=document.querySelector(`#${this.modalId}`),this._handleVideoPlay()}_handleVideoPlay(){this.sectionEl.querySelector("smi-video-background");document.addEventListener("smiLiteModalOpen",(e=>{this.playVideo()})),document.addEventListener("smiLiteModalClose",(e=>{this.pauseVideo()}))}pauseVideo(){const e=this.modalEl.querySelector(".smi-js-vimeo"),t=this.modalEl.querySelector(".smi-js-youtube"),o=this.modalEl.querySelector(".smi-upload-video video");e&&e.contentWindow.postMessage('{"method":"pause"}',"*"),t&&t.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}',"*"),o&&o.pause()}playVideo(){const e=this.modalEl.querySelector(".smi-js-vimeo"),t=this.modalEl.querySelector(".smi-js-youtube"),o=this.modalEl.querySelector(".smi-upload-video video");if(e&&e.contentWindow.postMessage('{"method":"play"}',"*"),t&&t.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}',"*"),o){let e;clearTimeout(e),e=setTimeout((()=>o.play()),150)}}}Shopify.designMode?new e:document.addEventListener("DOMContentLoaded",(()=>{new e}))}(),function(){class e{constructor(e){this.sectionId=e.replace("smi-",""),this.ShopifySectionId="shopify-section-"+this.sectionId,this.sectionEl=document.querySelector(`#${e}`),this.shopifySectionEl=document.querySelector(`#${this.ShopifySectionId}`),this._scrollAction(this.sectionEl)}_scrollAction(e){window.addEventListener("scroll",(function(){this.itemMilestones=e.querySelectorAll(".smi-component-blocks-miletone-2");let t="0px",o=e.getBoundingClientRect();this.itemMilestones.forEach((function(i){const s=i.getBoundingClientRect();if(o.bottom<=window.innerHeight)t="100%";else if(s.top<=window.innerHeight&&s.bottom<=window.innerHeight){let o=i.querySelector("svg.dot-milestone"),s=e.querySelector(".smi-miletones");const n=o.getBoundingClientRect(),d=s.getBoundingClientRect();i.classList.add("active"),t=n.top-d.top+"px"}else i.classList.remove("active")})),e.querySelector(".miletone-style").style.setProperty("--heightLine",t)}))}}document.addEventListener("DOMContentLoaded",(()=>{new e("smi-{{ section.id }}")})),Shopify.designMode&&new e("smi-{{ section.id }}")}();
</script>