{% style %}
	.smi-content-settings .smi-content-max-width{width:var(--content-max-width);max-width:100%}.smi-content-settings .content-alignment-left{display:flex;flex-wrap:wrap;justify-content:flex-start;text-align:left}.smi-content-settings .content-alignment-right{display:flex;flex-wrap:wrap;justify-content:flex-end;text-align:right}.smi-content-settings .content-alignment-center{display:flex;flex-wrap:wrap;justify-content:center;text-align:center}@media screen and (min-width: 768px){.smi-content-settings .smi-content-position-left{display:flex;flex-wrap:wrap;justify-content:flex-start}.smi-content-settings .smi-content-position-right{display:flex;flex-wrap:wrap;justify-content:flex-end}.smi-content-settings .smi-content-position-center{display:flex;flex-wrap:wrap;justify-content:center}}.smi-component-blocks-heading{width:100%;justify-content:var(--content-alignment)}.smi-component-blocks-heading .heading-only{max-width:750px}.smi-component-blocks-heading .heading-only-left{margin:auto auto auto 0px}.smi-component-blocks-heading .heading-only-right{margin:auto 0px auto auto}.smi-component-blocks-heading .heading-only-center{margin:auto}.smi-component-blocks-heading .smi-text-75{opacity:.75}.smi-component-blocks-heading .sub-heading{color:rgba(var(--color-subtext), 1);letter-spacing:1px}.smi-component-blocks-heading .description{letter-spacing:var(--body-letter-spacing-scale, 0);margin-bottom:0px !important}.smi-component-blocks-heading .description p{margin-bottom:calc(16px*var(--spacing-elements));font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-component-blocks-heading .description p:last-child{margin-bottom:0px !important}.smi-component-blocks-text{width:100%}.smi-component-blocks-text .smi-text-75{opacity:.75}.smi-component-blocks-text p{letter-spacing:var(--body-letter-spacing-scale, 0);font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1));margin-bottom:10px}.smi-component-blocks-text p:last-child{margin-bottom:0px}.smi-component-blocks-heading{width:100%;justify-content:var(--content-alignment)}.smi-component-blocks-heading .heading-only{max-width:750px}.smi-component-blocks-heading .heading-only-left{margin:auto auto auto 0px}.smi-component-blocks-heading .heading-only-right{margin:auto 0px auto auto}.smi-component-blocks-heading .heading-only-center{margin:auto}.smi-component-blocks-heading .smi-text-75{opacity:.75}.smi-component-blocks-heading .sub-heading{color:rgba(var(--color-subtext), 1);letter-spacing:1px}.smi-component-blocks-heading .description{letter-spacing:var(--body-letter-spacing-scale, 0);margin-bottom:0px !important}.smi-component-blocks-heading .description p{margin-bottom:calc(16px*var(--spacing-elements));font-size:calc(var(--font-body-scale)*16*1px);line-height:calc((1 + .8/(var(--font-body-scale)*16/16))*var(--body-line-height-scale, 1))}.smi-component-blocks-heading .description p:last-child{margin-bottom:0px !important}.smi-component-blocks-image{max-width:100%}.smi-component-blocks-image img{max-width:100%}.smi-component-blocks-image svg{max-width:100%}.smi-component-blocks-image .smi-text-75{opacity:.75}.smi-component-blocks-image img{max-width:100%;height:fit-content;object-fit:contain}.smi-section-rich-text-1{position:relative}.smi-section-rich-text-1 .smi-container-relative{position:relative}.smi-section-rich-text-1 .smi-container-detail{display:flex;gap:0px 80px;align-items:center;flex-direction:var(--media-position)}.smi-section-rich-text-1 .smi-container-detail .smi-content-max-width{width:var(--content-max-width) !important;max-width:100%}.smi-section-rich-text-1 .smi-container-detail .smi-rich-text-detail{display:flex;flex-wrap:wrap;grid-gap:0px 24px}.smi-section-rich-text-1 .smi-container-detail .smi-rich-text-detail div:last-child{margin-bottom:0px !important}.smi-section-rich-text-1 .smi-container-detail .smi-rich-content{width:100%}.smi-section-rich-text-1 .smi-container-detail .smi-rich-content-half-true{width:calc(50% - 12px) !important}.smi-section-rich-text-1 .smi-container-detail .smi-block-type-divider{font-size:1px;color:rgba(0,0,0,0);height:1px;width:100%;background:rgba(var(--color-foreground), 0.2)}.smi-section-rich-text-1 .smi-container-detail .smi-block-type-email_form .email-container{width:100%}.smi-section-rich-text-1 .smi-container-detail .smi-block-type-email_form .email-container form{width:100% !important}.smi-section-rich-text-1 .smi-container-detail .smi-rich-content-media .smi-rich-content-image img,.smi-section-rich-text-1 .smi-container-detail .smi-rich-content-media .smi-rich-content-image svg{max-width:100%;object-fit:cover}.smi-section-rich-text-1 .smi-container-detail .smi-rich-content-media .smi-rich-content-image .round{border-radius:2000px !important}.smi-section-rich-text-1 .smi-container-detail .smi-block-type-text p:last-child{margin-bottom:0px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .unit-countdown{width:50px}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*24*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*20*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*18*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*18/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*16*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-heading-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*12/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px !important;padding-bottom:8px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-px-md{padding-left:8px !important;padding-right:8px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px !important;padding-bottom:4px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:2px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:2px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .solid_2_radius{padding:0px 6px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .solid_2{padding:0px 6px !important}.smi-section-rich-text-1 .min-container .smi-component-settings-countdown-timer .smi-rich-content-half-true{width:100% !important}@media screen and (max-width: 768px){.smi-section-rich-text-1 .smi-container-detail{display:flex;flex-direction:column-reverse}.smi-section-rich-text-1 .smi-container-detail .smi-rich-content-half-true{width:100% !important}}@media screen and (max-width: 576px){.smi-section-rich-text-1 .smi-component-settings-countdown-timer .unit-countdown{width:50px}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-h1{font-size:calc(var(--font-heading-scale)*24*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*24/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-h2{font-size:calc(var(--font-heading-scale)*20*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*20/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-h3{font-size:calc(var(--font-heading-scale)*18*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*18/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-h4{font-size:calc(var(--font-heading-scale)*16*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*16/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-text-md{font-size:calc(var(--font-heading-scale)*12*1px) !important;line-height:calc((1 + .8/(var(--font-heading-scale)*12/16))*var(--heading-line-height-scale, 1)) !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-pr-lg{padding-right:2px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-pl-lg{padding-left:2px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-py-sm{padding-top:8px !important;padding-bottom:8px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-px-md{padding-left:8px !important;padding-right:8px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-py-xs{padding-top:4px !important;padding-bottom:4px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-mr-sm{margin-right:2px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .smi-ml-sm{margin-left:2px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .solid_2_radius{padding:0px 6px !important}.smi-section-rich-text-1 .smi-component-settings-countdown-timer .solid_2{padding:0px 6px !important}}
{% endstyle %}
{% comment %}#component#["settings/content-settings","settings/section-padding","settings/rich-content-heading","settings/text","settings/buttons","settings/image","blocks/color","blocks/background","settings/design-mode","settings/animation-settings"]#endcomponent#{% endcomment %}
<style>
  {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
        #shopify-section-{{ section.id }}{
    }
    #smi-{{ section.id }} {
      --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
;
      --content-max-width: {{ section.settings.content_max_width }}px;;
      --content-alignment: {{ section.settings.content_alignment }};
      --media-position: {{ section.settings.desktop_media_position }};
  }
</style>
{% liquid
  assign content_alignment = section.settings.content_alignment
  assign color_pos = 0
  assign bkg_pos = 0
  for block in section.blocks
  if block.type == 'color'
  assign color_pos = forloop.index
  endif
  if block.type == 'background'
  assign bkg_pos = forloop.index
  endif
endfor
%}
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-rich-text-1 smi-color-{{ section.settings.color_scheme }} smi-content-settings"
  data-section="rich-text-1" data-name="✧Rich text 1">
   
  {% render 'smi-background' %}
  <input type="hidden" value="" id="interval_countdown_{{ section.id }}">
  <div class="smi-container-relative smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%}">
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div class="smi-container-detail 
      smi-section-block-{{ section.id }}
      {% if section.settings.content_max_width < 576 %}
        min-container 
    {% endif %}
      smi-content-position-{{ section.settings.content_position }} {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}"
      data-block='{
        "color_pos": "{{ color_pos }}", 
        "bkg_pos": "{{ bkg_pos }}",
        "all_block": {{ section.blocks.size }}
      }'
    >
      <div class="smi-rich-text-detail smi-content-max-width">
        {% for block in section.blocks %}
          <div class="
            smi-block-postion-{{ forloop.index }}-{{ section.id }}
            content-alignment-{{ section.settings.content_alignment -}}
                {{- ' smi-rich-content' -}}
                {%- if block.type == "icon_with_text" %} smi-rich-content-half-{{ block.settings.half_width_on_large_screen }}{% endif -%}
                {%- liquid
                  if block.type != 'color' and block.type != 'background'
                      if block.type == 'button'
                       if forloop.index < section.blocks.size
                          echo ' smi-mb-lg'
                          endif
                      else
                      if forloop.index < section.blocks.size
                          echo ' smi-mb-lg'
                          endif
                      endif
                  endif
              -%}
                {{- ' smi-block-type-' | append: block.type -}}" {{ block.shopify_attributes }}>
            {% if block.type == 'heading' %}
              <div class="smi-component-blocks-heading content-alignment-{{ content_alignment }}">
  <div class="heading-only heading-only-{{ content_alignment }}">
    <p class="smi-text-sub smi-mb-xxs sub-heading smi-link-wrapper" data-type="subheading" data-key="b.heading.sub_heading">{{ block.settings.sub_heading }}</p>
    <h5 class="{{ block.settings.heading_size }} 
        {% if block.settings.description != blank or block.settings.description != ""%} smi-mb-sm {% endif %} smi-link-wrapper" data-type="heading" data-key="b.heading.heading">{{ block.settings.heading}}</h5>
    <div class="smi-text-md smi-text-75 description smi-link-wrapper" data-field="richtext" data-type="description" data-key="b.heading.description">{{ block.settings.description }}</div>
</div>  
</div>
            {% endif %}
            {% if block.type == 'text' %}
              <div class="smi-component-blocks-text smi-text-md" {{- block.shopify_attributes -}}>
    <div class="smi-text-75 smi-link-wrapper">{{ block.settings.text | newline_to_br }}</div>
</div>
            {% endif %}
            {% if block.type == 'heading_content' %}
              <div class="smi-component-blocks-heading content-alignment-{{ content_alignment }}">
  <div class="heading-content">
    <h5 class="{{ block.settings.heading_size }} smi-mb-xxs smi-link-wrapper" data-type="heading" data-key="b.heading.heading">{{ block.settings.heading }}</h5>
    <div class="description smi-text-md smi-text-75 smi-link-wrapper" data-field="richtext" data-type="description" data-key="b.heading.content">
    {{ block.settings.content }}
    </div>
</div>
</div>
            {% endif %}
            {% if block.type == 'button' %}
              <div class="smi-component-buttons smi-button-wrapper
    {%- if block.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless block.settings.first_button_style contains 'text' or block.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = block.settings.first_button_label
    assign button_style = block.settings.first_button_style
    assign button_link = block.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = block.settings.second_button_label
    assign button_style = block.settings.second_button_style
    assign button_link = block.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
            {% endif %}
            {% if block.type == 'image' %}
              {% assign img_width = block.settings.image_width %}
<div class="smi-component-blocks-image-{{ section.id }} {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' |  prepend: ' smi-hover-image-'  }}">
  {%- liquid
    assign img_classes = 'smi-media-wrapper '
    assign content_img = block.settings.heading | strip
    if block.settings.use_media_settings
    assign img_classes = img_classes | append: " smi-media-settings smi-border smi-shadow "
    endif
    assign placeholder_img_classes = img_classes | append: ' placeholder-img'
  -%}
  {% if block.settings.heading != blank and block.settings.heading != "" and block.settings.heading != " " %}
  <p class="smi-text-md smi-text-75 {% if block.settings.upload_checkout != blank %} smi-mb-xs {% endif %}">
    {{ block.settings.heading }}
  </p>
{% endif %}
  <style>
    .smi-product-detail .smi-img {
        width: {{ img_width }}px;
        max-width: 100%
    }
    .smi-component-blocks-image-{{ section.id }} svg {
        width: {{ img_width }}px;
        max-width: 100%;
        height: fit-content;
    }
    .smi-component-blocks-image-{{ section.id }} img {
        width: {{ img_width }}px;
        max-width: 100%;
        object-fit: cover;
        height: fit-content;
    }
  </style>
  <div style="width: fit-content;" class="{{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' |  prepend: ' smi-hover-image-'  }}" data-type="image" data-key="b.image.upload_checkout">
    {%- if block.settings.upload_checkout != blank -%}
      {{
        block.settings.upload_checkout | image_url: width: img_width| image_tag: loading: 'lazy', class: img_classes
      }}
    {%- else -%}
      {{ 'blog-apparel-3' | placeholder_svg_tag: placeholder_img_classes }}
    {%- endif -%}
  </div>
</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
	"name": "✧✧Rich text 1-2",
	"tag": "section",
	"class": "smi-section smi-rich-text-1",
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Opening Hours"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h3"
				},
				{
					"type": "richtext",
					"id": "description",
					"default": "<p>Enjoy 10% off on your first purchase and be the first to know about new releases, latest stories and offers.</p>",
					"label": "Description"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"label": "Content",
					"default": "<p>Text</p>"
				}
			]
		},
		{
			"type": "heading_content",
			"name": "Heading & content",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Season Sale on store"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h5"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Great to save 25% on all your favorites. Don’t miss this deal!</p>"
				}
			]
		},
		{
			"type": "button",
			"name": "Buttons",
			"settings": [
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "checkbox",
					"id": "button_full_width",
					"label": "Button full-width",
					"default": false
				}
			]
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Guaranteed Safe Checkout"
				},
				{
					"type": "image_picker",
					"id": "upload_checkout",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 20,
					"max": 700,
					"step": 10,
					"label": "Image width",
					"default": 320,
					"unit": "px"
				},
				{
					"type": "checkbox",
					"id": "use_media_settings",
					"label": "Use media style from theme settings",
					"default": false
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Rich text 1-2",
			"settings": {
				"full_width": false,
				"content_position": "center",
				"content_alignment": "center",
				"content_max_width": 750,
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_2"
			},
			"blocks": [
				{
					"type": "heading",
					"settings": {
						"sub_heading": "",
						"heading": "Timeless elegance redefined",
						"heading_size": "smi-h2",
						"description": "<p>Explore the epitome of style with our latest fashion collection. Immerse yourself in timeless elegance as classic trends seamlessly blend. From casual chic to sophisticated glamour, discover curated pieces that transcend seasons. Elevate your wardrobe fashion with our exclusive designs and impeccable craftsmanship.</p>"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#fcf8f5",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#fcf8f5",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
window.addEventListener("DOMContentLoaded", (event) => {
  const currentEl = document.getElementById('smi-{{ section.id }}'); 
});
window.addEventListener("DOMContentLoaded", (event) => {
  const currentEl = document.getElementById('smi-{{ section.id }}'); 
});
(function () {
    'use strict';
      class SMI_RichText1 {
          sectionEl = null;
            
        constructor(sectionID) {
            this.removeLastMB(sectionID);

        }

        removeLastMB(secId){
            const parent = document.querySelector(`.smi-section-block-${secId.replace("smi-","")}`)
            if (parent) {
                let options = JSON.parse(parent.getAttribute('data-block'));
                let color_pos = parseInt(options.color_pos)
                let bkg_pos = parseInt(options.bkg_pos)
                let all_block = parseInt(options.all_block)
                let block_after = color_pos > bkg_pos ? color_pos : bkg_pos
                let block_before = color_pos > bkg_pos ? bkg_pos : color_pos
                let delete_mb = 0
                if(block_after == all_block){
                    if(block_before == (block_after - 1)){
                        delete_mb = block_before - 1
                    }else{
                        delete_mb = block_after - 1
                    }
                }
                let list_mb = ['smi-mb-xxl','smi-mb-xl', 'smi-mb-lg', 'smi-mb-md', 'smi-mb-sm', 'smi-mb-xs']
                if(delete_mb > 0){
                    list_mb.forEach(index=>{
                        document.querySelector(`.smi-block-postion-${delete_mb}-${secId.replace("smi-","")}`).classList.remove(index)
                    })
                }

            }
          }
    }

    document.addEventListener('DOMContentLoaded', () => {
        new SMI_RichText1('smi-{{ section.id }}')
    });

    if (Shopify.designMode) {
        new SMI_RichText1('smi-{{ section.id }}')
    }
})();

</script>