{% style %}
	.smi-component-blocks-collapsible-content{width:100%}.smi-component-blocks-collapsible-content h5 a{margin-left:3px}.smi-component-blocks-collapsible-content h5{text-align:left}.smi-component-blocks-collapsible-content .smi-text-75{opacity:.75}.smi-component-blocks-collapsible-content .full_collapsible,.smi-component-blocks-collapsible-content .numbered-collapsible,.smi-component-blocks-collapsible-content .default-collapsible{cursor:pointer}.smi-component-blocks-collapsible-content .full-collapsible-1{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}@media screen and (max-width: 576px){.smi-component-blocks-collapsible-content .full-collapsible-3{padding-left:16px !important;padding-right:16px !important}.smi-component-blocks-collapsible-content .full-collapsible-4{padding-left:16px !important;padding-right:16px !important}}.smi-component-blocks-collapsible-content .full-collapsible-3{background:rgba(var(--color-foreground), 0.04);border-radius:var(--text-boxes-radius)}.smi-component-blocks-collapsible-content .full-collapsible-2{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}.smi-component-blocks-collapsible-content .full-collapsible-2 .collapse-desc-arr{width:36px;height:36px;padding:8px;border-radius:1000px;background:rgba(var(--color-foreground), 0.04);display:none}.smi-component-blocks-collapsible-content .full-collapsible-2 .collapse-desc-arr svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-collapsible-content .numbered-collapsible .numbered-item-collapse{width:40px;height:40px;display:flex;justify-content:center;align-items:center;border-radius:100px}.smi-component-blocks-collapsible-content .numbered-collapsible .collapse-title{width:calc(100% - 60px) !important}.smi-component-blocks-collapsible-content .numbered-collapsible-1{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}.smi-component-blocks-collapsible-content .numbered-collapsible-1 .numbered-item-collapse{background:rgba(var(--color-foreground), 0.04)}@media screen and (max-width: 576px){.smi-component-blocks-collapsible-content .numbered-collapsible-2{padding-left:16px !important;padding-right:16px !important}}.smi-component-blocks-collapsible-content .numbered-collapsible-2{background:rgba(var(--color-foreground), 0.04);border-radius:var(--text-boxes-radius)}.smi-component-blocks-collapsible-content .numbered-collapsible-2 .numbered-item-collapse{background:rgba(var(--color-background), 1)}.smi-component-blocks-collapsible-content .numbered-collapsible-3{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}.smi-component-blocks-collapsible-content .numbered-collapsible-3 .numbered-item-collapse{background:rgba(var(--color-foreground), 0.04)}.smi-component-blocks-collapsible-content .numbered-collapsible-3 .collapse-title{width:calc(100% - 80px) !important}.smi-component-blocks-collapsible-content .numbered-collapsible-3 .collapse-desc-arr{width:36px;height:36px;padding:8px;border-radius:1000px;border:1px solid rgba(var(--color-foreground), 0.2);display:none}.smi-component-blocks-collapsible-content .numbered-collapsible-3 .collapse-desc-arr svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-collapsible-content .default-collapsible-1{border-bottom:none !important}.smi-component-blocks-collapsible-content .default-collapsible-2{border-bottom:none !important;border-radius:var(--text-boxes-radius);background:rgba(var(--color-foreground), 0.04)}@media screen and (max-width: 576px){.smi-component-blocks-collapsible-content .default-collapsible-2{padding-left:16px !important;padding-right:16px !important}}.smi-component-blocks-collapsible-content .default-collapsible-3{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}.smi-component-blocks-collapsible-content .collapse-heading{display:flex;width:100%;margin-left:0px;align-items:center;color:rgb(var(--color-foreground))}.smi-component-blocks-collapsible-content .collapse-heading .icon-sample{display:flex}.smi-component-blocks-collapsible-content .collapse-heading .icon-sample svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-collapsible-content .collapse-title{width:100%;display:flex;justify-content:left;align-items:center}.smi-component-blocks-collapsible-content .collapse-description-arrow{display:flex;justify-content:right;align-items:center}.smi-component-blocks-collapsible-content .collapse-description-arrow .collapse-desc-arr{display:none}.smi-component-blocks-collapsible-content .collapse-description-arrow .collapse-desc-arr svg{width:calc(20px*var(--icon-scale, 1));height:calc(20px*var(--icon-scale, 1))}.smi-component-blocks-collapsible-content .collapse-description-arrow .collapse-desc-arr svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-blocks-collapsible-content .collapse-description-arrow .collapse-desc-arr-show{display:block !important;line-height:0}.smi-component-blocks-collapsible-content .collapse-desc-content{display:none;letter-spacing:var(--body-letter-spacing-scale, 0)}.smi-component-blocks-collapsible-content .collapse-desc-content table{table-layout:auto;border-style:solid}.smi-component-blocks-collapsible-content .collapse-desc-content p{margin-bottom:calc(16px*var(--spacing-elements))}.smi-component-blocks-collapsible-content .collapse-desc-content p:last-child{margin-bottom:0px !important}.smi-component-blocks-collapsible-content .collapse-desc-content-show{display:block !important}.smi-component-blocks-collapsible-content img,.smi-component-blocks-collapsible-content svg{max-width:100%}.smi-component-settings-collapsible-category-{width:100%}.smi-component-settings-collapsible-category- .text-content{display:flex !important;align-items:center}.smi-component-settings-collapsible-category- .text-content .category-heading{display:flex;align-items:center}.smi-component-settings-collapsible-category- .text-content svg{stroke:rgba(var(--color-foreground), 1)}.smi-component-settings-collapsible-category- .text-content svg path{fill:rgba(var(--color-foreground), 1)}.smi-component-settings-collapsible-category- .text-content .content{width:100%}.smi-content-settings .smi-content-max-width{width:var(--content-max-width);max-width:100%}.smi-content-settings .content-alignment-left{display:flex;flex-wrap:wrap;justify-content:flex-start;text-align:left}.smi-content-settings .content-alignment-right{display:flex;flex-wrap:wrap;justify-content:flex-end;text-align:right}.smi-content-settings .content-alignment-center{display:flex;flex-wrap:wrap;justify-content:center;text-align:center}@media screen and (min-width: 768px){.smi-content-settings .smi-content-position-left{display:flex;flex-wrap:wrap;justify-content:flex-start}.smi-content-settings .smi-content-position-right{display:flex;flex-wrap:wrap;justify-content:flex-end}.smi-content-settings .smi-content-position-center{display:flex;flex-wrap:wrap;justify-content:center}}.smi-section-collapsible-content-2 .smi-container-relative{position:relative}.smi-section-collapsible-content-2 .block-container{width:100%}.smi-section-collapsible-content-2 .border-content-container-2{border-radius:calc(var(--text-boxes-radius) + var(--text-boxes-border-width));background:rgba(var(--color-background), 1);border:var(--text-boxes-border-width) solid rgba(var(--color-foreground), 0.2);box-shadow:var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity))}.smi-section-collapsible-content-2 .border-2-active{border:var(--text-boxes-border-width) solid rgba(var(--color-foreground), 1) !important}.smi-section-collapsible-content-2 .border-top-collapsible-content{border-top:1px solid rgba(var(--color-foreground), 0.2)}.smi-section-collapsible-content-2 .border-bottom-collapsible-content{border-bottom:1px solid rgba(var(--color-foreground), 0.2)}
{% endstyle %}
{% comment %}#component#["settings/heading","settings/media-settings-3","settings/slider-arrows","settings/slider-dots","settings/slides","settings/section-padding","settings/button-without-url","blocks/color","blocks/background","settings/product-card","settings/content-alignment","settings/color-scheme","settings/rich-content-heading","settings/countdown-timer","settings/content-settings","settings/buttons","settings/layout-settings","settings/container-width","settings/media-width","settings/media-position","settings/media-height","settings/custom-icons","blocks/product-variant","blocks/product-quantity","blocks/product-purchase","blocks/product-color","settings/mega-menu","blocks/mega-menu/color","blocks/mega-menu/classic","blocks/mega-menu/collection","blocks/mega-menu/banner","blocks/mega-menu/product","blocks/mega-menu/product-tab","blocks/header-search","settings/product-card-bundle","settings/gap-between-content","settings/design-mode","settings/heading-blog-post","settings/animation-settings","settings/blog-item","settings/slider-pagination-1-style","settings/media-settings-5","settings/media-settings-4","settings/media-settings","settings/button-single","settings/collapsible-category","blocks/collapsible-content","settings/text","settings/divider","settings/social-media","settings/image","settings/icon-with-text","settings/page-content","blocks/email-signup","settings/icon-setting"]#endcomponent#{% endcomment %}
{% liquid
  assign collapse_index = 0
  assign content_position = section.settings.content_position
  assign collapsible_type = section.settings.collapsible_type
%}
<style>
  {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
  #smi-{{ section.id }}{
      --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
;
      --content-max-width: {{ section.settings.content_max_width }}px;;
      --heading-alignment: {{ section.settings.heading_alignment }};
      --content-max-width: {{ section.settings.content_max_width }}px;;
      --content-alignment: {{ section.settings.content_alignment }};
    {% if collapsible_type == "4" %}
      --text-boxes-border-width: var(--text-boxes-border-width-min);      
    {% endif %}
  }
</style>
{%liquid
  assign color_pos = 0
  assign bkg_pos = 0
  for block in section.blocks
  if block.type == 'color'
  assign color_pos = forloop.index
  endif
  if block.type == 'background'
  assign bkg_pos = forloop.index
  endif
endfor
%}
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-collapsible-content-2 smi-color-{{ section.settings.color_scheme }} smi-content-settings"
  data-section="collapsible-content-2" data-name="✧Collapsible content 2">
   
  {% render 'smi-background' %}
  <input type="hidden" id="collapsible_type_smi-{{ section.id }}" value="{{ section.settings.collapsible_type }} ">
  <div class="smi-container-relative smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%} ">
    <div class="smi-heading" {{ block.shopify_attributes }}>{%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{section.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = section.settings.heading | strip
    assign sub_heading = section.settings.sub_heading | strip
    assign description = section.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = section.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{%- assign heading = section.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ section.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
</div>
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div
      class="smi-collapsible-content smi-collapsible-content-load2-{{ section.id }}
      {{- 'smi-section-block-' | append: section.id -}}
      {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1{% endif -%}"
      data-load='
        {
          "openFirst": {{ section.settings.open_first_collapsible_row }},
          "size": "{{ section.blocks.size }}",
          "collapNum": "2"
        }
      '
      data-block='{
        "color_pos": "{{ color_pos }}", 
        "bkg_pos": "{{ bkg_pos }}",
        "all_block": {{ section.blocks.size }}
      }'
    >
      {% assign collapse_index = 0 %}
      {% assign category_index = '' %}
      {% for block in section.blocks %}
        {% if block.type == "collapsible_category" %}
          {% assign category_index_minus = forloop.index | minus: 1 %}
          {% assign category_index = category_index | append: category_index_minus  %}
        {% endif %}
      {% endfor %}
      {% for block in section.blocks %}
        {% assign current_index = '' | append: forloop.index %}
        <div
          class="
            block-container
            smi-block-postion-{{ forloop.index }}-{{ section.id }}
            content-alignment-{{ section.settings.content_alignment }}
            smi-content-position-{{ section.settings.content_position }}
            smi-block-type-{{ block.type }}
            smi-block-type-{{ block.type }}-{{ section.id }}
            {% if block.type == "button" %}
              {% if forloop.index < section.blocks.size %}
                smi-mb-lg
                {% endif %}
            {% endif %}
          "
        >
          <div
            class="
              smi-content-max-width
              smi-block-type-inside-{{ forloop.index }}-{{ section.id }}
                smi-block-type-inside-a-{{ block.type }}-{{ section.id }}
              {% if block.type == "button" %}
                smi-content-position-{{ section.settings.content_alignment }}
                content-alignment-{{ section.settings.content_alignment }}
              {% endif %}
                {% if block.type != "color" and block.type != "background" %}
                  {% if forloop.index <= section.blocks.size %}
                    {% if block.type == "collapsible_category" %}
                      {% if collapsible_type == "1" or collapsible_type == "3" %}
                        smi-pb-lg border-bottom-collapsible-content
                        {% else %}
                        {% if forloop.index < section.blocks.size %}
                          smi-mb-lg
                          {% endif %}
                      {% endif %}
                    {% elsif block.type == "button" %}
                      {% if forloop.index > 1 %} smi-mt-xl {% endif %}
                    {% elsif block.type == "collapsible_content" %}
                      border-content-container-{{ section.settings.collapsible_type }}
                      {% if category_index contains current_index %} smi-mb-xl
                      {% else %}
                        {% if collapsible_type == "2" %}
                            smi-mb-xs
                        {% endif %}
                      {% endif %}
                            {% comment %} smi-mb-md {% endcomment %}
                    {% endif %}
                  {% endif %}
                {% endif %}
            "
            {% if collapsible_type == '2' %}
              id="block-{{ block.type }}_{{ forloop.index }}_{{ section.id }}"
            {% endif %}
            {{ block.shopify_attributes }}
          >
            {% if block.type == 'collapsible_category' %}
              {% assign collapse_cate_index = collapse_cate_index | plus: 1 %}
              {% assign collapse_index = 0 %}
              <div class="smi-component-settings-collapsible-category- smi-component-settings-collapsible-category-{{ block.id }}">
  <style>
    .smi-component-settings-collapsible-category-{{ block.id }} .icon-size {
        width: {{ block.settings.icon_size }}px !important;
        height: {{ block.settings.icon_size }}px !important;
    }
    .smi-component-settings-collapsible-category-{{ block.id }} img {
      width: {{ block.settings.icon_size }}px !important;
      height: {{ block.settings.icon_size }}px !important;
    }
    .smi-component-settings-collapsible-category-{{ block.id }} svg {
      {% comment %} stroke-width: 0.1; {% endcomment %}
      width: {{ block.settings.icon_size }}px !important;
      height: {{ block.settings.icon_size }}px !important;
    }
    .smi-component-settings-collapsible-category-{{ block.id }} .category-heading {
      width: calc(100% - {{ block.settings.icon_size }}px - 12px);
    }
  </style>
  <div class="text-content">
    {% if block.settings.upload_icon != blank %}
        <div class="icon-left icon-size smi-mr-sm">
          {{
            block.settings.upload_icon
            | image_url: width: block.settings.icon_size, height: block.settings.icon_size
            | image_tag: loading: 'lazy', class: 'heading-feature-icon'
          }}
        </div>
      {% else %}
      {% if block.settings.icon != 'none' and block.settings.icon != "" and block.settings.icon != blank %}
            <div class="icon-left icon-size smi-mr-sm">
                <div class="icon-size">
                  {%- render 'smi-custom-icons', icon: block.settings.icon -%}
                </div>
              </div>
        {% endif %}
      {% endif %}
      <h2 class="{{ block.settings.heading_size }} category-heading">{{ block.settings.heading }}</h2>
  </div>
</div>
            {% endif %}
            {% if block.type == 'collapsible_content' %}
              {% assign collapse_index = collapse_index | plus: 1 %}
              {% comment %} {{ collapse_index }} {% endcomment %}
<div class="smi-component-blocks-collapsible-content">
{% if block.settings.heading != blank %}
<div class="numbered-collapsible
    collapsible-click
        smi-py-md 
        {% if section.settings.collapsible_type == "2" %}
            smi-px-lg
        {% endif %}
        {% if section.settings.collapsible_type == blank or section.settings.collapsible_type == '' %}
            numbered-collapsible-3
            {% else %}
            numbered-collapsible-{{ section.settings.collapsible_type }}
        {% endif %}"
        id="collapsible_detail_container_{{ forloop.index }}_{{ section.id }}"
        {% comment %} onclick="displayCollapContent('{{ forloop.index }}', '{{ section.id }}' )" {% endcomment %}
    >
            <div class="collapse-heading collapse-content-{{ forloop.index }}"
                >
               <span class="numbered-item-collapse smi-mr-xs {{ block.settings.heading_size }}">{{ collapse_index }}</span>
             <h3 class="collapse-title {{ block.settings.heading_size }} smi-link-wrapper">
                {{ block.settings.heading }}
             </h3>
             <div class="collapse-description-arrow">
                <span id="collapse_down_arr_{{ forloop.index }}_{{ section.id }}" 
                    class="collapse-desc-arr {% if collapse_index == 1 and section.settings.open_first_collapsible_row != false %} {% else %} collapse-desc-arr-show {% endif %}">
                    {% if section.settings.collapsible_type == "2" %}
                        {% render 'smi-icons', icon: 'plus' %}
                        {% else %}
                    {% render 'smi-icons', icon: 'arrow-down' %}
                    {% endif %}
                </span>
                <span id="collapse_up_arr_{{ forloop.index }}_{{ section.id }}"
                    class="collapse-desc-arr {% if collapse_index == 1 and section.settings.open_first_collapsible_row != false %} collapse-desc-arr-show {% endif %}">
                    {% if section.settings.collapsible_type == "2" %}
                        {% render 'smi-icons', icon: 'minus' %}
                        {% else %}
                    {% render 'smi-icons', icon: 'arrow-up' %}
                    {% endif %}
                </span>
              </div>
            </div>
        {% if block.settings.content != blank or block.settings.collapse_content_page != blank %}
            <div class="collapse-desc-content smi-link-wrapper {% if collapse_index == 1 and section.settings.open_first_collapsible_row != false %} collapse-desc-content-show collapse-desc-content-first-{{ section.id }} {% endif %} smi-mt-md smi-text-md smi-text-75" id="collapse_content_{{ forloop.index }}_{{ section.id }}">
             {{ block.settings.content }}
             {% if block.settings.collapse_content_page != blank %}
                <br>
                 {{ block.settings.collapse_content_page.content }}
             {% endif %}
            </div>
           {% endif %}
</div>
{% endif %}
</div>
            {% endif %}
            {% if block.type == 'button' %}
              <div class="smi-component-buttons smi-button-wrapper
    {%- if block.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless block.settings.first_button_style contains 'text' or block.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = block.settings.first_button_label
    assign button_style = block.settings.first_button_style
    assign button_link = block.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = block.settings.second_button_label
    assign button_style = block.settings.second_button_style
    assign button_link = block.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
	"name": "✧Collapsible 2-1",
	"tag": "section",
	"class": "smi-section smi-collapsible-content-2",
	"settings": [
		{
			"type": "inline_richtext",
			"id": "sub_heading",
			"label": "Subheading",
			"default": "URNA CRAS MAURIS"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Happy Customers Say"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h2"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
		},
		{
			"type": "text_alignment",
			"id": "heading_alignment",
			"label": "Heading alignment",
			"default": "center"
		},
		{
			"type": "select",
			"id": "collapsible_type",
			"label": "Collapsible row type",
			"options": [
				{
					"label": "1",
					"value": "1"
				},
				{
					"label": "2",
					"value": "2"
				},
				{
					"label": "3",
					"value": "3"
				}
			],
			"default": "1"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "checkbox",
			"id": "open_first_collapsible_row",
			"label": "Open first collapsible row",
			"default": false
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "collapsible_category",
			"name": "Category",
			"settings": [
				{
					"type": "select",
					"id": "icon",
					"label": "Icon",
					"options": [
						{
							"value": "none",
							"label": "None"
						},
						{
							"value": "award",
							"label": "Award",
							"group": "Shopping"
						},
						{
							"value": "bag-handle",
							"label": "Bag handle",
							"group": "Shopping"
						},
						{
							"value": "building",
							"label": "Building",
							"group": "Shopping"
						},
						{
							"value": "coupon",
							"label": "Coupon",
							"group": "Shopping"
						},
						{
							"value": "discount",
							"label": "Discount",
							"group": "Shopping"
						},
						{
							"value": "gift",
							"label": "Gift",
							"group": "Shopping"
						},
						{
							"value": "information",
							"label": "Information",
							"group": "Shopping"
						},
						{
							"value": "love",
							"label": "Love",
							"group": "Shopping"
						},
						{
							"value": "star",
							"label": "Star",
							"group": "Shopping"
						},
						{
							"value": "tag",
							"label": "Tag",
							"group": "Shopping"
						},
						{
							"value": "box",
							"label": "Box",
							"group": "Shipping"
						},
						{
							"value": "pin",
							"label": "Pin",
							"group": "Shipping"
						},
						{
							"value": "plane",
							"label": "Plane",
							"group": "Shipping"
						},
						{
							"value": "return",
							"label": "Return",
							"group": "Shipping"
						},
						{
							"value": "route",
							"label": "Route",
							"group": "Shipping"
						},
						{
							"value": "truck",
							"label": "Truck",
							"group": "Shipping"
						},
						{
							"value": "card",
							"label": "Card",
							"group": "Payment & Security"
						},
						{
							"value": "lock",
							"label": "Lock",
							"group": "Payment & Security"
						},
						{
							"value": "money",
							"label": "Money",
							"group": "Payment & Security"
						},
						{
							"value": "secure-profile",
							"label": "Secure profile",
							"group": "Payment & Security"
						},
						{
							"value": "shield",
							"label": "Shield",
							"group": "Payment & Security"
						},
						{
							"value": "wallet",
							"label": "Wallet",
							"group": "Payment & Security"
						},
						{
							"value": "cream",
							"label": "Cream",
							"group": "Beauty"
						},
						{
							"value": "facial-mask",
							"label": "Facial mask",
							"group": "Beauty"
						},
						{
							"value": "jewelry",
							"label": "Jewelry",
							"group": "Beauty"
						},
						{
							"value": "lipstick",
							"label": "Lipstick",
							"group": "Beauty"
						},
						{
							"value": "perfume",
							"label": "Perfume",
							"group": "Beauty"
						},
						{
							"value": "spa",
							"label": "Spa",
							"group": "Beauty"
						},
						{
							"value": "eco-friendly",
							"label": "Eco friendly",
							"group": "Ecology"
						},
						{
							"value": "global",
							"label": "Global",
							"group": "Ecology"
						},
						{
							"value": "leaf",
							"label": "Leaf",
							"group": "Ecology"
						},
						{
							"value": "recycle",
							"label": "Recycle",
							"group": "Ecology"
						},
						{
							"value": "tree",
							"label": "Tree",
							"group": "Ecology"
						},
						{
							"value": "at-sign",
							"label": "At sign",
							"group": "Technology"
						},
						{
							"value": "bluetooth",
							"label": "Bluetooth",
							"group": "Technology"
						},
						{
							"value": "camera",
							"label": "Camera",
							"group": "Technology"
						},
						{
							"value": "computer",
							"label": "Computer",
							"group": "Technology"
						},
						{
							"value": "game-control",
							"label": "Game control",
							"group": "Technology"
						},
						{
							"value": "network",
							"label": "Network",
							"group": "Technology"
						},
						{
							"value": "phone",
							"label": "Phone",
							"group": "Technology"
						},
						{
							"value": "printer",
							"label": "Printer",
							"group": "Technology"
						},
						{
							"value": "smart-watch",
							"label": "Smart watch",
							"group": "Technology"
						},
						{
							"value": "wifi",
							"label": "Wifi",
							"group": "Technology"
						},
						{
							"value": "avatar",
							"label": "Avatar",
							"group": "Communication"
						},
						{
							"value": "calendar",
							"label": "Calendar",
							"group": "Communication"
						},
						{
							"value": "chat",
							"label": "Chat",
							"group": "Communication"
						},
						{
							"value": "comment",
							"label": "Comment",
							"group": "Communication"
						},
						{
							"value": "happy",
							"label": "Happy",
							"group": "Communication"
						},
						{
							"value": "mail",
							"label": "Mail",
							"group": "Communication"
						},
						{
							"value": "quote",
							"label": "Quote",
							"group": "Communication"
						},
						{
							"value": "send",
							"label": "Send",
							"group": "Communication"
						},
						{
							"value": "support",
							"label": "Support",
							"group": "Communication"
						},
						{
							"value": "question",
							"label": "Question",
							"group": "Communication"
						},
						{
							"value": "user",
							"label": "User",
							"group": "Communication"
						},
						{
							"value": "beer",
							"label": "Beer",
							"group": "Food & Drink"
						},
						{
							"value": "bottle",
							"label": "Bottle",
							"group": "Food & Drink"
						},
						{
							"value": "coffee",
							"label": "Coffee",
							"group": "Food & Drink"
						},
						{
							"value": "cutlery",
							"label": "Cutlery",
							"group": "Food & Drink"
						},
						{
							"value": "dish",
							"label": "Dish",
							"group": "Food & Drink"
						},
						{
							"value": "hamburger",
							"label": "Hamburger",
							"group": "Food & Drink"
						},
						{
							"value": "pizza",
							"label": "Pizza",
							"group": "Food & Drink"
						},
						{
							"value": "baby",
							"label": "Baby",
							"group": "Other"
						},
						{
							"value": "check",
							"label": "Check",
							"group": "Other"
						},
						{
							"value": "document",
							"label": "Document",
							"group": "Other"
						},
						{
							"value": "error",
							"label": "Error",
							"group": "Other"
						},
						{
							"value": "file",
							"label": "File",
							"group": "Other"
						},
						{
							"value": "pet",
							"label": "Pet",
							"group": "Other"
						},
						{
							"value": "target",
							"label": "Target",
							"group": "Other"
						},
						{
							"value": "tick",
							"label": "Tick",
							"group": "Other"
						},
						{
							"value": "time",
							"label": "Time",
							"group": "Other"
						},
						{
							"value": "verify",
							"label": "Verify",
							"group": "Other"
						}
					],
					"default": "question"
				},
				{
					"type": "image_picker",
					"id": "upload_icon",
					"label": "Upload icon",
					"info": "128 x 128px .png recommended."
				},
				{
					"type": "range",
					"id": "icon_size",
					"min": 16,
					"max": 150,
					"step": 2,
					"label": "Icon size",
					"default": 24,
					"unit": "px"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"default": "<span>Amazing Flavor!</span>",
					"label": "Heading"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h5"
				}
			]
		},
		{
			"type": "collapsible_content",
			"name": "Collapsible row",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Collapsible heading"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h6"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Collapsible content</p>"
				},
				{
					"type": "page",
					"id": "collapse_content_page",
					"label": "Content from page"
				}
			]
		},
		{
			"type": "button",
			"name": "Buttons",
			"settings": [
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "checkbox",
					"id": "button_full_width",
					"label": "Button full-width",
					"default": false
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Collapsible content 2-1",
			"settings": {
				"sub_heading": "",
				"heading": "Frequently questions asked",
				"heading_size": "smi-h2",
				"description": "<p>Have questions about our products, or services? Find answers to the most common.</p>",
				"heading_alignment": "center",
				"collapsible_type": "3",
				"content_position": "center",
				"content_alignment": "left",
				"content_max_width": 780,
				"open_first_collapsible_row": true,
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_1"
			},
			"blocks": [
				{
					"type": "collapsible_category",
					"settings": {
						"icon": "none",
						"icon_size": 28,
						"heading": "Orders & Shipping",
						"heading_size": "smi-h4"
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "How do I care for my clothing?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "Do you offer international shipping?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "Can I return or exchange items?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "How often do you release new collections?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_category",
					"settings": {
						"icon": "none",
						"icon_size": 24,
						"heading": "Returns & Refunds",
						"heading_size": "smi-h4"
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "What is your return policy?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "How can I initiate a return or exchange?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "How long does it take to process a refund?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "collapsible_content",
					"settings": {
						"heading": "Do I have to pay for return shipping?",
						"heading_size": "smi-h5",
						"content": "<p>Crop hoodie sweatshirt. Sewn neck with hood with drawstring for adjustment, short sleeves. There is a kangaroo pocket on the front. Discoloration effect fabric, decorated with torn details. It is very easy to coordinate street style clothes, bringing a dynamic and youthful feeling.</p>",
						"collapse_content_page": ""
					}
				},
				{
					"type": "button",
					"settings": {
						"first_button_label": "View all faq",
						"first_button_link": null,
						"first_button_style": "solid",
						"second_button_label": "",
						"second_button_link": null,
						"second_button_style": "solid",
						"button_full_width": false
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
function displayFirstDesc(e,t,l){}function displayCollapContent(e,t){const l=document.querySelector(".smi-collapsible-content");if(l){let c=JSON.parse(l.getAttribute("data-load")).collapNum;try{document.getElementById(`collapse_content_${e}_${t.replace("smi-","")}`)?.classList.contains("collapse-desc-content-show")?(document.getElementById(`collapse_content_${e}_${t.replace("smi-","")}`)?.classList.remove("collapse-desc-content-show"),document.getElementById(`collapse_up_arr_${e}_${t.replace("smi-","")}`)?.classList.remove("collapse-desc-arr-show"),document.getElementById(`collapse_down_arr_${e}_${t.replace("smi-","")}`)?.classList.add("collapse-desc-arr-show")):(document.getElementById(`collapse_content_${e}_${t.replace("smi-","")}`)?.classList.add("collapse-desc-content-show"),document.getElementById(`collapse_up_arr_${e}_${t.replace("smi-","")}`)?.classList.add("collapse-desc-arr-show"),document.getElementById(`collapse_down_arr_${e}_${t.replace("smi-","")}`)?.classList.remove("collapse-desc-arr-show")),c&&("1"==c?document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)&&(document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)?.classList.contains("border-3-4-active")?document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)?.classList.remove("border-3-4-active"):document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)?.classList.add("border-3-4-active")):"1"!=c&&document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)&&(document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)?.classList.contains("border-2-active")?document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)?.classList.remove("border-2-active"):document.getElementById(`block-collapsible_content_${e}_${t.replace("smi-","")}`)?.classList.add("border-2-active")))}catch(e){}}}!function(){"use strict";class e{sectionEl=null;constructor(e){this.display2rdCollapsibleContent2(e),this.removeLastMB(e)}removeLastMB(e){const t=document.querySelector(`.smi-section-block-${e.replace("smi-","")}`);if(t){let l=JSON.parse(t.getAttribute("data-block")),c=parseInt(l.color_pos),s=parseInt(l.bkg_pos),o=parseInt(l.all_block),a=c>s?c:s,n=c>s?s:c,i=0;a==o&&(i=n==a-1?n-1:a-1),i>0&&["smi-mb-xxl","smi-mb-xl","smi-mb-lg","smi-mb-md","smi-mb-sm","smi-mb-xs"].forEach((t=>{document.querySelector(`.smi-block-postion-${i}-${e.replace("smi-","")}`).classList.remove(t)}))}}display2rdCollapsibleContent2(e){let t=document.getElementById(`collapsible_type_${e}`).value.toString();const l=document.querySelector(`.smi-collapsible-content-load2-${e.replace("smi-","")}`);if(console.log("PARENT NE"),l){let c=JSON.parse(l.getAttribute("data-load"));if(1==c.openFirst){let l=document.querySelectorAll(`.collapse-desc-content-first-${e.replace("smi-","")}`);if(l.length>0)for(let c=0;c<l.length;c++){let s=l[c].id.split("_")[2];displayFirstDesc(`collapse_content_${s}_${e.replace("smi-","")}`,`collapse_down_arr_${s}_${e.replace("smi-","")}`,`collapse_up_arr_${s}_${e.replace("smi-","")}`),"2"!=t&&2!=t||document.getElementById(`block-collapsible_content_${s}_${e.replace("smi-","")}`.trim())?.classList.add("border-2-active")}}let s=parseInt(c.size);console.log("size: ",s);for(let t=1;t<=s;t++)document.getElementById(`collapsible_detail_container_${t}_${e.replace("smi-","")}`)&&(i_c2=t,document.getElementById(`collapsible_detail_container_${t}_${e.replace("smi-","")}`).addEventListener("click",(()=>{i_c2=t,"false"==kcheckCollap2&&(document.getElementById(`collapse_content_${i_c2}_${e.replace("smi-","")}`)?.classList.contains("collapse-desc-content-show")?(document.getElementById(`collapse_content_${i_c2}_${e.replace("smi-","")}`)?.classList.remove("collapse-desc-content-show"),document.getElementById(`collapse_up_arr_${i_c2}_${e.replace("smi-","")}`)?.classList.remove("collapse-desc-arr-show"),document.getElementById(`collapse_down_arr_${i_c2}_${e.replace("smi-","")}`)?.classList.add("collapse-desc-arr-show")):(document.getElementById(`collapse_content_${i_c2}_${e.replace("smi-","")}`)?.classList.add("collapse-desc-content-show"),document.getElementById(`collapse_up_arr_${i_c2}_${e.replace("smi-","")}`)?.classList.add("collapse-desc-arr-show"),document.getElementById(`collapse_down_arr_${i_c2}_${e.replace("smi-","")}`)?.classList.remove("collapse-desc-arr-show")),document.getElementById(`block-collapsible_content_${i_c2}_${e.replace("smi-","")}`)&&(document.getElementById(`block-collapsible_content_${i_c2}_${e.replace("smi-","")}`)?.classList.contains("border-2-active")?document.getElementById(`block-collapsible_content_${i_c2}_${e.replace("smi-","")}`)?.classList.remove("border-2-active"):document.getElementById(`block-collapsible_content_${i_c2}_${e.replace("smi-","")}`)?.classList.add("border-2-active"))),kcheckCollap2="true",setTimeout((()=>{kcheckCollap2="false"}),250)})))}}}document.addEventListener("DOMContentLoaded",(()=>{new e("smi-{{ section.id }}")})),Shopify.designMode&&new e("smi-{{ section.id }}")}();var i_c2,kcheckCollap2="false",secC2="";if(window.addEventListener("DOMContentLoaded",(()=>{secC2="smi-{{ section.id }}",changeMarginButtonBlock()})),Shopify.designMode){secC2="smi-{{ section.id }}",changeMarginButtonBlock()}function changeMarginButtonBlock(){let e=document.querySelectorAll(".smi-block-type-button");for(let t=0;t<e.length;t++){let l=e[t].nextElementSibling;if(l&&(l?.classList.contains("smi-block-type-button")&&(e[t]?.classList.remove("smi-mb-lg"),e[t]?.classList.add("smi-mb-md")),l?.classList.contains("smi-block-type-color"))){let c=l.nextElementSibling;c?.classList.contains("smi-block-type-button")&&(e[t]?.classList.remove("smi-mb-lg"),e[t]?.classList.add("smi-mb-md"))}}}
</script>